<div class="exam_wood freecombination ui_dev_layout">
    <div class="com_layout com_layout_large_ui">
        <div class="com_lay_main freeCombination_wrapper">
            <div class="com_lay_header">
                <div id="topSpace" style="display: none"></div>
                <div class="freeCombination_top_menu" fc_tools question="question" modules="modules">
                </div>
            </div>
            <div class="com_lay_contain">
                <div class="com_lay_mboard">
                    <div class="com_lay_boardtit" ng-click="hideClickEvent($event)">
                        <h2 class="com_u_boardtit"  ng-class="{'max-length':titleTooLong()}">
                            <textarea class="tit" ng-model="panelTitle" ng-focus="setCurrentEditor($event,'title')"
                                 maxlength="70" ng-class="{'s_tit':titleLength()>40}"
                                 on-mouse-down="cancelToolbar()" onfocus="this.placeholder = ''"
                                 onblur="this.placeholder = '请输入70字以内的标题'"  placeholder="请输入70字以内的标题"
                                 ng-keydown="handleTitleKey($event)">
                            </textarea>
                        </h2>
                        <div title-attachment="attachments"></div>
                    </div>
                    <div class="com_lay_board">
                        <div fc-stage class="freeCombination_content" modules="modules"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>