<div class="com_layout com_layout_large">
    <div class="com_lay_main">
        <div class="com_lay_header">
            <div class="com_u_timebox">
                <span class="time_1 GameQuestionTimer_minute"></span>
                <span class="time_2">:</span>
                <span class="time_1 GameQuestionTimer_second"></span>
            </div>
        </div>
        <div class="com_lay_contain punctuation_box">
	        <div class="mark_point_container"> 
				<div class="mark_point_layout">
				    <div class="mark_point_title">
				    	<h2 class="title_wrapper" >	        
				        	<p contenteditable="true" class="model_title"></p>
				        </h2>	         
				    </div>
				    <div class="mark_point_body com_lay_board">
				    	<div class="punctuation_container">	    		
					        <div class="punctuation_container2">	
						        <div class="mark_point_content punctuation_text_main" contenteditable="true">                
						        </div>			         			    
						    </div>
						    <div class='answer_button'>设为选项</div>	
				        </div>
				        	 		              
				        <span class="content_size_wrapper count_character"><span class='mark_point_content_size num_now'></span>/ <span class="num_all">200</span></span>
				   		<div class="quick_actions_box">
			                <!-- 点击之后按钮变成不可编辑的状态添加类名 btn_disabled -->
			                <a class="foot_title_operate com_u_btn2">一键设为选项111</a>
			                <a class="foot_title_operate com_u_btn3">一键还原</a>
						</div>
					    <div class="mark_point_footer punctuation_bottom">
					        <div class="foot_title_wraper">
					        	<div class="foot_title answer_title">标点选项</div>
					        	<a class="answer_item_prev icon_turn prev"></a>  
					        	<div class="pun_answer_box">
						        	<ul class="foot_content answer_list punctuation_list list_bot clearfix">
						        	
						        	</ul>
					        	</div>		        	
					        	<a class="answer_item_next icon_turn next"></a> 		        	
					        	<a class="foot_title_operate com_u_btn4">+添加干扰项</a>
					        </div>		       
					    </div>
					    <div class="confuse_answers btnselect" style="display:none">
					     	<i class="tips"></i>
				        	 <ul class="answer_list punctuation_list clearfix"> 
				        	
					        </ul>
					        <div class="surebox">
					        	<a class="confuse_answers_close_button surebtn">关闭</a>
					        </div>
				        </div>
				    </div>	
				</div>
			</div>
		</div>
	</div> 
</div>
