.com_lay_board 
{
	overflow-y:hidden;
}
#wrap {  
    width: 100%;    
    height:100%;    
    margin: 0 auto;  
    overflow:hidden;        
}  
#wrap .left {  
    margin-right: -300px;  
    float: left;  
    width: 100%;  
    height:100%;
}  
#wrap .left .tag{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 45px;
    height: 45px;
    filter: alpha(Opacity=50);
    opacity:0.50; 
    background-color: black;
    border-radius: 17px;
    z-index:999;    
}

#wrap .left .tag .bg{
    width: 31px;
    height: 31px;
	margin-top: 7px;
    margin-left: 7px;   	
    
    background-position:0px 0px;	
	background-repeat:round;
	cursor:pointer;
	background-image: url(../images/wood/tag.png); */
}
  
#wrap .left .content {  
 	border: 1px solid #333;  
    margin-right: 300px;  
    min-height:410px;
    height:100%;   		
	border: 1px solid rgb(0, 0, 0);	
	-webkit-border-radius: 5px;/*Safari, Chrome*/
	-moz-border-radius: 5px;/*Firefox*/
	border-radius: 5px;	
	vertical-align: middle;   
}  

#wrap .left .content .comicdialoguebg
{
	margin-left: auto;
	margin-right: auto;
   	background-repeat:round;
   	background-position:0px 0px;   		
   	display: inline-block;  	
}

#wrap .right {  
    width: 300px;  
    float: right;
}  

#wrap .right .icon{	
	float:left;
    background-color:gray;
    width:24px;
    height:24px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius:13px;
}
#wrap .right .icon .iconimg{
	margin:3px;
	background-image:url(../images/wood/tag.png);
	background-position:0px 0px;	
	background-repeat:round;
	width:18px;
	height:18px;
}

  
.clearfix:after {  
    height: 0;  
    content: ".";  
    display: block;  
    clear: both;  
    visibility: hidden;  
}  

.tip{
    width:100px;
    height:75px;
    position: absolute;
	cursor:move;
    z-index:2;
}
.tip .tip-bg{
    
}

.tip .move-area {
    width:100%;
    height:100%;
    display:block;
    left: 0px;
    top: 0px;
    position: absolute;
}
.tip .text-area{
    width: 80px;
    height: 40px;
    display: table; 
    table-layout: fixed;
    overflow: hidden;
    margin: 0 auto;
    position:absolute;
    left: 10px;
    top: 0px;
}
.tip .text-cell{
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: table-cell; 
    vertical-align: middle;
}
.tip .text-input{
    text-align: center;
    word-wrap: break-word;
}
.tip .diretion-y-l {
    -webkit-text-orientation: upright;
    -moz-text-orientation: upright;
    -ms-text-orientation: upright;
    text-orientation: upright;
    -ms-writing-mode: tb-lr;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr
}
.tip .diretion-y-r {
    -webkit-text-orientation: upright;
    -moz-text-orientation: upright;
    -ms-text-orientation: upright;
    text-orientation: upright;
    -ms-writing-mode: tb-lr;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl
}
.tip .move-area ._resize {
    position:absolute;
    z-index: 2;
    width: 6px;
    height: 6px;
    border:2px solid gray; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:5px;
    background-color: white;
}
.tip .move-area ._nw {
    top: -4px;
    left: -4px;
    cursor: nw-resize;
}
.tip .move-area ._w {
    top: 50%;
    left: -4px;
    cursor: w-resize;
}
.tip .move-area ._sw {
    bottom: -8px;
    left: -4px;
    cursor: sw-resize;
}
.tip .move-area ._s {
    bottom: -8px;
    left: 50%;
    cursor: s-resize;
}
.tip .move-area ._se {
    bottom: -8px;
    right: -4px;
    cursor: se-resize;
}
.tip .move-area ._e {
    top: 50%;
    right: -4px;
    cursor: e-resize;
}
.tip .move-area ._ne {
    top: -4px;
    right: -4px;
    cursor: ne-resize;
}
.tip .move-area ._n {
    top: -4px;
    left: 50%;
    cursor: n-resize;
}
.tip .move-area .btn-area {
    position: absolute;
    z-index: 2;
    left: 0px;
    width: 106px;
    height: 24px;
    line-height: 22px;
    background-color: white;
    border-left: 1px solid gray;
}
.tip .move-area .area-t {
    top: -30px;
}
.tip .move-area .area-b {
    bottom: -35px;
}

.tip .move-area .btn-area span {
    cursor:pointer;
    font-size:12px;
    padding:0px 5px;
    border:1px solid gray; 
    border-left:0px;
    float: left;
    background-color:white;
    color:black;
}
.tip .move-area .btn-area .active {
    background-color:gray;
    color:white;
}



/*气泡盒子*/
.bubble_box
{
	position: absolute;
    background-color:#666666;
    width:275px;
    height:350px;
    -webkit-border-radius: 5px;/*Safari, Chrome*/
    -moz-border-radius: 5px;/*Firefox*/
    border-radius: 5px;
    /*display:none;*/
    z-index:9999;
}

/*气泡盒子标题*/
.box_title
{
	height: 52px;      
}        
.box_title .tab-com
{
	float: left;
	width: 127px;
	text-align: center;
	background-color: white;
	height: 28px;
	line-height : 28px;     
	border: solid 1px #8E8E8E;
	cursor: pointer;
}
.box_title .first
{
	margin: 8px 0px 0px 8px; 
	-webkit-border-radius: 5px 0 0 5px;/*Safari, Chrome*/
	-moz-border-radius: 5px 0 0 5px;/*Firefox*/
	border-radius: 5px 0 0 5px;
} 
.box_title .second
{   
	margin: 8px 0px 0px 0px;
	-webkit-border-radius: 0 5px 5px 0;/*Safari, Chrome*/
	-moz-border-radius: 0 5px 5px 0;/*Firefox*/
	border-radius: 0 5px 5px 0;        	        	        	
}
.box_title .current
{
	background-color: #FFDD00;   
	font-weight: bold;    	     
	border: solid 2px #3C3C3C;   	        	        	        	        	
}        

.box_background
{
	background-color: #272727;
	height: 92px;
	width: 275px;    
	overflow-x:auto;        	        	        	
}
.box_background .item
{
	margin: 5px;
	float: left;
	background-color: #3C3C3C;
	height: 78px;
	width: 81px;
    border: solid 2px #3C3C3C; 
    cursor:pointer;
}

.box_background .item img
{
    margin:10px 0px 0px 0px;
    text-align:center;
}

.box_background .current
{
	border: solid 2px white; 
}
        
.box_background_color
{        	
	height: 185px; 
}
.box_background_color .title
{
	height: 40px;
	width: 275px; 
	padding-left: 10px;
} 
.box_background_color .title span
{
	line-height: 40px;  
	color: white; 
	font-weight: bold; 
} 

.box_background_color .container
{
	height: 155px;
	width: 275px; 
	background: #272727;
}       
.box_background_color .container div
{
	float: left;
	margin: 12px;
	background-color: crimson;    
	height: 25px;
	width: 25px;    
	-webkit-border-radius: 5px;/*Safari, Chrome*/
    -moz-border-radius: 5px;/*Firefox*/
    border-radius: 5px;	        	
    cursor :pointer;
}
.box_background_color .container .FFFF6699
{
	background-color: #FF6699;
}
.box_background_color .container .FFBEC3C7
{
	background-color: #BEC3C7;        	        	
}
.box_background_color .container .FF808B8D
{
	background-color: #808B8D;        	        	
}
.box_background_color .container .FFFFFFFF
{
	background-color: #FFFFFF;        	        	
}
.box_background_color .container .FFFF00CC
{
	background-color: #FF00CC;        	        	
}
.box_background_color .container .FF96A6A6
{
	background-color: #96A6A6;        	        	
}
.box_background_color .container .FF666666
{
	background-color: #666666;        	        	
}
.box_background_color .container .FF333333
{
	background-color: #333333;        	        	
}

.box_background_color .container .current
{
	border: solid 2px white;             	
}

.bubble_box_text
{
	
}

.bubble_box_text_item
{
    line-height: 50px;     
	height: 50px;
	width: 240px; 	        
	color: white;
	margin: 0px 0px 0px 10px;
	font-weight: bold;
	border-bottom: solid 1px #999999;   
	float: left;     	
}

.text_item_title
{        
	width:80px;
	float: left; 
}

.text_item_options
{
	float: left;     
	height: 50px;	
	width: 130px;
    cursor:pointer;
}

.text_item_options .option_color
{
	margin: 12px 10px 0px 0px;         	        	
}
                

.text_item_options .text_item_color 
{
	float: left;
	width: 25px;
	height: 25px;
	/*background-color: coral;*/
	-webkit-border-radius: 10px;/*Safari, Chrome*/
    -moz-border-radius: 10px;/*Firefox*/
    border-radius: 10px;	
}        

.text_item_options .text_item_font
{
	width: 60px;
    height:50px;
	text-align: left; 
	float: left;
}
.text_item_options .text_item_font img
{
    margin:15px 5px 5px 5px;
}

.text_item_options .text_item_diretion
{        	
	width: 50px;
    height:30px;
	text-align: center;
	float: left;  
    margin:10px 0px 0px 0px;
    line-height:30px;
    border: solid 2px transparent;         
}

.text_item_options .text_item_align
{        	
	width: 38px;	
    height:35px;
	text-align: center;
	float: left;  
	margin: 8px 0px 0px 0px;
    border: solid 2px transparent;         
}

.text_item_options .current
{
	border: solid 2px white;   	
	-webkit-border-radius: 5px;/*Safari, Chrome*/
    -moz-border-radius: 5px;/*Firefox*/
    border-radius: 5px;
}

.bubble_box_text_item_font {

    line-height: 35px;     
	height: 35px;
	width: 240px; 	        
	color: white;
	margin: 0px 0px 0px 10px;
	/*font-weight: bold;*/
	border-bottom: solid 1px #999999;   
	float: left;  
    cursor:pointer;
}


.bubble_box_text_item_color {

    line-height: 35px;     
	height: 35px;
	width: 240px; 	        
	color: white;
	margin: 0px 0px 0px 10px;
	/*font-weight: bold;*/
	border-bottom: solid 1px #999999;   
	float: left;  
    cursor:pointer;
}

.bubble_box_text_item_color_container {

}
.bubble_box_text_item_color_container div {
    float: left;  
    margin: 9px;
	background-color: crimson;    
	height: 25px;
	width: 25px;    
	-webkit-border-radius: 5px;/*Safari, Chrome*/
    -moz-border-radius: 5px;/*Firefox*/
    border-radius: 5px;	        	
    cursor :pointer;

}


.tab0 {display: block; }
.tab1 {display: none; }
.tab2 {display: none; }
.tab3 {display: none; }