<div class="ed_composition_mindx" style="font-size: 24px">
    <!-- 绘图区 -->
    <div class="ed_composition_mindx_svgbox _minderMap">
        <!--  这里放入svg内容 -->
    </div>
    <!-- 工具栏 -->
    <!-- 复用思维导图按钮结构 by: cjj 工号：232249 2017-2-23 -->
    <!-- 作文提纲重用思维导图按钮部分添加样式： ed_composition_mindx_btn -->
    <div class="mindMap_box ed_composition_mindx_btn">
        <div class="mindMap_tools">
            <div class="button_modules">
                <div class="com_part_toolbar _toolBar">
                    <!-- 在li上添加样式 按钮的点击状态:ui_btn_act
                                    不可点击状态：click_diasbled -->
                    <ul class="mindMap_ly_item">
                        <li class="mindMap_btn_makePos"
                            _mark="rootLeftBtn">
                            <a class="com_btn_square_tool" href="javascript:;"
                               _mark="rootLeftBtn">
                                <i class="com_btn_pic"
                                   _mark="rootLeftBtn">
                                </i>
                                <em class="com_btn_text" 
                                    _mark="rootLeftBtn" 
                                    i18n-render 
                                    i18n-key="mindermap_location">
                                    <!-- 定位 -->
                                </em>
                            </a>
                        </li>
                        <li class="mindMap_btn_gro" 
                            _mark="matchParent">
                            <a class="com_btn_square_tool" href="javascript:;" 
                               _mark="matchParentBtn">
                                <i class="com_btn_pic" 
                                   _mark="matchParentBtn"></i>
                                <em class="com_btn_text" 
                                    _mark="matchParentBtn"
                                    i18n-render 
                                    i18n-key="mindermap_match_parent">
                                    <!-- 全局 -->
                                </em>
                            </a>
                        </li>
                    </ul>
                    <ul class="mindMap_gr_item">
                        <!-- click_disabled -->
                        <li class="mindMap_btn_clear click_disabled _undo_btn" 
                            _mark="undoBtn">
                            <a class="com_btn_square_tool" 
                               href="javascript:;" 
                               _mark="undoBtn">
                                <i class="com_btn_pic" _mark="undoBtn"></i>
                                <em class="com_btn_text" 
                                    _mark="undoBtn" 
                                    i18n-render 
                                    i18n-key="mindermap_undo">
                                    <!-- 撤销 -->
                                </em>
                            </a>
                        </li>
                        <!-- ui_btn_act -->
                        <li class="mindMap_btn_reback click_disabled _redo_btn" _mark="redoBtn">
                            <a class="com_btn_square_tool" href="javascript:;" _mark="redoBtn">
                                <i class="com_btn_pic" _mark="redoBtn"></i>
                                <em class="com_btn_text" 
                                    _mark="redoBtn" 
                                    i18n-render 
                                    i18n-key="mindermap_redo">
                                    <!-- 还原 -->
                                </em>
                            </a>
                        </li>
                    </ul>
                    <ul class="mindMap_progressbar _progress_bar">
                        <li class="mindMap_progress_num _progress_percent">100%</li>
                        <li class="mindMap_btn_procut _progress_minus_btn">
                            <a class="com_btn_square_tool" href="javascript:;">
                                <i class="com_btn_pic"></i>
                            </a>
                        </li>
                        <li class="mindMap_pro_bar _slide_bar" _mark="slideBar">
                            <b style="left: 50%" class="_slide_block"></b>
                        </li>
                        <li class="mindMap_btn_proadd _progress_plus_btn">
                            <a class="com_btn_square_tool" href="javascript:;">
                                <i class="com_btn_pic"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
