<div style="z-index: 999" class="ed_composition_pop pop_viewdemo with_arrow">
    <!-- hide_dom -->
    <div class="ed_composition_pop_header">
        <div ng-class="{'show_box':isShowSpinner}" class="ed_composition_chosetype">
            <a ng-show="compositionStyle===0"
               ng-click="toggleSpinner()"
               href="javascript:;" 
               class="ed_composition_type_btn static_typename _composition_form" 
               i18n-render 
               i18n-key="narration">
                <!-- 记叙文 -->
            </a>
            <div class="ed_composition_chosetype_box">
                <!-- click-disabled -->
                <a ng-click="toggleSpinner($event)" 
                   href="javascript:;" 
                   _mark="narration"
                   class="ed_composition_type_btn" 
                   i18n-render 
                   i18n-key="narration">
                    <!-- 记叙文 -->
                </a>
                <a ng-click="toggleSpinner($event)"  
                   href="javascript:;" 
                   _mark="argumentation"
                   class="ed_composition_type_btn"
                   i18n-render 
                   i18n-key="argumentation">
                    <!-- 议论文 -->
                </a>
                <a ng-click="toggleSpinner($event)"
                   href="javascript:;" 
                   _mark="expositoryWriting"
                   class="ed_composition_type_btn"
                   i18n-render 
                   i18n-key="expository_writing">
                    <!-- 说明文 -->
                </a>
            </div>
        </div>
        <ul class="ed_composition_pop_tab">
            <li ng-class="{'ui_btn_select':isShowOutlineCase}" 
                _mark="outline_case"
                class="tabcell"
                i18n-render 
                i18n-key="outline_example">
              <!-- 提纲范例 -->
            </li>
            <li ng-class="{'ui_btn_select':isShowCompositionCase}" 
                _mark="composition_case"
                class="tabcell"
                i18n-render 
                i18n-key="composition_example">
              <!-- 作文范例 -->
            </li>
        </ul>
    </div>
    <div class="ed_composition_pop_view">
        <div ng-show="isShowOutlineCase"
             class="ed_composition_minder_wrap _outline_case">
        </div>
        <div class="ed_composition_view_wrap _composition_case"
             ng-show="isShowCompositionCase">
        </div>
    </div>
</div>
