<div style="z-index: 999" class="ed_composition_pop pop_cl_spare">
    <div class="btn_close _close_reserve_check_list_btn" _mark="closeReserveCheckListBtn"></div>
    <div class="ed_composition_cl_box">
        <div class="ed_composition_cl_header">
            <p class="title" i18n-render i18n-key="reserve_checklist">
                <!-- 备用检查清单 -->
            </p>
        </div>
        <div class="ed_composition_cl_content">
            <ul class="ed_composition_cl_list scrollbar_style_brown">
                <li style="-webkit-user-select:none;"
                    class="cl_spare_cell"
                    ng-repeat="item in reserveCheckListItems">
                    <span class="spare_cell_txt"
                          ng-bind="item.text">
                    </span>
                    <span class="spare_cell_restore"
                          _mark="recoverItemBtn"
                          _itemIdx="{{$index}}" 
                          ng-show="true" 
                          i18n-render 
                          i18n-key="recover_btn">
                        <!-- 恢复 -->
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
