<div class="exam_skin_wood">
    <div class="com_layout">
        <div class="com_wrapper_board"> <!-- pad端加.com_wrapper_pad，白板端加.com_wrapper_board -->
            <!--头部-->
            <div class="com_layout_header">
                <!--计时器-->
                <div class="com_header_time">
                    <div class="com_time ">
                        <span class="time_m"><em>05</em></span>
                        <i>:</i>
                        <span class="time_s"><em>21</em></span>
                    </div>
                    <p class="upload">提交人数：<span class="num">35</span>/50</p>
                </div>
                <!--/计时器-->
                <!--提交按钮-->
                <div class="com_header_tool">
                    <a class="com_btn_round " href="javascript:;">
                        <span class="icons_box"></span>
                        <span class="text_box">提&nbsp;&nbsp;交</span>
                    </a>
                </div>
                <!--/提交按钮-->

            </div>
            <!--/头部-->
            <div>
                <!--主体内容-->
                <div class="com_layout_container"><!-- 没有标题时加.notit -->

                </div>
                <!--/主体内容-->
            </div>
        </div>
    </div>
</div>