<div class="exam_skin_wood">
    <div class="com_layout">
        <div class="com_wrapper_pad"> <!-- pad端加.com_wrapper_pad，白板端加.com_wrapper_board -->
            <!--头部-->
            <div class="com_layout_header">
                <!--计时器-->
                <div class="com_header_time">
                    <div class="com_time _top_left_panel">
                        <!--<span class="time_m"><em>00</em></span>
                        <i>:</i>
                        <span class="time_s"><em>00</em></span>-->
                    </div>
                    <p class="upload"><b class="upload_text">提交人数：</b><span class="num">00</span>/00</p>
                </div>
                <!--/计时器-->
                <!--提交按钮-->
                <div class="com_header_tool _top_right_panel">
                    <!--底部按钮区-->
                </div>
                <!--/提交按钮-->

            </div>
            <!--/头部-->
            <div>
                <!--主体内容-->
                <div class="com_layout_container _center_panel">
                    <div class="pptshell_mask _mask_Panel"></div>
                </div>
                <!--/主体内容-->
            </div>
        </div>
    </div>
    <div class="notice_tip_box displaynone">
        <div class="notice_tip_con">
            <p class="notice_tip_text"></p>
        </div>
    </div>
    <div class="mix__messagebox _message_panel" style="display: none;"><!-- 全屏遮罩的弹出信息窗体 -->

    </div>
</div>