<div class="mix-layout--full"><!-- 全屏木纹 -->

    <div class="mix-layout__container env-pptshell statistic-view "><!-- 主体页面居中 其他状态有 start-answer  statistic-view mix-layout--classE mix-layout--classF -->
        <div class="mix-container__modules mix__scrollbar--style1"><!-- 主体页面上下滚动条容器 -->
            <div class="mix-container__statistic mix-statistic--halfscreen " ><!-- 半屏的统计区域 -->
                <div class="stat_wood">
                    <!-- 下拉时加 pull_down -->
                    <div class="com_layout _statistics_panel">
                        <a class="uicom_icon_pull layout_handle"><span class="icon"></span></a>
                    </div>
                </div>

            </div>
            <div class="mix-container__presenter layout_presenter"><!-- 习题展示区域 -->

                <div class="exam_skin_wood">
                    <div class="com_layout">
                        <div class="com_wrapper_board"> <!-- pad端加.com_wrapper_pad，白板端加.com_wrapper_board -->
                            <!--头部-->
                            <div class="com_layout_header">
                                <!--计时器-->
                                <div class="com_header_time">
                                    <div class="com_time _top_left_panel">

                                    </div>
                                    <p class="upload"><b class="upload_text">提交人数：</b><span class="num _num">00</span>/<span class="_count">00</span></p>
                                </div>
                                <!--/计时器-->
                                <!--提交按钮-->
                                <div class="com_header_tool _bottom_panel">

                                </div>
                                <!--/提交按钮-->

                            </div>
                            <!--/头部-->
                            <!--主体内容-->
                            <div class="com_layout_container _center_panel">
                                <div class="pptshell_mask _mask_Panel"></div>
                            </div>
                            <!--/主体内容-->
                            <!--预览提交结果弹窗-->
                            <div class="bg_pop pop_result">
                                <p class="text"></p>
                            </div>
                            <!--预览提交结果弹窗-->
                        </div>
                    </div>
                    <div class="notice_tip_box displaynone">
                        <div class="notice_tip_con">
                            <p class="notice_tip_text"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class=""><!-- 发送习题的按钮 -->
            <div class="exam_skin_wood _bottom_right_panel">

            </div>
        </div>
        <div class="mix__toolbar-wrap "><!-- 统计界面相关按钮 -->
            <div class="stat_wood">
                <div class="com_layout ">
                    <div class="layout_footbar layout_footer_bottom _foot_bar_panel">
                        <!--底部按钮控件-->
                    </div>
                </div>
            </div>
        </div>
        <div class="mix__toolbar-wrap--switch" style="display:none;"><!-- 统计里面复合题的底部按钮 -->

        </div>
    </div>
    <div class="mix__messagebox _message_panel" style="display: none;"><!-- 全屏遮罩的弹出信息窗体 -->

    </div>
</div>