*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.top_part, .bottom_part{
	position: relative;
	min-height: 80px;
}
.section_mainBox{
	border: 1px solid #ccc;
}
.add_section_btn{
	display: block;
	width:  100%;
	height: 50px;
	line-height: 50px;
	border: 1px solid blue;
	color:  blue;
	font-size: 16px;
	text-align: center;
}

.sectionBox{
	margin-top: 10px;
	position: relative;
	border: 1px solid #ccc;
}
.sectionBox .del_icon{
	position: absolute;
	top:  0;
	right: 100px;
	font-size: 12px;
	display: none;
}
.sectionBox:hover .del_icon{
	display: inline-block;
}
.sectionBox{
	display: -webkit-box;
	display: flex;
}
.left_part{
	width: 50px;
	height: 50px;
	text-align: center;
	position: relative;
}
.right_part{
	-webkit-box-flex: 1;
	flex: 1;
	padding-left: 20px;
}


.section_role{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 5px;
}
.section_role>img{
	position: relative;
	z-index: 10;
}
.section_role img{
	width: 100%;
	height: 100%;
}

.section_role .section_all_roles{
	display: -webkit-box;
	position: absolute;
	top: 0;
	left: 50px;
	padding-left: 10px;
	background: green;
}
.section_role .section_all_roles li{
	display: block;
	width: 50px;
	height: 50px;
	padding: 5px;
}
.section_role .section_all_roles li a{
	display: block;
	width: 100%;
	height: 100%;
}

.section_content{
	font-size: 18px;
}


.add_role_btn{
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 30px;
}
.top_part .section_all_roles{
	left: 70px;
	background: transparent;
}
.top_part .section_role .section_all_roles li{
	margin: 10px;
	position: relative;
	width: 60px;
	height: 60px;
	background: #ccc;
}
.del_role_btn{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
.top_part .section_role .section_all_roles li:hover .del_role_btn{
	display: inline-block;
}
.select_box{
	position: relative;
	padding:  20px;
	border: 1px solid red;
	display: -webkit-box;
	display: flex;
	text-align: center;
	background: yellow;
}
.select_box a{
	display: block;
	webkit-box-flex: 1;
	flex: 1;
}
.close_box{
	position: absolute;
	right: 0;
	top: 0;
}
.record_box{
	padding:  20px 0;
	background: yellow;
	border: 1px solid #ccc;
}
