<?xml version='1.0' encoding='UTF-8' ?>
<module id='ChineseCharacterDictation'>
	<properties>
        <property name='QuestionId' type='string'/>
        <property name='QuestionType' type='string'/>
        <property name='QuesitonTitle' type='string'/>
        <property name='QuestionContent' type='json'/>
        <property name="TimerType" type="string"/>
        <property name="TimeLimit" type="number"/>
    </properties>
</module>
