<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div class="app">

        <role-read-answer-detail :content='content'></role-read-answer-detail>


    </div>

    <script src="../../../node_modules/vue/dist/vue.min.js"></script>
    <script src="../../../../dist/components.js"></script>

    <script>
        var app = new Vue({
            el: ' .app ',
            data: {
                content: "发V热发V人V让他V高投入"
            },
            components: {
                'RoleReadAnswerDetail': window.__ModuleComponent.RoleReadAnswerDetail
            }
        });
    </script>
</body>

</html>