@charset "UTF-8";

.exam_skin_wood {
  .physicspower_compose_prompt .con_detail .tip_choose b, .physicspower_decompose_prompt .con_detail .tip_choose b {
    font-weight: 400;
  }
  .physicspower_box {
    width: 100%;
    height: 100%;
    background: #bfd3e2;
    padding: 3.33333em 5.16667em 6.25em;
  }
  .physicspower_main_box {
    background: url(resources/images/main_bg.png);
    width: 100%;
    height: 100%;
    border-radius: .41667em;
  }
  .physicspower_handle_tools {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 105;
    height: 4.79167em;
    padding: 0 4em;
    background: rgba(255, 255, 255, 0.25);
    text-align: center;
    li {
      display: inline-block;
      margin: 0 2.29167em;
      position: relative;
      &.vertical_line {
        border-left: 1px solid #bfcad2;
        border-right: 1px solid #f8fafc;
        top: 5%;
        position: relative;
        height: 90%;
      }
      > a {
        display: block;
        padding-top: .5em;
        &.active p, &:active p {
          color: #10afb5;
        }
        p {
          color: #292525;
          font-size: 1.16667em;
          margin-top: .20833em;
        }
        i {
          display: block;
          width: 2.375em;
          height: 2.16667em;
          margin: 0 auto;
        }
        &.disabled {
          cursor: default;
          p {
            color: #a9b6c0;
          }
        }
      }
      .tool_affectpoint {
        i {
          width: 2.16667em;
          height: 2.16667em;
          background: url(resources/images/tool_zuolidian_normal.png) no-repeat;
          background-size: 100% 100%;
        }
        &.active i, &:active i {
          background: url(resources/images/tool_zuolidian_active.png) no-repeat;
          background-size: 100% 100%;
        }
      }
      .tool_drawingforce {
        i {
          background: url(resources/images/tool_huali_normal.png) no-repeat;
          background-size: 100% 100%;
        }
        &.active i, &:active i {
          background: url(resources/images/tool_huali_active.png) no-repeat;
          background-size: 100% 100%;
        }
      }
      .tool_compose {
        i {
          background: url(resources/images/tool_hecheng_normal.png) no-repeat;
          background-size: 100% 100%;
        }
        &.active i, &:active i {
          background: url(resources/images/tool_hecheng_active.png) no-repeat;
          background-size: 100% 100%;
        }
        &.disabled {
          i, &.active i, &:active i {
            background: url(resources/images/tool_hecheng_dis.png) no-repeat;
            background-size: 100% 100%;
          }
        }
      }
      .tool_decompose {
        i {
          background: url(resources/images/tool_fenjie_normal.png) no-repeat;
          background-size: 100% 100%;
        }
        &.active i, &:active i {
          background: url(resources/images/tool_fenjie_active.png) no-repeat;
          background-size: 100% 100%;
        }
        &.disabled {
          i, &.active i, &:active i {
            background: url(resources/images/tool_fenjie_dis.png) no-repeat;
            background-size: 100% 100%;
          }
        }
      }
      .tool_cancel {
        i {
          background: url(resources/images/tool_cexiao_normal.png) no-repeat;
          background-size: 100%;
        }
        &.active i, &:active i {
          background: url(resources/images/tool_cexiao_active.png) no-repeat;
          background-size: 100%;
        }
        &.disabled {
          i, &:active i {
            background: url(resources/images/tool_cexiao_dis.png) no-repeat;
            background-size: 100%;
          }
        }
      }
      .tool_recover {
        i {
          background: url(resources/images/tool_huifu_normal.png) no-repeat;
          background-size: 100%;
        }
        &.active i, &:active i {
          background: url(resources/images/tool_huifu_active.png) no-repeat;
          background-size: 100%;
        }
        &.disabled {
          i, &:active i {
            background: url(resources/images/tool_huifu_dis.png) no-repeat;
            background-size: 100%;
          }
        }
      }
      .tool_del {
        i {
          background: url(resources/images/tool_del_normal.png) no-repeat;
          background-size: 100% 100%;
        }
        &.active i, &:active i {
          background: url(resources/images/tool_del_active.png) no-repeat;
          background-size: 100% 100%;
        }
        &.disabled {
          i, &:active i {
            background: url(resources/images/tool_del_dis.png) no-repeat;
            background-size: 100% 100%;
          }
        }
      }
      .tool_empty {
        i {
          background: url(resources/images/tool_empty_normal.png) no-repeat;
          background-size: 100% 100%;
        }
        &.active i, &:active i {
          background: url(resources/images/tool_empty_active.png) no-repeat;
          background-size: 100% 100%;
        }
        &.disabled {
          i {
            background: url(resources/images/tool_empty_dis.png) no-repeat;
            background-size: 100% 100%;
          }
          &:active i {
            background: url(resources/images/tool_empty_dis.png) no-repeat;
            background-size: 100%;
          }
        }
      }
      .tool_restore {
        i {
          background: url(resources/images/tool_restore_normal.png) no-repeat;
          background-size: 100% 100%;
        }
        &.active i, &:active i {
          background: url(resources/images/tool_restore_active.png) no-repeat;
          background-size: 100% 100%;
        }
        &.disabled {
          i {
            background: url(resources/images/tool_restore_dis.png) no-repeat;
            background-size: 100% 100%;
          }
          &:active i {
            background: url(resources/images/tool_restore_dis.png) no-repeat;
            background-size: 100%;
          }
        }
      }
      &.handle_bg_btn {
        vertical-align: top;
        cursor: pointer;
        b {
          width: 1.41667em;
          height: 1.41667em;
          display: inline-block;
          vertical-align: middle;
          border: 1px solid #10afb5;
          border-radius: 100%;
          margin-right: .41667em;
          background: #fff;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          position: relative;
        }
        &.checked b:after {
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -.375em;
          margin-top: -.375em;
          content: "";
          width: .75em;
          height: .75em;
          overflow: hidden;
          border-radius: 100%;
          background: #10afb5;
        }
      }
    }
  }
  .physicspower_compose_prompt:after, .physicspower_decompose_prompt:after {
    content: "";
    left: 50%;
    top: 100%;
    border-left: .625em solid transparent;
    border-right: .625em solid transparent;
    border-top: 0.83333em solid rgba(47, 47, 47, 0.8);
    position: absolute;
  }
  .physicspower_handle_tools li.handle_bg_btn span {
    font-size: 1.16667em;
    line-height: 4.125em;
  }
  .physicspower_compose_prompt {
    width: 18.20833em;
    height: 11.79167em;
    background-color: rgba(47, 47, 47, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -9.10417em;
    bottom: 4.79167em;
    border-radius: .41667em;
    &:after {
      margin-left: -.41667em;
      width: 0;
      height: 0;
    }
    .con_detail {
      padding: 1.04167em 1.66667em 0;
      .tip_txt {
        color: #fff;
        font-size: 1.25em;
        line-height: 1.66667em;
      }
      .tip_choose {
        color: #fff;
        font-size: 1.25em;
        margin-top: .83333em;
        b {
          &.error {
            color: #f33333;
          }
          &.correct {
            color: #17e317;
          }
        }
      }
      .foot_group {
        padding-top: .83333em;
        text-align: center;
        .dia_btn {
          font-size: 1em;
          display: inline-block;
          margin: .54167em 1.08333em 0;
          padding: 0 1em;
          height: 2em;
          line-height: 2em;
          min-width: 4.5em;
          background: #11b0b6;
          cursor: pointer;
          color: #fff;
          &:active {
            background: #62999b;
          }
          &.disabled {
            background: #a9b6bf;
            cursor: default;
          }
        }
      }
    }
  }
  .physicspower_decompose_prompt {
    width: 20.41667em;
    height: 9.58333em;
    background-color: rgba(47, 47, 47, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -10.20833em;
    bottom: 4.79167em;
    border-radius: .41667em;
    text-align: center;
    &:after {
      margin-left: -.72917em;
      width: 0;
      height: 0;
    }
    .con_detail {
      padding: 1.04167em .83333em 0;
      .tip_txt {
        color: #fff;
        font-size: 1.25em;
        line-height: 1.66667em;
      }
      .tip_choose {
        color: #fff;
        font-size: 1.25em;
        margin-top: .83333em;
        b {
          &.error {
            color: #f33333;
          }
          &.correct {
            color: #17e317;
          }
        }
      }
      .foot_group {
        padding-top: .83333em;
        text-align: center;
        .dia_btn {
          font-size: 1em;
          display: inline-block;
          margin: .54167em 1.08333em 0;
          padding: 0 1em;
          height: 2em;
          line-height: 2em;
          min-width: 4.5em;
          background: #11b0b6;
          cursor: pointer;
          color: #fff;
          &:active {
            background: #62999b;
          }
          &.disabled {
            background: #a9b6bf;
            cursor: default;
          }
        }
      }
    }
  }
  .physicspower_painting_handle {
    position: absolute;
    a {
      float: left;
      width: 3.83333em;
      height: 2.5em;
      text-align: center;
      line-height: 2.5em;
      color: #fff;
      position: relative;
      &.confirm {
        background: #11b1b7;
        border-top-right-radius: .41667em;
        border-bottom-right-radius: .41667em;
        b {
          background: url(resources/images/half_arrow_green_down.png) left top no-repeat;
          left: 0;
          background-size: 100% 100%;
        }
      }
      &.cancel {
        background: #eb6877;
        border-top-left-radius: .41667em;
        border-bottom-left-radius: .41667em;
        b {
          background: url(resources/images/half_arrow_red_down.png) left top no-repeat;
          right: 0;
          background-size: 100% 100%;
        }
      }
      b {
        width: .375em;
        height: .45833em;
        overflow: hidden;
        position: absolute;
        bottom: -.375em;
      }
    }
  }
  .physicspower_dialog_confirm {
    width: 23.33333em;
    .tip_txt {
      font-size: 1.25em;
      padding: .83333em 0 1.66667em;
    }
  }
  .com_dialog_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    .com_dialog_inner {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    .com_dialog_box {
      display: inline-block;
      background-color: rgba(47, 47, 47, 0.8);
      border-radius: .41667em;
      padding: 1.66667em;
      color: #fff;
      .com_dialog_foot {
        text-align: center;
        .dia_btn {
          font-size: 1em;
          display: inline-block;
          margin: .54167em 1.08333em 0;
          padding: 0 1em;
          height: 2em;
          line-height: 2em;
          min-width: 4.5em;
          background: #11b0b6;
          cursor: pointer;
          color: #fff;
          &:active {
            background: #62999b;
          }
        }
      }
    }
  }
}