<div>
    <div class="box_left_header">
        <p class="correct_rate_word" ref="lang_avgRight"></p>
        <p class="correct_rate_data">{{overviewdata.accuracy}}</p>
    </div>
    <div class="box_left_main"><canvas class="pie_chart" ref="chartcanvas"></canvas>
        <div class="pie_chart_word">
            <div class="pie_chart_data_left">
                <p class="font_text right">优&nbsp;&nbsp;&nbsp;秀</p>
                <p class="font_text wrong" >需提升</p>
                <p class="font_text noanswer" ref="lang_noAnswer"></p>
            </div>
            <div class="pie_chart_data_mid">
                <p class="font_text right">：</p>
                <p class="font_text wrong">：</p>
                <p class="font_text noanswer">：</p>
            </div>
            <div class="pie_chart_data_right">
                <p class="right"><em class="num">{{overviewdata.excellentNum}}</em><em class="font_text unit" ref="lang_person_ig1"></em></p>
                <p class="wrong"><em class="num">{{overviewdata.improveNum}}</em><em class="font_text unit" ref="lang_person_ig2"></em></p>
                <p class="noanswer"><em class="num">{{overviewdata.noanswerNum}}</em><em class="font_text unit" ref="lang_person_ig3"></em></p>
            </div>
        </div>
    </div>
    <div class="box_left_main_bottom"> <a href="#" class="list_view_btn js_show_histogram" v-on:click="toggleuserlist($event)"><em class="text">{{txttoggle}}</em></a> </div>
</div>