<div class="exam-skin-wood mix-layout__container" style="position: relative;width:100%;height: 100%;left: 0;top: 0;padding: 0;margin: 0;">
    <div class="baseMod-com-layout ChineseCharacterDictation-layout-box">
        <div class="baseMod-com-wrapper-pad">
            <div class="baseMod-com-header-box">
                <!--计时器-->
                <div class="com_time _top_left_panel">

                </div>

            </div>
            <!-- 公共提交按钮 -->
            <div class="baseMod-com-submit _top_right_panel">

            </div>
            <!-- /公共提交按钮 -->
            <div class="baseMod-com-layout-container">
                <div class="_center_panel" style="width:100%;height:100%;"></div>
                <div class="mixedModule-switch-container chineseCharacter-switch-container _compound_switch_panel">
                </div>
            </div>
        </div>
        <!-- 正确答案弹窗。隐藏加hide-dom -->

        <!-- 正确答案弹窗 -->
    </div>

    <div class="notice_tip_box displaynone">
        <div class="notice_tip_con">
            <p class="notice_tip_text"></p>
        </div>
    </div>
    <div class="mix__messagebox _message_panel" style="display: none;"><!-- 全屏遮罩的弹出信息窗体 -->

    </div>
    <div class="_popup_panel">

    </div>
</div>
