<div class="mix-layout--full">
    <div class="mix-layout__container env-pptshell">
        <div class="mix-container__modules mix__scrollbar--style1"><!-- 主体页面上下滚动条容器 -->
            <div class="mix-container__presenter"><!-- 习题展示区域 -->
                <div class="exam_skin_wood">
                    <div class="com_layout" style="background: none;left: 0;right: 0;top: 0;bottom: 0;height: auto;position: absolute;overflow: visible;">
                        <div class="com_wrapper_board freeCombination_wrapper">
                            <!-- pad端加.com_wrapper_pad，白板端加.com_wrapper_board  白板端发送之后 .freeCombination_wrapper 添加类名 .freeCombination_send 让头部显示不同的样式 -->
                            <!--头部-->
                            <div class="com_layout_header">
                                <!--计时器-->
                                <div class="com_header_time">
                                    <div class="com_time _top_left_panel">

                                    </div>
                                    <p class="upload"><b class="upload_text">提交人数：</b><span class="num _num">00</span>/<span
                                            class="_count">00</span></p>
                                </div>
                                <!--/计时器-->
                                <!--提交按钮-->
                                <div class="com_header_tool _bottom_panel">

                                </div>
                                <!--/提交按钮-->
                            </div>
                            <!--/头部-->
                            <!--主体内容-->
                            <div class="com_layout_container">
                                <div class="layout_FreeCombination">
                                    <div class="_center_panel">
                                    </div>
                                    <div class="_right_panel">
                                    </div>
                                </div>

                                <div class="pptshell_mask _mask_Panel"></div>
                            </div>
                            <!--/主体内容-->
                            <!--预览提交结果弹窗-->
                            <div class="bg_pop pop_result">
                                <p class="text"></p>
                            </div>
                            <!--预览提交结果弹窗-->
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!--<div class="">&lt;!&ndash; 发送习题的按钮 &ndash;&gt;
            </div>-->
                <div class="exam_skin_wood com_board_sdt_box _bottom_right_panel">

                </div>
        <div class="mix__toolbar-wrap "><!-- 统计界面相关按钮 -->
            <div class="stat_wood">
                <div class="com_layout ">
                    <div class="layout_footbar layout_footer_bottom _foot_bar_panel">
                        <!--底部按钮控件-->
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
