.exam_mobile .englishWord_box .exam_skin_wood .english_title_left:after,
.exam_mobile .englishWord_box .exam_skin_wood .english_title_left:before,
.exam_skin_wood .exam_mobile .englishWord_box .english_title_left:after,
.exam_skin_wood .exam_mobile .englishWord_box .english_title_left:before {
    content: "";
    display: table
}

.exam_mobile .englishWord_box .exam_skin_wood .english_title_left:after,
.exam_skin_wood .exam_mobile .englishWord_box .english_title_left:after {
    clear: both
}

.exam_skin_wood .englishWord_box {
    position: relative
}

.exam_skin_wood .englishWord_box .swiper-container {
    margin: 0 3.91667em;
    padding: 3.83333em 0 5.83333em;
    height: 100%
}

.exam_skin_wood .englishWord_box .sentence_detail {
    display: none
}

.exam_skin_wood .englishWord_box .englishWord_box_2 {
    padding-right: 18.66667em;
    height: 100%
}

.exam_skin_wood .englishWord_box .englishWord_box_2:not(.englishWord_article) .en_word_element {
    font-size: 1.91667em
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article {
    padding-right: 0
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .btn_turn_next,
.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .btn_turn_previous {
    display: none
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .afubox {
    bottom: 10em;
    right: 2.5em
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .english_sider {
    display: none
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .com_layout_tit {
    display: block
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .english_title_left {
    display: none
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .new_ui_text {
    font-weight: 400;
    font-size: 1.91667em;
    margin-right: .83333em;
    word-break: break-all
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_a,
.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_b,
.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_c,
.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_d {
    position: relative;
    line-height: 3.08333em;
    margin-bottom: 1.66667em;
    padding-left: 2.08333em;
    margin-right: 1.45833em
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_a .new_ui_text,
.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_b .new_ui_text,
.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_c .new_ui_text,
.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_d .new_ui_text {
    margin-right: 0
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_a:before,
.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_b:before,
.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_c:before,
.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_d:before {
    content: "";
    position: absolute;
    left: -.83333em;
    top: -.5em;
    margin-right: -1.25em;
    display: inline-block;
    width: 1.58333em;
    height: 1.58333em;
    line-height: 1.58333em;
    text-align: center;
    font-weight: 400;
    color: #fff;
    border-radius: 50%;
    font-size: 1.5em
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_a {
    border-bottom: .25em solid #7fcb5e
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_a:before {
    content: "A";
    background: #7fcb5e
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_b {
    border-bottom: .25em solid #48cae1
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_b:before {
    content: "B";
    background: #48cae1
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_c {
    border-bottom: .25em solid #8d8d8c
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_c:before {
    content: "C";
    background: #8d8d8c
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_d {
    border-bottom: .25em solid #e63e3e
}

.exam_skin_wood .englishWord_box .englishWord_box_2.englishWord_article .canto .en_color_d:before {
    content: "D";
    background: #e63e3e
}

.exam_skin_wood .englishWord_box .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 3px
}

.exam_skin_wood .englishWord_box .content:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle
}

.exam_skin_wood .englishWord_box .title {
    padding: 1.875em 0 0 2.5em;
    line-height: 1.58333em;
    color: #333;
    text-shadow: .5px .866px 0 hsla(0, 0%, 100%, .2)
}

.exam_skin_wood .englishWord_box .title .new_ui_text {
    font-size: 1.5em
}

.exam_skin_wood .englishWord_box .grade {
    line-height: 3.08333em;
    margin-bottom: 1.66667em
}

.exam_skin_wood .englishWord_box .grade:before {
    content: "";
    position: absolute;
    left: -.83333em;
    top: -.5em;
    margin-right: -1.25em;
    display: inline-block;
    width: 1.58333em;
    height: 1.58333em;
    line-height: 1.58333em;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 1.5em
}

.exam_skin_wood .englishWord_box .grade .new_ui_text {
    font-size: 1.91667em
}

.exam_skin_wood .englishWord_box .result {
    position: absolute;
    bottom: 1.5em;
    left: 0;
    right: 0;
    color: #5d390d;
    text-align: center;
    text-shadow: .5px .866px 0 hsla(0, 0%, 100%, .2)
}

.exam_skin_wood .englishWord_box .result .text {
    display: inline-block;
    margin-right: 1.66667em
}

.exam_skin_wood .englishWord_box .result .text .new_ui_text {
    font-size: 1.75em;
    font-weight: 700
}

.exam_skin_wood .englishWord_box .result .text i .new_ui_text {
    font-size: 1.5em
}

.exam_skin_wood .englishWord_box .result i {
    display: inline-block;
    width: 2.04167em;
    height: 2.04167em;
    line-height: 2.04167em;
    border-radius: 50%;
    font-weight: 700;
    text-align: center;
    background: #5d390d;
    box-shadow: .5px .866px 0 0 hsla(0, 0%, 100%, .2)
}

.exam_skin_wood .englishWord_box .result .grade_a {
    color: #7fcb5e
}

.exam_skin_wood .englishWord_box .result .grade_b {
    color: #48cae1
}

.exam_skin_wood .englishWord_box .result .grade_c {
    color: #8d8d8c
}

.exam_skin_wood .englishWord_box .result .grade_d {
    color: #e63e3e
}

.exam_skin_wood .englishWord_box .afubox .afu_c {
    background-color: #8d8d8c
}

.exam_skin_wood .englishWord_box .canto {
    max-width: 99%;
    max-height: 100%;
    display: inline-block;
    padding: 0 2.5em 0 3.08333em;
    color: #5d390d;
    font-weight: 700;
    text-shadow: .5px .866px 0 hsla(0, 0%, 100%, .2);
    vertical-align: middle
}

.exam_skin_wood .englishWord_box .canto .en_color_a {
    color: #7fcb5e
}

.exam_skin_wood .englishWord_box .canto .en_color_b {
    color: #48cae1
}

.exam_skin_wood .englishWord_box .canto .en_color_c {
    color: #8d8d8c
}

.exam_skin_wood .englishWord_box .canto .en_color_d {
    color: #e63e3e
}

.exam_skin_wood .englishWord_box .contral_box {
    height: 7.5em;
    border-radius: .83333em;
    border-left: 1px solid #ce943b;
    border-right: 1px solid #ce943b;
    text-align: center;
    box-shadow: 1px 1.732px .33333em 0 rgba(68, 49, 19, .176);
    background: url(resources/wood/images/contral_bg.png) repeat-x;
    background-size: auto 100%;
    margin: .33333em .33333em 0
}

.exam_skin_wood .englishWord_box .contral_box .btnbox {
    display: inline-block;
    text-align: center
}

.exam_skin_wood .englishWord_box .contral_box .btnbox .text {
    font-size: 1.5em;
    color: #5d390d;
    display: block
}

.exam_skin_wood .englishWord_box .contral01 .btnbox {
    margin: 0 12%
}

.exam_skin_wood .englishWord_box .contral02 .btnbox {
    margin: 0 5%
}

.exam_skin_wood .englishWord_box .contral03 .btnbox {
    margin: 0 10%
}

.exam_skin_wood .englishWord_box .contrbtn {
    display: inline-block;
    width: 3.83333em;
    height: 4.08333em;
    margin: .66667em 0 .33333em
}

.exam_skin_wood .englishWord_box .contrbtn.btn01 {
    background-image: url(resources/wood/images/btn_icon01.png), url(resources/wood/images/btn_bg02_narmal.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn01:active {
    background-image: url(resources/wood/images/btn_icon01.png), url(resources/wood/images/btn_bg02_press.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn01.none,
.exam_skin_wood .englishWord_box .contrbtn.btn01.none:active {
    background-image: url(resources/wood/images/btn_icon01_none.png), url(resources/wood/images/btn_bg02_narmal.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn01.none+.text {
    color: #b2874e
}

.exam_skin_wood .englishWord_box .contrbtn.btn01.active {
    background-image: url(resources/wood/images/btn_icon_04_press.png), url(resources/wood/images/btn_bg03_press.png);
    background-size: auto 100%, 100% 100%;
    background-position: 0 0, 0 0;
    -webkit-animation: sound 1s steps(3) infinite;
    animation: sound 1s steps(3) infinite
}

.exam_skin_wood .englishWord_box .contrbtn.btn01.active:active {
    background-image: url(resources/wood/images/btn_icon01.png), url(resources/wood/images/btn_bg02_press.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn02 {
    background-image: url(resources/wood/images/btn_icon02.png), url(resources/wood/images/btn_bg02_narmal.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn02:active {
    background-image: url(resources/wood/images/btn_icon02.png), url(resources/wood/images/btn_bg02_press.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn02.none,
.exam_skin_wood .englishWord_box .contrbtn.btn02.none:active {
    background-image: url(resources/wood/images/btn_icon02_none.png), url(resources/wood/images/btn_bg02_narmal.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn02.none+.text {
    color: #b2874e
}

.exam_skin_wood .englishWord_box .contrbtn.btn03 {
    background-image: url(resources/wood/images/btn_icon03.png), url(resources/wood/images/btn_bg02_narmal.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn03:active {
    background-image: url(resources/wood/images/btn_icon03.png), url(resources/wood/images/btn_bg02_press.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn03.none,
.exam_skin_wood .englishWord_box .contrbtn.btn03.none:active {
    background-image: url(resources/wood/images/btn_icon03_none.png), url(resources/wood/images/btn_bg02_narmal.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn03.none+.text {
    color: #b2874e
}

.exam_skin_wood .englishWord_box .contrbtn.btn04 {
    background-image: url(resources/wood/images/btn_icon04.png), url(resources/wood/images/btn_bg02_narmal.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn04:active {
    background-image: url(resources/wood/images/btn_icon04.png), url(resources/wood/images/btn_bg02_press.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn04.none,
.exam_skin_wood .englishWord_box .contrbtn.btn04.none:active {
    background-image: url(resources/wood/images/btn_icon04_none.png), url(resources/wood/images/btn_bg02_narmal.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn05 {
    background-image: url(resources/wood/images/btn_icon05.png), url(resources/wood/images/btn_bg02_narmal.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn05:active {
    background-image: url(resources/wood/images/btn_icon05.png), url(resources/wood/images/btn_bg02_press.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .contrbtn.btn05.none,
.exam_skin_wood .englishWord_box .contrbtn.btn05.none:active {
    background-image: url(resources/wood/images/btn_icon05_none.png), url(resources/wood/images/btn_bg02_narmal.png);
    background-size: 100% auto, 100% 100%
}

.exam_skin_wood .englishWord_box .barbox {
    position: relative;
    display: inline-block;
    width: 56%;
    height: 4.08333em;
    margin: 1.83333em 0 0;
    vertical-align: top
}

.exam_skin_wood .englishWord_box .bar_icon {
    display: block;
    width: 3.83333em;
    height: 4.08333em;
    background: url(resources/wood/images/btn_icon02.png) no-repeat;
    background-size: 100% auto
}

.exam_skin_wood .englishWord_box .bar_cavans {
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, .1)
}

.exam_skin_wood .englishWord_box .bar,
.exam_skin_wood .englishWord_box .bar_cavans {
    position: absolute;
    left: 4.41667em;
    right: 0;
    border-radius: .33333em;
    text-align: left;
    vertical-align: bottom
}

.exam_skin_wood .englishWord_box .bar {
    top: .91667em;
    height: 2.08333em;
    background: url(resources/wood/images/bar.png) no-repeat;
    background-size: 100% 100%
}

.exam_skin_wood .englishWord_box .bar .in {
    display: inline-block;
    height: 100%;
    border-radius: .33333em;
    background: url(resources/wood/images/bar_in.png) 0 0 no-repeat;
    background-size: auto 100%
}

.exam_skin_wood .englishWord_box .com_layout_tit {
    display: none;
    background: none;
    padding: .83333em 2.5em 0;
    height: auto
}

.exam_skin_wood .englishWord_box .com_layout_tit .tit {
    text-align: left
}

.exam_skin_wood .englishWord_box .com_layout_main_exam {
    height: 30.33333em
}

.exam_skin_wood .englishWord_box .afubox {
    bottom: 1.58333em;
    right: .41667em
}

.exam_skin_wood .englishWord_box .afubox .text-tip .text02 {
    display: inline-block
}

.exam_skin_wood .englishWord_box .afubox .text02 {
    display: none
}

.exam_skin_wood .englishWord_box .afubox .afu_a,
.exam_skin_wood .englishWord_box .afubox .afu_b,
.exam_skin_wood .englishWord_box .afubox .afu_c,
.exam_skin_wood .englishWord_box .afubox .afu_d {
    display: none;
    vertical-align: center
}

.exam_skin_wood .englishWord_box .afubox .afu_a.hide_dom,
.exam_skin_wood .englishWord_box .afubox .afu_b.hide_dom,
.exam_skin_wood .englishWord_box .afubox .afu_c.hide_dom,
.exam_skin_wood .englishWord_box .afubox .afu_d.hide_dom {
    display: none
}

.exam_skin_wood .englishWord_box .afubox.score_a .textbox .afu_a,
.exam_skin_wood .englishWord_box .afubox.score_a .textbox .text_ab,
.exam_skin_wood .englishWord_box .afubox.score_b .textbox .afu_b,
.exam_skin_wood .englishWord_box .afubox.score_b .textbox .text_ab,
.exam_skin_wood .englishWord_box .afubox.score_c .textbox .afu_c,
.exam_skin_wood .englishWord_box .afubox.score_c .textbox .text_c,
.exam_skin_wood .englishWord_box .afubox.score_d .textbox .afu_d,
.exam_skin_wood .englishWord_box .afubox.score_d .textbox .text_d {
    display: inline-block
}

.exam_skin_wood .englishWord_box .com_m_sidehead {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3
}

.exam_skin_wood .englishWord_box .com_m_sidehead .title {
    padding: 0;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    height: 1.75em
}

.exam_skin_wood .englishWord_box .english_sider {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-top: 2.58333em;
    padding-bottom: .08333em;
    width: 18.25em
}

.exam_skin_wood .englishWord_box .com_m_sidecon {
    position: relative;
    height: 100%;
    overflow: visible
}

.exam_skin_wood .englishWord_box .com_m_sidecon .word_content {
    max-height: 100%;
    border-radius: 0 0 .625em .625em;
    background: #f9f9fa;
    overflow-y: auto
}

.exam_skin_wood .englishWord_box .com_m_sidecon .word_content .list {
    height: 4.29167em;
    line-height: 4.25em;
    border-bottom: 1px solid #eae8e3
}

.exam_skin_wood .englishWord_box .com_m_sidecon .word_content .word {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 1.33333em;
    text-align: left;
    position: relative;
    overflow: hidden
}

.exam_skin_wood .englishWord_box .com_m_sidecon .word_content .word:active {
    background: #f5f5fa
}

.exam_skin_wood .englishWord_box .com_m_sidecon .word_content .word.on {
    background: #e0e0e2
}

.exam_skin_wood .englishWord_box .com_m_sidecon .word_content .text {
    display: inline-block;
    width: 8.91667em;
    font-size: 1.5em;
    text-align: left;
    color: #2e2e2e;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.exam_skin_wood .englishWord_box .english_score {
    position: absolute;
    right: 1.04167em;
    top: 1.04167em;
    display: inline-block;
    width: 2.16667em;
    height: 2.16667em;
    line-height: 2.16667em;
    border-radius: 50%;
    border: .20833em solid #e5e5e5;
    background: #fff;
    text-align: center
}

.exam_skin_wood .englishWord_box .english_score.score {
    border: none;
    text-align: center;
    color: #fff
}

.exam_skin_wood .englishWord_box .english_score.score .new_ui_text {
    font-size: 1.58333em
}

.exam_skin_wood .englishWord_box .english_score_a {
    background: #7fcb5e
}

.exam_skin_wood .englishWord_box .english_score_b {
    background: #48cae1
}

.exam_skin_wood .englishWord_box .english_score_c {
    background: #eb9925
}

.exam_skin_wood .englishWord_box .english_score_d {
    background: #e63e3e
}

.exam_skin_wood .englishWord_box .btn_turn_next,
.exam_skin_wood .englishWord_box .btn_turn_previous {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    margin-top: -2.33333em;
    z-index: 2
}

.exam_skin_wood .englishWord_box .btn_turn_next.com_btn_disabled,
.exam_skin_wood .englishWord_box .btn_turn_previous.com_btn_disabled {
    filter: Gray;
    -webkit-filter: grayscale(100%);
    opacity: .2;
    filter: alpha(opacity=20)
}

.exam_skin_wood .englishWord_box .btn_turn_previous {
    left: 0;
    background-image: url(resources/wood/images/btn_iconl.png), url(resources/wood/images/btn_bg01_narmal.png);
    background-size: 100% auto, 100% auto;
    background-repeat: no-repeat, no-repeat
}

.exam_skin_wood .englishWord_box .btn_turn_previous:active {
    background-image: url(resources/wood/images/btn_iconl.png), url(resources/wood/images/btn_bg01_press.png)
}

.exam_skin_wood .englishWord_box .btn_turn_previous.com_btn_disabled:active {
    background-image: url(resources/wood/images/btn_iconl.png), url(resources/wood/images/btn_bg01_narmal.png)
}

.exam_skin_wood .englishWord_box .btn_turn_next {
    right: 0;
    background-image: url(resources/wood/images/btn_iconr.png), url(resources/wood/images/btn_bg01_narmal.png);
    background-size: 100% auto, 100% auto;
    background-repeat: no-repeat, no-repeat
}

.exam_skin_wood .englishWord_box .btn_turn_next:active {
    background-image: url(resources/wood/images/btn_iconr.png), url(resources/wood/images/btn_bg01_press.png)
}

.exam_skin_wood .englishWord_box .btn_turn_next.com_btn_disabled:active {
    background-image: url(resources/wood/images/btn_iconr.png), url(resources/wood/images/btn_bg01_narmal.png)
}

.exam_skin_wood .englishWord_box .english_title_left {
    position: absolute;
    top: 1.66667em;
    left: 2.5em;
    z-index: 33
}

.exam_skin_wood .englishWord_box .en_title_num {
    font-size: 2.5em;
    text-align: left;
    color: #333;
    text-shadow: .5px .866px 0 hsla(0, 0%, 100%, .2)
}

.exam_skin_wood .englishWord_box .en_title_score {
    text-align: left;
    color: #5d390d;
    text-shadow: .5px .866px 0 hsla(0, 0%, 100%, .2);
    padding-top: .33333em
}

.exam_skin_wood .englishWord_box .en_title_score .new_ui_text {
    display: inline-block;
    vertical-align: top;
    font-size: 1.91667em
}

.exam_skin_wood .englishWord_box .en_title_score .word {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-left: .625em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: #5d390d
}

.exam_skin_wood .englishWord_box .en_title_score .word .new_ui_text {
    font-size: 1.5em
}

.exam_skin_wood .englishWord_box .en_word_element {
    display: inline-block;
    font-weight: 700;
    color: #5d390d;
    text-shadow: .5px .866px 0 hsla(0, 0%, 100%, .2);
    line-height: 1.5
}

.exam_skin_wood .englishWord_box .en_word_element.en_word_element_small {
    font-size: 4.75em
}

.exam_skin_wood .englishWord_box .en_word_pronunciation {
    font-size: 2.5em;
    line-height: 1.5;
    margin-top: .08333em;
    color: #5d390d;
    text-shadow: .5px .866px 0 hsla(0, 0%, 100%, .2)
}

.exam_skin_wood .englishWord_box .en_word_pronunciation .en_color_red {
    color: #ea0707
}

.exam_skin_wood .englishWord_box .en_word_pronunciation .en_color_yellow {
    color: #fff600
}

.exam_skin_wood .englishWord_box .en_word_pronunciation .en_color_blue {
    color: #0036ff
}

.exam_skin_wood .englishWord_box .en_word_mean {
    font-size: 1.91667em;
    line-height: 1.5;
    color: #5d390d;
    text-shadow: .5px .866px 0 hsla(0, 0%, 100%, .2)
}

.exam_skin_wood .com_wrapper_pad .englishWord_box .com_layout_main_exam {
    height: 32.08333em
}

.exam_mobile {
    height: 100%;
    background-color: #fff
}

.exam_mobile .englishWord_box .english_title_left:after,
.exam_mobile .englishWord_box .english_title_left:before {
    content: "";
    display: table
}

.exam_mobile .englishWord_box .english_title_left:after {
    clear: both
}

.exam_mobile .com_layout_header {
    display: none
}

.exam_mobile .com_layout,
.exam_mobile .com_layout_container,
.exam_mobile .com_wrapper_pad {
    height: 100%
}

.exam_mobile .englishWord_box .afubox .textbox .text-tip:after,
.exam_mobile .englishWord_box .com_layout_main_exam .com_layout_main:after,
.exam_mobile .englishWord_box .contral_box .contral03:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: ""
}

.exam_mobile .englishWord_box {
    position: relative;
    height: 100%;
    padding: 0 0 19.16667em
}

.exam_mobile .englishWord_box .englishWord_box_2 {
    height: 100%
}

.exam_mobile .englishWord_box .com_layout_tit,
.exam_mobile .englishWord_box .result {
    display: none
}

.exam_mobile .englishWord_box .guidewrap {
    position: relative;
    display: none
}

.exam_mobile .englishWord_box .guidetxtwrap {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: -4.58333em;
    bottom: -4.58333em
}

.exam_mobile .englishWord_box .guidetxtwrap .guidetxt {
    position: absolute;
    top: 0;
    height: 4.58333em
}

.exam_mobile .englishWord_box .guidetxtwrap .guidetxt:after {
    position: absolute;
    left: 50%;
    bottom: -1.33333em;
    width: .83333em;
    height: 2.625em;
    margin-left: -.41667em;
    background-size: auto 100%;
    background-repeat: no-repeat;
    content: ""
}

.exam_mobile .englishWord_box .guidetxtwrap .guidetxt .txt {
    font-size: 1em;
    line-height: 1.5;
    color: #fff
}

.exam_mobile .englishWord_box .guidetxtwrap .guidetxt .color {
    font-size: 1em;
    line-height: 1.5
}

.exam_mobile .englishWord_box .guidetxtwrap .guide_down {
    padding-top: 1.66667em;
    top: auto;
    bottom: 0
}

.exam_mobile .englishWord_box .guidetxtwrap .guide_down:after {
    top: -1.16667em;
    bottom: auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.exam_mobile .englishWord_box .guidetxtwrap .style_c:after {
    background-image: url(resources/mobile/images/guide-arrow-c.png)
}

.exam_mobile .englishWord_box .guidetxtwrap .style_c .color {
    color: #fe9700
}

.exam_mobile .englishWord_box .guidetxtwrap .style_d:after {
    background-image: url(resources/mobile/images/guide-arrow-d.png)
}

.exam_mobile .englishWord_box .guidetxtwrap .style_d .color {
    color: #e60012
}

.exam_mobile .englishWord_box .guidetxtwrap .style_b:after {
    background-image: url(resources/mobile/images/guide-arrow-b.png)
}

.exam_mobile .englishWord_box .guidetxtwrap .style_b .color {
    color: #48cbdf
}

.exam_mobile .englishWord_box .guidetxtwrap .style_a:after {
    background-image: url(resources/mobile/images/guide-arrow-a.png)
}

.exam_mobile .englishWord_box .guidetxtwrap .style_a .color {
    color: #7fcb5e
}

.exam_mobile .englishWord_box.englishWord_guide .content {
    z-index: 100!important
}

.exam_mobile .englishWord_box.englishWord_guide .guidetxtwrap {
    display: block
}

.exam_mobile .englishWord_box.englishWord_guide .guidewrap {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 99
}

.exam_mobile .englishWord_box .hide_dom {
    display: none
}

.exam_mobile .englishWord_box .content {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    width: 85%;
    max-height: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 3px;
    background-color: #fff
}

.exam_mobile .englishWord_box .canto {
    padding: .83333em 0;
    word-break: break-all
}

.exam_mobile .englishWord_box .canto.canto_sentence .en_word_element {
    font-size: 2.16667em;
    color: #858984
}

.exam_mobile .englishWord_box .canto.canto_sentence .en_word_mean,
.exam_mobile .englishWord_box .canto.canto_sentence .en_word_pronunciation {
    display: none
}

.exam_mobile .englishWord_box .contral_box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3.95833em
}

.exam_mobile .englishWord_box .contral_box .contral03 {
    text-align: center
}

.exam_mobile .englishWord_box .contral_box .contral03 .btnbox {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 .75em;
    padding-top: 1.70833em
}

.exam_mobile .englishWord_box .contral_box .contral03 .btnbox .text {
    display: block;
    font-size: 1.08333em;
    color: #848484;
    font-weight: lighter;
    padding-top: 1.70833em
}

.exam_mobile .englishWord_box .contral_box .contral03 .btnbox.btn-voice {
    width: 7.75em;
    height: 10.54167em
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn01:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(resources/mobile/images/btn-example.png);
    background-size: auto 100%;
    background-repeat: no-repeat
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn01.active .circleicon {
    fill: #27db6b
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn01.active .process {
    display: block
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn02 {
    position: relative;
    width: 7.75em;
    height: 7.75em;
    margin: 0 auto;
    background-image: url(resources/mobile/images/btn-record.png);
    background-size: auto 100%;
    background-repeat: no-repeat
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn02.active {
    background-image: url(resources/mobile/images/btn-record-active.png);
    background-size: auto 100%;
    background-repeat: no-repeat
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn02.active:after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    content: "";
    background-image: url(resources/mobile/images/btn-record-active1.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    -webkit-animation: contral02 .8s steps(1) infinite;
    animation: contral02 .8s steps(1) infinite
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn02+.text {
    padding-top: 0
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn02.voice_lv1 {
    background-image: url(resources/mobile/images/btn-record-voice1.png);
    background-size: auto 100%;
    background-repeat: no-repeat
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn02.voice_lv2 {
    background-image: url(resources/mobile/images/btn-record-voice2.png);
    background-size: auto 100%;
    background-repeat: no-repeat
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn02.voice_lv3 {
    background-image: url(resources/mobile/images/btn-record-voice3.png);
    background-size: auto 100%;
    background-repeat: no-repeat
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn03:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(resources/mobile/images/btn-myrecord.png);
    background-size: auto 100%;
    background-repeat: no-repeat
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn03.active .circleicon {
    fill: #fe9700
}

.exam_mobile .englishWord_box .contral_box .contral03 .btn03.active .process {
    display: block
}

.exam_mobile .englishWord_box .contral_box .contrbtn {
    position: relative;
    display: block;
    width: 4.33333em;
    height: 4.33333em
}

.exam_mobile .englishWord_box .contral_box .contrbtn .mobile-process {
    display: block
}

.exam_mobile .englishWord_box .contral_box .contrbtn .mobile-process .circleicon {
    fill: #848484
}

.exam_mobile .englishWord_box .contral_box .contrbtn .mobile-process .process {
    display: none
}

.exam_mobile .englishWord_box .contral_box .contrbtn .process {
    stroke-dasharray: 0;
    stroke-dashoffset: 302;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.exam_mobile .englishWord_box .com_layout_main_exam {
    padding-top: 2.91667em;
    height: 100%
}

.exam_mobile .englishWord_box .com_layout_main_exam .com_layout_main {
    height: 100%;
    text-align: center;
    position: relative
}

.exam_mobile .englishWord_box .afubox {
    position: absolute;
    bottom: 14.16667em;
    left: 2.66667em
}

.exam_mobile .englishWord_box .afubox .sentence_detail {
    display: none
}

.exam_mobile .englishWord_box .afubox.afu_sentence .textbox {
    width: 18.75em
}

.exam_mobile .englishWord_box .afubox.afu_sentence .textbox .text {
    height: 7.5em;
    text-align: center
}

.exam_mobile .englishWord_box .afubox.afu_sentence .sentence_detail {
    display: block;
    margin-bottom: .625em;
    margin-top: .625em
}

.exam_mobile .englishWord_box .afubox.afu_sentence .sentence_detail .detail_con,
.exam_mobile .englishWord_box .afubox.afu_sentence .sentence_detail .detail_tit {
    font-size: 1em;
    color: hsla(0, 0%, 100%, .85);
    font-weight: lighter
}

.exam_mobile .englishWord_box .afubox.afu_sentence .sentence_detail .detail_con {
    margin-right: .41667em
}

.exam_mobile .englishWord_box .afubox.score_a .afu {
    background: url(resources/mobile/images/person-score1.png) no-repeat;
    background-size: auto 100%
}

.exam_mobile .englishWord_box .afubox.score_a .textbox {
    background-color: #27db6b
}

.exam_mobile .englishWord_box .afubox.score_a .textbox .textbox_top {
    background: url(resources/mobile/images/person-score-a.png) no-repeat;
    background-size: auto 100%
}

.exam_mobile .englishWord_box .afubox.score_a .textbox .afu_a,
.exam_mobile .englishWord_box .afubox.score_a .textbox .text_ab {
    display: inline-block
}

.exam_mobile .englishWord_box .afubox.score_b .afu {
    background: url(resources/mobile/images/person-score1.png) no-repeat;
    background-size: auto 100%
}

.exam_mobile .englishWord_box .afubox.score_b .textbox {
    background-color: #66b7f4
}

.exam_mobile .englishWord_box .afubox.score_b .textbox .textbox_top {
    background: url(resources/mobile/images/person-score-b.png) no-repeat;
    background-size: auto 100%
}

.exam_mobile .englishWord_box .afubox.score_b .textbox .afu_b,
.exam_mobile .englishWord_box .afubox.score_b .textbox .text_ab {
    display: inline-block
}

.exam_mobile .englishWord_box .afubox.score_c .afu {
    background: url(resources/mobile/images/person-score2.png) no-repeat;
    background-size: auto 100%
}

.exam_mobile .englishWord_box .afubox.score_c .textbox {
    background-color: #fe9700
}

.exam_mobile .englishWord_box .afubox.score_c .textbox .textbox_top {
    background: url(resources/mobile/images/person-score-c.png) no-repeat;
    background-size: auto 100%
}

.exam_mobile .englishWord_box .afubox.score_c .textbox .afu_c,
.exam_mobile .englishWord_box .afubox.score_c .textbox .text_c {
    display: inline-block
}

.exam_mobile .englishWord_box .afubox.score_d .afu {
    background: url(resources/mobile/images/person-score2.png) no-repeat;
    background-size: auto 100%
}

.exam_mobile .englishWord_box .afubox.score_d .textbox {
    background-color: #e60012
}

.exam_mobile .englishWord_box .afubox.score_d .textbox .textbox_top {
    background: url(resources/mobile/images/person-score-d.png) no-repeat;
    background-size: auto 100%
}

.exam_mobile .englishWord_box .afubox.score_d .textbox .afu_d,
.exam_mobile .englishWord_box .afubox.score_d .textbox .text_d {
    display: inline-block
}

.exam_mobile .englishWord_box .afubox .afu {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 6.58333em;
    height: 8.125em;
    background: url(resources/mobile/images/person-tip.png) no-repeat;
    background-size: auto 100%
}

.exam_mobile .englishWord_box .afubox .textbox {
    position: absolute;
    left: 6.66667em;
    bottom: 4.08333em;
    width: 17.625em;
    border-radius: 3px;
    background-color: #f7949c
}

.exam_mobile .englishWord_box .afubox .textbox .textbox_top {
    position: absolute;
    top: 2.5em;
    left: -1.33333em;
    width: 1.41667em;
    height: 2.04167em;
    background: url(resources/mobile/images/person-tip-arrow.png) no-repeat;
    background-size: auto 100%
}

.exam_mobile .englishWord_box .afubox .textbox .text {
    height: 5em;
    text-align: center
}

.exam_mobile .englishWord_box .afubox .textbox .text-tip .text02 {
    display: inline-block
}

.exam_mobile .englishWord_box .afubox .textbox .text01 {
    display: inline-block;
    margin-top: .41667em;
    margin-bottom: .41667em;
    margin-right: .25em;
    font-size: 1.66667em;
    color: #fff
}

.exam_mobile .englishWord_box .afubox .textbox .text02 {
    max-width: 95%;
    display: none;
    vertical-align: middle;
    font-size: 1.16667em;
    color: #fff;
    font-weight: lighter
}

.exam_mobile .englishWord_box .afubox .textbox .new_ui_text {
    font-size: 2.08333em;
    color: #fff
}

.exam_mobile .englishWord_box .afubox .textbox .afu_a,
.exam_mobile .englishWord_box .afubox .textbox .afu_b,
.exam_mobile .englishWord_box .afubox .textbox .afu_c,
.exam_mobile .englishWord_box .afubox .textbox .afu_d {
    display: none;
    vertical-align: center
}

.exam_mobile .englishWord_box .afubox .textbox .afu_a.hide_dom,
.exam_mobile .englishWord_box .afubox .textbox .afu_b.hide_dom,
.exam_mobile .englishWord_box .afubox .textbox .afu_c.hide_dom,
.exam_mobile .englishWord_box .afubox .textbox .afu_d.hide_dom,
.exam_mobile .englishWord_box .btn_turn_next,
.exam_mobile .englishWord_box .btn_turn_previous,
.exam_mobile .englishWord_box .english_sider {
    display: none
}

.exam_mobile .englishWord_box .english_title_left {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 1.25em 1.16667em 0;
    z-index: 33
}

.exam_mobile .englishWord_box .en_title_num {
    float: left;
    font-size: 1.33333em;
    color: #999
}

.exam_mobile .englishWord_box .en_title_num em {
    color: #1095fb
}

.exam_mobile .englishWord_box .en_title_score {
    float: right;
    color: #999;
    margin-top: -.66667em;
    text-shadow: .5px .866px 0 hsla(0, 0%, 100%, .2);
    padding-top: .33333em;
    font-family: STHeiti Light
}

.exam_mobile .englishWord_box .en_title_score .new_ui_text {
    font-size: 1.33333em
}

.exam_mobile .englishWord_box .en_title_score .word {
    display: inline-block;
    vertical-align: bottom;
    margin-left: .41667em
}

.exam_mobile .englishWord_box .en_title_score .word .new_ui_text {
    color: #1095fb;
    font-size: 1.75em
}

.exam_mobile .englishWord_box .en_word_element {
    display: inline-block;
    line-height: 1.5;
    font-size: 3.41667em;
    font-family: STHeiti;
    color: #858984
}

.exam_mobile .englishWord_box .en_word_pronunciation {
    font-family: STHeiti;
    line-height: 1.5;
    font-size: 2.16667em;
    color: #999;
    font-weight: lighter
}

.exam_mobile .englishWord_box .en_color_d {
    color: #e60012
}

.exam_mobile .englishWord_box .en_color_c {
    color: #fe9700
}

.exam_mobile .englishWord_box .en_color_b {
    color: #48cbdf
}

.exam_mobile .englishWord_box .en_color_a {
    color: #7fcb5e
}

.exam_mobile .englishWord_box .en_word_mean {
    font-size: 2.16667em;
    line-height: 1.5;
    color: #999;
    font-weight: lighter
}

@-webkit-keyframes contral02 {
    0% {
        background-image: none
    }
    25% {
        background-image: url(resources/mobile/images/btn-record-active1.png)
    }
    50% {
        background-image: url(resources/mobile/images/btn-record-active2.png)
    }
    75% {
        background-image: url(resources/mobile/images/btn-record-active3.png)
    }
}

@keyframes contral02 {
    0% {
        background-image: none
    }
    25% {
        background-image: url(resources/mobile/images/btn-record-active1.png)
    }
    50% {
        background-image: url(resources/mobile/images/btn-record-active2.png)
    }
    75% {
        background-image: url(resources/mobile/images/btn-record-active3.png)
    }
}

.exam_mobile .swiper-container {
    height: 100%
}

@-webkit-keyframes sound {
    0% {
        background-position: 0 0, 0 0
    }
    to {
        background-position: -300% 0, 0 0
    }
}

@keyframes sound {
    0% {
        background-position: 0 0, 0 0
    }
    to {
        background-position: -300% 0, 0 0
    }
}

.guidetxtwrap,
.mobile-process {
    display: none
}
