<?xml version='1.0' encoding='UTF-8' ?>
<module id='FreeCombination'>
    <properties>
		<property name="StemContent" type="html" />
        <property name="StemAttachment" type="json" />
        <property name="StageWidth" type="number" />
        <property name="StageHeight" type="number" />
        <property name="StageElements" type="json" />
        <property name="QuestionId" type="string" />
        <property name="timer_type" type="string"/>
        <property name="timer_time" type="number"/>
    </properties>
</module>
