em{
    font-style: italic;
}
.shape_module{
    position:absolute;
    text-align: left;
}
.shape_module svg{
    position:absolute;
    width: 100%;
    height: 100%;
}

.shape_module .shape_editor{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}

.freecombination ._stage ._module-wrap._proxy {
    opacity: 0.7;
    border: 2px solid #555;
    z-index: 10001;
    margin-left: -1px;
    margin-top: -1px;
    box-sizing: content-box;
}

.freecombination ._stage > ._drawing-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    z-index: 100000;
}

.freecombination ._stage > ._drawing-canvas ._box {
    position: absolute;
    border: 2px solid #555;
}
.fct_relative{
    position:relative;
}
.freeCombination_wrapper.table_config{
    position:absolute;
    left: -273px;
    top: 50px;
}

.freecombination_contextmenu{
    position:absolute;
}

.exam_wood .freeCombination_wrapper .freeCombination_popmenu_general.popmenu1 {
    left: 0;
}

.exam_wood .freeCombination_wrapper .freeCombination_pg_item .second_menu{
    display:none;
}
.exam_wood .freeCombination_wrapper .freeCombination_pg_item:hover .second_menu{
    display:block;
}

.exam_wood .freeCombination_wrapper .fct_top_submenu .popmenu_basic_shape .fct_basic_shapes[disabled='disabled']{
    opacity: 0.5;
    cursor: default;
}
.exam_wood.com_layout .com_lay_contain .com_lay_board{
    overflow: hidden;
}
.com_lay_board,._stage{
    overflow: hidden;
}

._drawing-line-canvas{
    position:relative;
    cursor: crosshair;
}
.lineWrapper{
    position:absolute;
}
.fct_res_shape_point{
    cursor: move;
 }

.slides-html-editor {
    border : none;
    background-color:inherit;
    font-size: 16px;
}

._stage ._module-wrap{
    outline: none;
}

._stage ._module-wrap .slides-html-editor{
    overflow: hidden;
    height: 100%;
}
.selectBox{
    position:absolute;
    border: 1px dashed grey;
}
.exam_wood .com_layout_large_ui.com_layout .com_lay_contain .com_lay_board{
    overflow-y: hidden;
}
.freeCombination_paste_items.ui_btn_unavailable{
    opacity: 0.5;
}
.exam_wood .com_layout_large_ui .freeCombination_wrapper .freeCombination_paste_item span.ui_btn_unavailable:hover{
    background-color: unset;
    cursor:default;
}
.exam_wood .com_layout_large_ui.com_layout .com_lay_contain .com_u_boardtit .tit{
    min-height:24px;
}
.exam_wood.com_layout_large_ui .fct_res_slidebox.fct_res_preview_mode {
    height: 584px;
}
.max-length{
    border: 1px solid red;
}

.exam_wood .slides-html-editor:focus{
    border:none;
}
.exam_wood .com_layout_large_ui .fct_res_slidebox.fct_res_preview_mode{
    height: 590px;
}

.exam_wood .com_layout_large_ui .fct_res_preview_box .fct_res_list_box  li .fct_slide_a{
    background: none;
    border:none;
}
.slides-html-editor.placeholder {
    color: #515151 !important;
}

.slides-interaction-q-editor ._pop-panel._skin ul > li._wood > a {
    background-image: url("resources/pic_skin_wood.jpg");
    background-position: 50% 50%;
    background-size: contain;
}
.slides-interaction-q-editor ._pop-panel._skin ul > li > a{
    width: 191px;
    height: 141px;
}

.exam_wood .com_layout_large_ui .fct_lock_tips{
    color:#333;
    z-index:300;
}

