<!--<a href="###" class="stati_com_btn_close stati_com_btn_rb js_contrast_close"><em class="js_close">关闭</em><span class="preload_btn_close_pic1"></span><span class="preload_btn_close_pic2"></span></a>-->
<!--<a href="###" class="stati_com_btn_close stati_com_btn_lb stati_com_btn_hide"><em class="js_close">关闭</em><span class="preload_btn_close_pic1"></span><span class="preload_btn_close_pic2"></span></a>-->
<!--<div class="pop_wrap slidebottom">-->
<!-- 主体部分 -->
<div class="site_sort">
    <div class="ndui-list-box com-list-box contrst_content">
        <ul class="js_student_list ndui-list">
            <!--
            重要注释
            ul添加类名vote_two、vote_three、vote_four
            分别表示目前是2位 3位 4位学生进行人气投票
            -->
            <!--loop学生作品列表-->
            <!-- 第1个学生 -->
            <li class="ndui-list-item js_contrast_list">
                <!-- 选中的li添加类名on -->
                <div class="com_stat_list_contain">
                    <div class="com_stat_list_top">
                        <div class="com_stat_list_name_wp">

                            <span class="student">
                                        <span class="group" style="display: none">1-3</span>
                            <!--学生小组号-->
                            <!-- <span class="num">16</span> -->
                            <!--学生座位号-->
                            <span class="name js_student_name"></span>
                            <!--学生姓名-->
                            </span>
                        </div>
                    </div>
                    <div class="com_stat_list_pic js_com_stat_list_pic"></div>
                    <div class="com_stat_bottom">

                        <a href="###" class="btn_bottom_constrst icon_full js_icon_full"></a>
                        <!-- 放大 -->
                        <a href="###" class="btn_bottom_constrst icon_constrst js_icon_constrst"></a>
                        <!-- 更换作品 -->
                        <a href="###" class="btn_bottom_constrst icon_add js_icon_add"></a>
                        <!-- 添加 -->

                        <!--缩略图左右滑动-->
                        <div class="com_stat_slidebox media_box js_stat_slidebox" style="display: none">
                            <!-- 超过5个li加flow -->
                            <a href="###" class="btn_slide slide_prev js_thumbnail_prev"></a>
                            <!--按钮小时增加类名.hide_dom-->
                            <ul class="slidebox_wrap js_media_box">
                                <li>
                                    <!-- 选中加on -->
                                    <a href="###" class="slide_a">
                                        <img src="" alt="">
                                    </a>
                                </li>
                            </ul>
                            <a href="###" class="btn_slide slide_next js_thumbnail_next"></a>
                            <!--按钮小时增加类名.hide_dom-->
                        </div>
                        <!--/左右滑动-->

                        <!-- /缩略图左右滑动-->
                    </div>
                </div>
                <!--送花-->
                <div class="com_send_flower js_send_flower"></div>
                <!--/送花-->
            </li>
            <!-- 第1个学生 -->

            <!-- 第2个学生 -->
            <li class="ndui-list-item js_contrast_list">
                <!-- 选中的li添加类名on -->
                <div class="com_stat_list_contain">
                    <div class="com_stat_list_top">
                        <div class="com_stat_list_name_wp">

                            <span class="student">
                                        <span class="group" style="display: none">1-3</span>
                            <!--学生小组号-->
                            <!-- <span class="num">16</span> -->
                            <!--学生座位号-->
                            <span class="name js_student_name"></span>
                            <!--学生姓名-->
                            </span>
                        </div>
                    </div>
                    <div class="com_stat_list_pic js_com_stat_list_pic"></div>
                    <div class="com_stat_bottom">

                        <a href="###" class="btn_bottom_constrst icon_full js_icon_full"></a>
                        <!-- 放大 -->
                        <a href="###" class="btn_bottom_constrst icon_constrst js_icon_constrst"></a>
                        <!-- 更换作品 -->
                        <a href="###" class="btn_bottom_constrst icon_add js_icon_add"></a>
                        <!-- 添加 -->

                        <!--缩略图左右滑动-->
                        <div class="com_stat_slidebox media_box js_stat_slidebox" style="display: none">
                            <!-- 超过5个li加flow -->
                            <a href="###" class="btn_slide slide_prev js_thumbnail_prev"></a>
                            <!--按钮小时增加类名.hide_dom-->
                            <ul class="slidebox_wrap js_media_box">
                                <li>
                                    <!-- 选中加on -->
                                    <a href="###" class="slide_a">
                                        <img src="" alt="">
                                    </a>
                                </li>
                            </ul>
                            <a href="###" class="btn_slide slide_next js_thumbnail_next"></a>
                            <!--按钮小时增加类名.hide_dom-->
                        </div>
                        <!--/左右滑动-->

                        <!-- /缩略图左右滑动-->

                    </div>
                </div>
                <!--送花-->
                <div class="com_send_flower js_send_flower"></div>
                <!--/送花-->
            </li>
            <!-- 第2个学生 -->

            <!-- 第3个学生 -->
            <li class="ndui-list-item js_contrast_list">
                <!-- 选中的li添加类名on -->
                <div class="com_stat_list_contain">
                    <div class="com_stat_list_top">
                        <div class="com_stat_list_name_wp">

                            <span class="student">
                                        <span class="group" style="display: none">1-3</span>
                            <!--学生小组号-->
                            <!-- <span class="num">16</span> -->
                            <!--学生座位号-->
                            <span class="name js_student_name"></span>
                            <!--学生姓名-->
                            </span>
                        </div>
                    </div>
                    <div class="com_stat_list_pic js_com_stat_list_pic"></div>
                    <div class="com_stat_bottom">

                        <a href="###" class="btn_bottom_constrst icon_full js_icon_full"></a>
                        <!-- 放大 -->
                        <a href="###" class="btn_bottom_constrst icon_constrst js_icon_constrst"></a>
                        <!-- 更换作品 -->
                        <a href="###" class="btn_bottom_constrst icon_add js_icon_add"></a>
                        <!-- 添加 -->

                        <!--缩略图左右滑动-->
                        <div class="com_stat_slidebox media_box js_stat_slidebox" style="display: none">
                            <!-- 超过5个li加flow -->
                            <a href="###" class="btn_slide slide_prev js_thumbnail_prev"></a>
                            <!--按钮小时增加类名.hide_dom-->
                            <ul class="slidebox_wrap js_media_box">
                                <li>
                                    <!-- 选中加on -->
                                    <a href="###" class="slide_a">
                                        <img src="" alt="">
                                    </a>
                                </li>
                            </ul>
                            <a href="###" class="btn_slide slide_next js_thumbnail_next"></a>
                            <!--按钮小时增加类名.hide_dom-->
                        </div>
                        <!--/左右滑动-->

                        <!-- /缩略图左右滑动-->
                    </div>
                </div>
                <!--送花-->
                <div class="com_send_flower js_send_flower"></div>
                <!--/送花-->
            </li>
            <!-- 第3个学生 -->

            <!-- 第4个学生 -->
            <li class="ndui-list-item js_contrast_list">
                <!-- 选中的li添加类名on -->
                <div class="com_stat_list_contain">
                    <div class="com_stat_list_top">
                        <div class="com_stat_list_name_wp">

                            <span class="student">
                                        <span class="group" style="display: none">1-3</span>
                            <!--学生小组号-->
                            <!-- <span class="num">16</span> -->
                            <!--学生座位号-->
                            <span class="name js_student_name"></span>
                            <!--学生姓名-->
                            </span>
                        </div>
                    </div>
                    <div class="com_stat_list_pic js_com_stat_list_pic"></div>
                    <div class="com_stat_bottom">

                        <a href="###" class="btn_bottom_constrst icon_full js_icon_full"></a>
                        <!-- 放大 -->
                        <a href="###" class="btn_bottom_constrst icon_constrst js_icon_constrst"></a>
                        <!-- 更换作品 -->
                        <a href="###" class="btn_bottom_constrst icon_add js_icon_add"></a>
                        <!-- 添加 -->

                        <!--缩略图左右滑动-->
                        <div class="com_stat_slidebox media_box js_stat_slidebox" style="display: none">
                            <!-- 超过5个li加flow -->
                            <a href="###" class="btn_slide slide_prev js_thumbnail_prev"></a>
                            <!--按钮小时增加类名.hide_dom-->
                            <ul class="slidebox_wrap js_media_box">
                                <li>
                                    <!-- 选中加on -->
                                    <a href="###" class="slide_a">
                                        <img src="" alt="">
                                    </a>
                                </li>
                            </ul>
                            <a href="###" class="btn_slide slide_next js_thumbnail_next"></a>
                            <!--按钮小时增加类名.hide_dom-->
                        </div>
                        <!--/左右滑动-->

                        <!-- /缩略图左右滑动-->
                    </div>
                </div>
                <!--送花-->
                <div class="com_send_flower js_send_flower"></div>
                <!--/送花-->
            </li>
            <!-- 第4个学生 -->

            <!--loop学生作品列表-->

        </ul>

    </div>
</div>
<!--</div>-->