<!--<a href="###" class="stati_com_btn_close stati_com_btn_rb js_close_tap"><em class="js_close">关闭</em><span class="preload_btn_close_pic1"></span><span class="preload_btn_close_pic2"></span></a>-->
<!--<div class="pop_wrap ">-->
<!-- 主体部分 -->
<div class="pop_tit"><em class="font js_student_name"></em></div>
<div class="pop_wrap pop_slidebottom">
    <div class="content js_detail_container">

    </div>
</div>
<div class="pop_foot">
    <!-- 缩略图列表 -->
    <div class="com_stat_slidebox slidebox_big student_box ui_text_c">
        <!-- 超过5个li加flow 来显示左右箭头-->
        <a href="javascript:;" class="btn_slide slide_prev js_thumbnail_prev"></a>
        <!--按钮小时增加类名.hide_dom-->
        <i class="shadow shadow_l"></i>
        <ul class="slidebox_wrap js_thumbnail_box" style="text-align:center;">
            <!--切换排序类型时，改变这里的类，小组排序group_sort   ,时间排序time_sort  ,座位排序site_sort -->
            <li class="js_thumbnail">
                <!-- 选中加on -->
                <a href="javascript:;" class="slide_a">
                    <span class="js_pic">
                        <!--此处渲染要显示的内容-->
                    </span>
                    <span class="text_top">
                            <em class="group" style="display: none">1-3</em><!--学生小组号-->
                            <em class="num" style="display: none">16</em><!--学生座位号-->
                            <em class="name js_name"></em><!--学生姓名-->
                        </span>
                </a>
            </li>

        </ul>
        <i class="shadow shadow_r"></i>
        <a href="javascript:;" class="btn_slide slide_next js_thumbnail_next"></a>
        <!--按钮小时增加类名.hide_dom-->

    </div>
</div>
<!--</div>-->