<div class="exam_skin_wood">
    <div class="com_layout" id="layout">
        <div class="com_wrapper_pad" id="wrapper">
            <!-- pad端加.com_wrapper_pad，白板端加.com_wrapper_board -->
            <!--头部-->
            <div class="com_layout_header">
                <!--计时器-->
                <div class="com_header_time ">
                    <div class="com_time com_lay_timer">
                    </div>
                    <p class="upload">提交人数：<span class="num">0</span>/0</p>
                </div>
                <!--/计时器-->
                <!--提交按钮-->
                <div class="com_header_tool com_lay_submit">
                </div>
                <!--/提交按钮-->
            </div>
            <!--/头部-->
            <!--主体内容-->
            <div class="com_layout_container js-container">
                <!-- 没有标题时加.notit -->
                <div class="com_layout_exam_content handWrite">
                    <div class="layout_handWrite">
                        <!-- 具体题型内容 -->
                        <div class="handWrite_txt_wrap">
                            <div class="handWrite_txt scrollbar_style_gray com_lay_panel">
                            </div>
                        </div>
                        <!-- 手写板 -->
                        <div class="com_lay_write">
                        </div>
                        <!-- 手写板 -->
                        <!-- 具体题型内容 -->
                    </div>
                </div>
            </div>
            <!--/主体内容-->
            <div class="com_layout_mask" style="display: none;">
                <div class="mask"></div>
            </div>
        </div>
    </div>
</div>



