<div class="exam_skin_wood">
    <div class="com_layout" id="layout">
        <div class="com_wrapper_board" id="wrapper">
            <!--头部-->
            <div class="com_layout_header">
                <!--计时器-->
                <div class="com_header_time">
                    <div class="com_time com_lay_timer">
                    </div>
                    <p class="upload">提交人数：<span class="num">0</span>/0</p>
                </div>
                <!--/计时器-->
                <!--提交按钮-->
                <div class="com_header_tool" style="height:4.375em;">
                </div>
                <!--/提交按钮-->
            </div>
            <!--/头部-->
            <!--主体内容-->
            <div class="com_layout_container js-container">
                <div class="com_layout_exam_content handWrite">
                    <div class="layout_handWrite">
                        <!-- 具体题型内容 -->
                        <!-- 题干 -->
                        <div class="handWrite_txt_wrap">
                            <div class="handWrite_txt scrollbar_style_gray com_lay_panel">
                                <!-- 文字过多的情况加.s_tit -->
                            </div>
                        </div>
                        <!-- 题干 -->
                        <!-- 手写板 -->
                        <div class="com_lay_write">
                        </div>
                        <!-- 手写板 -->
                        <!-- 具体题型内容 -->
                    </div>
                </div>
            </div>
            <!--/主体内容-->
        </div>
    </div>
</div>


<div class="layout_footbar">
    <!--答题进度-->
</div>