<div class="exam_skin_wood">
    <div class="com_layout" id="layout">
        <div class="com_wrapper_pad" id="wrapper">
            <!-- pad端加.com_wrapper_pad，白板端加.com_wrapper_board -->
            <!--头部-->
            <div class="com_layout_header">
                <!--计时器-->
                <div class="com_header_time">
                    <div class="com_time com_lay_timer">

                    </div>
                    <p class="upload"><b class="upload_text">提交人数：</b><span class="num">35</span>/50</p>
                </div>
                <!--/计时器-->
                <!--提交按钮-->
                <div class="com_header_tool com_lay_submit">

                </div>
                <!--/提交按钮-->
            </div>
            <!--/头部-->
            <!--主体内容-->
            <div class="com_layout_container com_lay_subjectivity">

            </div>
            <!--/主体内容-->

            <!--预加载图片-->
            <span class="imgpreload_1"></span>
            <span class="imgpreload_2"></span>
            <span class="imgpreload_3"></span>
            <span class="imgpreload_4"></span>
            <span class="imgpreload_5"></span>
            <span class="imgpreload_6"></span>
            <span class="imgpreload_7"></span>
            <span class="imgpreload_8"></span>
            <span class="imgpreload_9"></span>
            <span class="imgpreload_10"></span>
            <span class="imgpreload_11"></span>
            <span class="imgpreload_12"></span>
            <span class="imgpreload_13"></span>
            <span class="imgpreload_14"></span>
            <!--/预加载图片-->
        </div>
    </div>
</div>