<div class="exam_skin_wood">
    <div class="com_layout" id="layout">
        <div class="com_wrapper_board" id="wrapper">
            <!-- pad端加.com_wrapper_pad，白板端加.com_wrapper_board -->
            <!--头部-->
            <div class="com_layout_header">
                <!--计时器-->
                <div class="com_header_time">
                    <div class="com_time com_lay_timer">

                    </div>
                    <p class="upload"><b class="upload_text">提交人数：</b><span class="num">35</span>/50</p>
                </div>
                <!--/计时器-->
                <!--提交按钮-->
                <div class="com_header_tool">

                </div>
                <!--/提交按钮-->
            </div>
            <!--/头部-->
            <!--主体内容-->
            <div class="com_layout_container com_lay_subjectivity">

            </div>
            <!--/主体内容-->
        </div>
    </div>
</div>