<div class="ChineseCharacterDictation_pop_add for_text">
    <div class="ChineseCharacterDictation_pop_add_bg ">
        <div class="ChineseCharacterDictation_pop_add_bg_papper ">
            <!-- 弹窗内容区 -->
            <div class="ChineseCharacterDictation_pop_add_main">
                <div class="ChineseCharacterDictation_pop_txt_main_bd">
                    <span class="ChineseCd_txt_main" ng-bind="messageDynamic"></span>
                    <span class="ChineseCd_txt_tip" ng-bind="messageStatic"></span>
                </div>                                        
                <div class="ChineseCharacterDictation_pop_main_ft">
                    <!-- 按钮不可点击添加类名 .click_disabled -->
                    <a class="ChineseCd_light_btn" href="javascript:;" ng-click="ok();">    
                        <span class="ChineseCd_light_btn_txt" ng-bind="btnOkName"></span>
                    </a>
                    <a class="ChineseCd_light_btn" href="javascript:;" ng-click="cancel();">    
                        <span class="ChineseCd_light_btn_txt" ng-bind="btnCancelName"></span>
                    </a>
                </div>
            </div>
            <!-- /弹窗内容区 -->
        </div>
    </div>    
</div>
