<div class="ChineseCharacterDictation_tips_pop_wrapper ">
    <div class="ChineseCd_tips_pop_bg">

        <div class="ChineseCd_tips_pop_bd ">
            <span class="ft_tips_txt" ng-bind="message"></span>
        </div>
        <div class="ChineseCd_tips_pop_ft">
            <a class="ChineseCd_block_btn btn_high_light " href="javascript:;" ng-click="ok();">
                <span class="ChineseCd_block_btn_txt" ng-bind="btnOkName"></span>
            </a>
            <a class="ChineseCd_block_btn " href="javascript:;" ng-click="cancel();">
                <span class="ChineseCd_block_btn_txt" ng-bind="btnCancelName"></span>
            </a>
        </div>

    </div>
</div>
