<div class="exam-skin-wood">

    <div class="baseMod-com-layout">
        <div class="baseMod-com-answer-pad baseMod-com-wrapper-answer">
            <!-- 公共提交按钮 -->
            <div class="baseMod-com-submit _top_right_panel">
            </div>
            <!-- /公共提交按钮 -->
            <div class="baseMod-com-layout-container">
                <!--<div class="baseMod-com-layout-title">
                    <div class="baseMod-com-header-box">
                        &lt;!&ndash;计时器&ndash;&gt;
                        <div class="com_time _top_left_panel">

                        </div>
                    </div>
                </div>-->
                <div class="baseMod-com-layout-body-scrn _center_panel">

                    <!-- module-nqit容器 -->

                </div>
            </div>
        </div>

    </div>
    <div class="notice_tip_box displaynone">
        <div class="notice_tip_con">
            <p class="notice_tip_text"></p>
        </div>
    </div>
    <div class="mix__messagebox _message_panel" style="display: none;"><!-- 全屏遮罩的弹出信息窗体 -->

    </div>
</div>
