<?xml version='1.0' encoding='UTF-8' ?>
<module id='MarkPoint'>
    <properties>
		<property name="default_title" type="string" />
        <property name="title" type="string" />
        <property name="confuse_answer" type="string" />
        <property name="content" type="string" />
        <property name="question_id" type="string" />
        <property name="timer_type" type="string" />
        <property name="timer_time" type="number" />
    </properties>
</module>