<?xml version='1.0' encoding='UTF-8' ?>
<module id='ChineseCharacterDictation'>
    <properties>
        <property name="QuestionId" type="string"/>
        <property name="ChapterName" type="string"/>
        <property name="MainStem" type="html"/>
        <property name="TimerType" type="string"/>
        <property name="TimeLimit" type="number"/>
        <property name="Questions" type="json"/>
    </properties>
</module>
