.nd-loader {
    position: absolute;
    z-index: 999;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100% !important;
    height: 100% !important;
    display:flex;
    justify-content:center;
    align-items:center;
    display:-webkit-flex;
    -webkit-justify-content:center;
    -webkit-align-items:center;
}
.nd-loader-content {
    line-height: 1;
    padding: 7px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.498039);
    color: rgb(255, 255, 255);
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
    font-size: 1.3em;
}
.slides-interaction-q-editor ._pop-panel._skin ul > li._wood > a {
    background-image: url("resources/pic_skin_wood.jpg");
    background-position: 50% 50%;
    background-size: contain;
}
.exam_wood  .ChineseCharacterDictation_tips_pop_wrapper .ChineseCd_tips_pop_bd._padding_none { padding: 0; }
.ChineseCd_tabs_progress.ok .tabs_progress_bg,.ChineseCd_tabs_progress.on .tabs_progress_bg{cursor: pointer;}
.exam_wood .com_layout_large .ChineseCharacterDictation_pop_add_bg .ChineseCharacterDictation_has_word_txt_area .ChineseCharacterDictation_add_txt_tips {display:inline-block !important;}
.exam_wood .com_layout_large .ChineseCharacterDictation_pop_add_bg .ChineseCharacterDictation_sound.animation_go {border:2px solid #FE9C18;}
.exam_wood .com_layout_large .ChineseCharacterDictation_pop_add_bg .ChineseCharacterDictation_add_txt_show .ChineseCd_txt.js_definition_label {font-weight: bold;}
.exam_wood .com_layout_large .ChineseCharacterDictation_content .ChineseCd_items_list_bd .list_bd_txt_box {cursor:pointer;}

.exam_wood .com_layout_large .ChineseCharacterDictation_pop_add_bg .ChineseCharacterDictation_add_txt_input input{line-height:100%;}
.com_u_boardtit textarea[placeholder] { color: #6c4b24; }
.com_u_boardtit textarea::-moz-placeholder { color: #6c4b24; }
.com_u_boardtit textarea:-ms-input-placeholder { color: #6c4b24; }
.com_u_boardtit textarea::-webkit-input-placeholder { color: #6c4b24; }
.ChineseCharacterDictation_add_txt_input input[placeholder] { font-size:.5em; }
.ChineseCharacterDictation_add_txt_input input::-moz-placeholder { font-size:.5em; }
.ChineseCharacterDictation_add_txt_input input:-ms-input-placeholder { font-size:.5em; }
.ChineseCharacterDictation_add_txt_input input::-webkit-input-placeholder { font-size:.5em; }

.exam_wood .border_red_blinding {
    animation: borderRedBlinding 0.7s 3;
    -moz-animation: borderRedBlinding 0.7s 3; /* Firefox */
    -webkit-animation: borderRedBlinding 0.7s 3; /* Safari and Chrome */
    -o-animation: borderRedBlinding 0.7s 3; /* Opera */
}

.exam_wood .com_layout_large .ChineseCharacterDictation_pop_add_bg .ChineseCd_word_py {font-family:ndchinesepy !important;}
.exam_wood .com_layout_large .ChineseCharacterDictation_has_word_dyz .tabs_area_list .ChineseCd_txt {font-family:ndchinesepy !important;}

@font-face{font-family:ndchinesepy;src:url(resources/font/pinyin.ttf) format("truetype");font-weight:400;font-style:normal}

@keyframes borderRedBlinding
{
    from {border: 1px solid red; box-shadow: inset 1px 0 3.26px red,0 0 10.6px red;}
    to {border: 1px solid transparent;}
}
@-moz-keyframes borderRedBlinding /* Firefox */
{
    from {border: 1px solid red; box-shadow: inset 1px 0 3.26px red,0 0 10.6px red;}
    to {border: 1px solid transparent;}
}
@-webkit-keyframes borderRedBlinding /* Safari and Chrome */
{
    from {border: 1px solid red; box-shadow: inset 1px 0 3.26px red,0 0 10.6px red;}
    to {border: 1px solid transparent;}
}
@-o-keyframes borderRedBlinding /* Opera */
{
    from {border: 1px solid red; box-shadow: inset 1px 0 3.26px red,0 0 10.6px red;}
    to {border: 1px solid transparent;}
}