<div class="nhw_write_toolbar">
    <ul class="nhw_write_toolbar_list js_tool_items">
        <!--工具被点中的时候li添加类名open 使用的是当前工具添加类名on-->
        <li class="js_item" data-identify="SelectMode" data-item-type="simple" data-click-mode="select"
            data-extend='{"EventName": "select", "EventData": {}}'>
            <!--第一个li被选中时，加类名.ui_btn_select-->
            <a href="#" class="nhw_mainlink icon1">
            </a>
        </li>
        <li class="js_item" data-identify="PenColor" data-item-type="popup" data-link-menu="js_pen_color"
            data-click-mode="select" data-expand='{"EventName": "write", "EventData": {}'>
            <a href="#" class="nhw_mainlink icon2">
            </a>
            <!--画笔弹出层-->
            <div class="nhw_toolbarpop_bg js_pen_color">
                <div class="nhw_toolbarpop nhw_toolbarpop01">
                    <div class="nhw_toolbox">
                        <p class="nhw_toolrow clearfix">
                            <a href="####" class="nhw_listcon penweight1 js_pen_weight on"
                               data-extend='{"EventName": "penWeight", "EventData": {"weight": "thin"}}'></a>
                            <a href="####" class="nhw_listcon penweight2 js_pen_weight"
                               data-extend='{"EventName": "penWeight", "EventData": {"weight": "middle"}}'></a>
                            <a href="####" class="nhw_listcon penweight3 js_pen_weight"
                               data-extend='{"EventName": "penWeight", "EventData": {"weight": "wide"}}'></a>
                        </p>
                    </div>
                    <div class="nhw_toolbox">
                        <p class="nhw_toolrow clearfix">
                            <a href="####" class="nhw_listcon colordark js_pen_color on"
                               data-extend='{"EventName": "penColor", "EventData": {"color": "#333333"}}'></a>
                            <a href="####" class="nhw_listcon colorgrey js_pen_color"
                               data-extend='{"EventName": "penColor", "EventData": {"color": "#e1e1e1"}}'></a>
                            <a href="####" class="nhw_listcon colorred js_pen_color"
                               data-extend='{"EventName": "penColor", "EventData": {"color": "#ff4a32"}}'></a>
                        </p>
                    </div>
                </div>
            </div>
            <!--/画笔弹出层-->
        </li>
        <li class="js_item" data-identify="PaintColor" data-item-type="popup" data-link-menu="js_paint_color" data-click-mode="select" data-extend='{"EventName": "fillColorClick", "EventData": {}}'>
            <a href="####" class="nhw_mainlink icon3">
            </a>
			<div class="fct_color_range">
				<!-- 色块颜色填充 改变 .fct_colorful 的 border-bottom-color 属性 
					或者添加跟里面 圆圈一样的颜色类名 colorgreen_paintbucket 等
				 -->
				<span class="fct_colorful colorred_paintbucket"></span>
			</div>
            <!--油漆桶弹出层-->
            <div class="nhw_toolbarpop_bg paintbucket_bg js_paint_color">
                <div class="nhw_toolbarpop nhw_toolbarpop01 nhw_toolbarpop_paintbucket">
                    <div class="nhw_toolbox">
                        <p class="nhw_toolrow clearfix">
                            <a href='####' class='nhw_listcon colorred_paintbucket js_paint_item on'
							                      data-color='colorred_paintbucket'
                               data-extend='{"EventName": "fillColor", "EventData": {"color": "#fc5300"}}'></a>
                            <a href='####' class='nhw_listcon colororange_paintbucket js_paint_item'
								                  data-color='colororange_paintbucket'
                               data-extend='{"EventName": "fillColor", "EventData": {"color": "#f0751f"}}'></a>
                            <a href='####' class='nhw_listcon coloryellow_paintbucket js_paint_item'
								                  data-color='coloryellow_paintbucket'
                               data-extend='{"EventName": "fillColor", "EventData": {"color": "#f7ef1b"}}'></a>
                            <a href='####' class='nhw_listcon colorgreen_paintbucket js_paint_item'
								                  data-color='colorgreen_paintbucket'
                               data-extend='{"EventName": "fillColor", "EventData": {"color": "#34cc0b"}}'></a>
                            <a href='####' class='nhw_listcon colorlightblue_paintbucket js_paint_item'
								                  data-color='colorlightblue_paintbucket'
                               data-extend='{"EventName": "fillColor", "EventData": {"color": "#1dadbe"}}'></a>
                            <a href='####' class='nhw_listcon colorblue_paintbucket js_paint_item'
								                  data-color='colorblue_paintbucket'
                               data-extend='{"EventName": "fillColor", "EventData": {"color": "#235ddf"}}'></a>
                            <a href='####' class='nhw_listcon colorpurple_paintbucket js_paint_item'
								                  data-color='colorpurple_paintbucket'
                               data-extend='{"EventName": "fillColor", "EventData": {"color": "#8418d7"}}'></a>
                            <a href='####' class='nhw_listcon colorgrey_paintbucket js_paint_item'
								                  data-color='colorgrey_paintbucket'
                               data-extend='{"EventName": "fillColor", "EventData": {"color": "#6f6f6f"}}'></a>
                            <a href='####' class='nhw_listcon colordark_paintbucket js_paint_item'
								                  data-color='colordark_paintbucket'
                               data-extend='{"EventName": "fillColor", "EventData": {"color": "#232323"}}'></a>
                        </p>
                    </div>
                </div>
            </div>
            <!--/油漆桶弹出层-->
        </li>
        <li class="js_item" data-identify="Erase" data-item-type="simple" data-click-mode="select"
            data-extend='{"EventName": "erase", "EventData": {}}'>
            <a href="####" class="nhw_mainlink icon4"></a>
        </li>
        <li class="js_item" data-identify="Undo" data-item-type="simple" data-click-mode="active"
            data-extend='{"EventName": "undo", "EventData": {}}'>
            <a href="####" class="nhw_mainlink icon5"></a>
        </li>
        <li class="js_item" data-identify="Redo" data-item-type="simple" data-click-mode="active"
            data-extend='{"EventName": "redo", "EventData": {}}'>
            <a href="####" class="nhw_mainlink icon6"></a>
        </li>
        <li class="js_item" data-identify="Reset" data-item-type="simple" data-click-mode="active" data-popup-window="js_clear_popup">
            <a href="####" class="nhw_mainlink icon7"></a>
        </li>

    </ul>
</div>
<!-- 提示清空的弹窗 -->
<div class="comui_big_pop pop_nobg ui_pop_sccess hide_dom js_clear_popup">
    <div class="comui_pop_notebook_bg ">
        <div class="comui_pop_notebook_bg_papper ">
            <!-- 弹窗内容区 -->
            <div class="comui_pop_papper_main">
                <div class="comui_pop_papper_txt">
					<span class="nubuck2_pop_txt" nd-translate="message.clear.part1"></span>
					<br/>
                    <span class="nubuck2_pop_txt" nd-translate="message.clear.part2"></span>
				</div>
                <div class="comui_pop_btn_item">
                    <a class="com_btn_round2 js_clear_cancel" href="javascript:;">
						<span class="text_box" nd-translate="label.btn.cancel"></span>
					</a>
					<a class="com_btn_round2 right js_clear_confirm" data-extend='{"EventName": "reset", "EventData": {}}' href="javascript:;" href="javascript:;">
						<span class="text_box" nd-translate="label.btn.ok"></span>
					</a>
                </div>
            </div>
            <!-- /弹窗内容区 -->
        </div>
    </div>
</div>