<div class="exam-skin-wood">
    <div class="baseMod-com-layout">
        <!-- 手写板部分 -->
        <div class="com_lay_write">

        </div>
        <!-- /手写板部分 -->
        <!--
            pad类名baseMod-com-wrapper-pad
            白板类名baseMod-com-wrapper-board
            学生端答题框baseMod-com-wrapper-answer
            老师端等待学生答题baseMod-com-wrapper-waiting
        -->
        <div class="baseMod-com-wrapper-pad nqti-base-peerreview">
            <div class="baseMod-com-header-box">
                <!--计时器-->
                <div class="com_time com_lay_timer">
                </div>
                <p class="upload"><b class="upload_text">提交人数：</b><span class="num">0</span>/0</p>
            </div>
            <!-- 公共提交按钮 -->
            <div class="baseMod-com-submit com_lay_submit">
            </div>
            <!-- /公共提交按钮 -->
            <div class="com_lay_panel js-container"></div>
        </div>
    </div>
</div>
