
{
    "VLPrefabHead" : {
        "instanceID" : "a4309aec-bf01-46ee-bc2e-343c4980c4b1",
        "fileGuid"   : "ebef7515-30d2-4c27-9588-9db6c7662361",
        "serializedVersion" : "1.0",
        "name"              : "null",
        "description"       : "1.0",
        "icon"              : "null",
        "rootGameObject"    : "VLGameObjctData",
        "vlPrefabType"      : "VLPrefabGameObject"
    },
    "VLGameObjctData" : [
        {
            "objID" : "4071dda1-dd9a-42bb-9301-e40d2e179bea",
            "name"  : "DependOnLoginPlugin",
            "icon"  : "cadf7248-f4d5-456b-bf54-a1d170232dff",
            "description" : "",
            "isActive"    : true,
            "componentList" : [
                "9df7248f-2a97-4a43-89cd-a7ecfe504e00",
                "85425db5-6072-40ce-afc9-aac50e745b74"
            ],
            "idObj"         : 0
        }
		
    ],
    "VLComponentData" : [
        {
            "guid" : "9df7248f-2a97-4a43-89cd-a7ecfe504e00",
            "isEnable" : true,
            "vlGameObject" : "4071dda1-dd9a-42bb-9301-e40d2e179bea",
            "componentType" : "VLTransorm",
            "scriptType"    : "VLEngine.VLTransform",
            "paramJson"     : {
                "m_localPosition" : {
                    "x" : 0.0,
                    "y" : 0.0,
                    "z" : 0.0
                },
                "m_localScale"    : {
                    "x" : 1.0,
                    "y" : 1.0,
                    "z" : 1.0
                },
                "m_LocalRotation" : {
                    "x" : 0.0,
                    "y" : 0.0,
                    "z" : 0.0,
                    "w" : 1.0
                },
                "m_eulerAngles"   : {
                    "x" : 0.0,
                    "y" : 0.0,
                    "z" : 0.0
                },
                "m_parent"        : {
                    "fileID" : "",
                    "scriptType" : "VLEngine.VLTransform",
                    "assembly"   : "VLEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                },
                "guid"            : "9df7248f-2a97-4a43-89cd-a7ecfe504e00"
            }
        },
        {
            "guid" : "85425db5-6072-40ce-afc9-aac50e745b74",
            "isEnable" : true,
            "vlGameObject" : "4071dda1-dd9a-42bb-9301-e40d2e179bea",
            "componentType" : "VLComponent",
            "scriptType"    : "NDPluginsKit.DllImportBehaviour",
            "paramJson"     : {
                "guid"       : "85425db5-6072-40ce-afc9-aac50e745b74",
				"dllNames"    : [

				]
            }
        }
    ]
}
