{
	"VLPrefabHead": 
	{
		"instanceID": "3a62bb9d-c41c-4380-9ed8-7a37b16ba99b",
		"fileGuid": "2e38fe3f-745e-4518-bd90-24dc40748d80",
		"serializedVersion": "1.0",
		"name": "null",
		"description": "VLPrefabGameObject",
		"icon": "null",
		"rootGameObject": "VLGameObjctData",
		"vlPrefabType": "VLPrefabGameObject"
	},
	"VLGameObjctData": 
	[{
		"objID": "4071dda1-dd9a-42bb-9301-e40d2e179bea",
		"name": "Launcher",
		"icon": "cadf7248-f4d5-456b-bf54-a1d170232dff",
		"description": "",
		"isActive": true,
		"componentList": ["85425db5-6072-40ce-afc9-aac50e745b74", "85425db5-6072-40ce-afc9-aac50e745b75", "bc10ae77-22c3-4637-a3be-ecd22869196e"],
		"idObj": 0
	}],
	"VLComponentData": [{
		"guid": "85425db5-6072-40ce-afc9-aac50e745b74",
		"isEnable": true,
		"vlGameObject": "4071dda1-dd9a-42bb-9301-e40d2e179bea",
		"componentType": "VLComponent",
		"scriptType": "NDPluginsKit.DllImportBehaviour",
		"paramJson": {
			"dllNames": ["NDLoginPlugin", "DependOnLoginPlugin", "Ed.Launcher"],
			"guid": "85425db5-6072-40ce-afc9-aac50e745b74"
		}
	},
{
		"guid": "85425db5-6072-40ce-afc9-aac50e745b75",
		"isEnable": false,
		"vlGameObject": "4071dda1-dd9a-42bb-9301-e40d2e179bea",
		"componentType": "VLComponent",
		"scriptType": "FrameworkShell.MenuBehaviour",
		"paramJson": {		
			"guid": "85425db5-6072-40ce-afc9-aac50e745b75"
		}
	},
	{
		"guid": "bc10ae77-22c3-4637-a3be-ecd22869196e",
		"isEnable": true,
		"vlGameObject": "4071dda1-dd9a-42bb-9301-e40d2e179bea",
		"componentType": "VLTransorm",
		"scriptType": "FrameworkCore.VLTransform",
				"paramJson": {
					"m_localPosition": {
				"x": 0.0,
				"y": 0.0,
				"z": 0.0
			},
			"m_localScale": {
				"x": 1.0,
				"y": 1.0,
				"z": 1.0
			},
			"m_LocalRotation": {
				"x": 0.0,
				"y": 0.0,
				"z": 0.0,
				"w": 1.0
			},
			"m_eulerAngles": {
				"x": 0.0,
				"y": 0.0,
				"z": 0.0
			},
			"m_parent": {
				"fileID": "",
				"scriptType": "FrameworkCore.VLTransform",
				"assembly": "FrameworkCore, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null"
			},
			"guid": "bc10ae77-22c3-4637-a3be-ecd22869196e"
		}
	}]
}