@mixin mediaQuery($s){
    .hide_dom{
        display: none !important;
    }
    .freeCombination_wrapper{
        .com_lay_header{
            text-align: center;
            *{
                -webkit-user-select: none;
            }            
        }
        .com_lay_contain {
            .com_lay_board{
                &::-webkit-scrollbar {
                    width: 10px/$s;
                    height: 10px/$s;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 6px/$s;
                    background: #daa967;
                } 
            }
            .com_lay_boardtit{
                z-index: 3;
            }
            .com_u_boardtit {
                margin:7px/$s  8.5% 0;
                .tit {
                    padding:0;
                }
            }
        }
        .fct_top_submenu {
            position: absolute;
            z-index: 999;
            display: none;
            .freeCombination_popmenu_second {
                margin: 0;
                display: block;
            }
            .popmenu_basic_shape{
                margin-left: -114px/$s;
                .freeCombination_pc_item_title{
                    display: block;
                    height: 34px/$s;
                    line-height: 34px/$s;
                    padding-left: 38px/$s; 
                    &:first-child{
                        height: 44px/$s;
                        line-height: 44px/$s;
                    }
                }
                .freeCombination_pc_title{
                    font-size: 18px/$s;
                    padding: 0;                    
                    &:after{
                        display: none;
                    }
                }
                .freeCombination_pci_second_wrapper{
                   margin: 0 10px/$s ;
                   padding: 6px/$s 28px/$s;
                   border-top: 1px solid #f1e7d0;
                   border-bottom: 1px solid #efe4cb;
                }
                .freeCombination_pc_item{
                    width: 332px/$s;
                    //width: 386px/$s;
                    margin: 0;
                }
                .fct_basic_shapes{
                    display: inline-block;
                    width: 28px/$s;
                    height: 28px/$s;
                    background-color: none;
                    background-image: url(resources/wood/images/f_icons_sm_src.png);
                    background-size: 28px /$s auto;
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    &:hover,&.ui_btn_hover,&.ui_btn_select{
                        background-color: #eedead;
                    }
                    &:active,&.ui_btn_active{
                        opacity: .5;
                        filter: alpha(opacity=50);
                    }
                    &.fct_shapes_1{
                        background-position: 0 0;
                    }
                    &.fct_shapes_2{
                        background-position: 0 -36px /$s;
                    }
                    &.fct_shapes_3{
                        background-position: 0 -72px /$s;
                    }
                    &.fct_shapes_4{
                        background-position: 0 -108px /$s;
                    }
                    &.fct_shapes_5{
                        background-position: 0 -144px /$s;
                    }
                    &.fct_shapes_6{
                        background-position: 0 -180px /$s;
                    }
                    &.fct_shapes_7{
                        background-position: 0 -216px /$s;
                    }
                    &.fct_shapes_8{
                        background-position: 0 -252px /$s;
                    }
                    &.fct_shapes_9{
                        background-position: 0 -288px /$s;
                    }
                    &.fct_shapes_10{
                        background-position: 0 -324px /$s;
                    }
                    &.fct_shapes_11{
                        background-position: 0 -360px /$s;
                    }
                    &.fct_shapes_12{
                        background-position: 0 -396px /$s;
                    }
                    &.fct_shapes_13{
                        background-position: 0 -432px /$s;
                    }
                    &.fct_shapes_14{
                        background-position: 0 -468px /$s;
                    }
                    &.fct_shapes_15{
                        background-position: 0 -504px /$s;
                    }
                    &.fct_shapes_16{
                        background-position: 0 -540px /$s;
                    }
                    &.fct_shapes_17{
                        background-position: 0 -576px /$s;
                    }
                    &.fct_shapes_18{
                        background-position: 0 -612px /$s;
                    }
                    &.fct_shapes_19{
                        background-position: 0 -648px /$s;
                    }
                    &.fct_shapes_20{
                        background-position: 0 -684px /$s;
                    }
                    &.fct_shapes_21{
                        background-position: 0 -720px /$s;
                    }
                    &.fct_shapes_22{
                        background-position: 0 -756px /$s;
                    }
                    &.fct_shapes_23{
                        background-position: 0 -792px /$s;
                    }
                    &.fct_shapes_24{
                        background-position: 0 -828px /$s;
                    }
                    &.fct_shapes_25{
                        background-position: 0 -864px /$s;
                    }
                    &.fct_shapes_26{
                        background-position: 0 -900px /$s;
                    }
                    &.fct_shapes_27{
                        background-position: 0 -936px /$s;
                    }
                    &.fct_shapes_28{
                        background-position: 0 -972px /$s;
                    }
                    &.fct_shapes_29{
                        background-position: 0 -1008px /$s;
                    }
                    &.fct_shapes_30{
                        background-position: 0 -1044px /$s;
                    }
                    &.fct_shapes_31{
                        background-position: 0 -1080px /$s;
                    }
                    &.fct_shapes_32{
                        background-position: 0 -1116px /$s;
                    }
                    &.fct_shapes_33{
                        background-position: 0 -1152px /$s;
                    }
                    &.fct_shapes_34{
                        background-position: 0 -1188px /$s;
                    }
                    &.fct_shapes_35{
                        background-position: 0 -1224px /$s;
                    }
                    &.fct_shapes_36{
                        background-position: 0 -1260px /$s;
                    }
                    &.fct_shapes_37{
                        background-position: 0 -1296px /$s;
                    }
                    &.fct_shapes_38{
                        background-position: 0 -1332px /$s;
                    }
                    &.fct_shapes_39{
                        background-position: 0 -1368px /$s;
                    }
                    &.fct_shapes_40{
                        background-position: 0 -1404px /$s;
                    }
                    &.fct_shapes_41{
                        background-position: 0 -1440px /$s;
                    }
                    &.fct_shapes_42{
                        background-position: 0 -1476px /$s;
                    }
                    &.fct_shapes_43{
                        background-position: 0 -1512px /$s;
                    }
                    &.fct_shapes_44{
                        background-position: 0 -1548px /$s;
                    }
                }
            }
        }
        /* 颜色自动 */
        .freeCombination_pc_title.color_auto_btn{
            border: 1px solid #c0b696;
            padding: 0;
            text-align: center;
            margin: 0 4px/$s 4px/$s;
            width: auto;
            display: block;
            color: #947456;
            line-height: 1.8;
            &:active,&.ui_btn_active{
                border-color:#947456;
                color: #6c3b00;
            }
        }
    }
    .freeCombination_content{
        height:100%;
    }    
    .freeCombination_top_menu{
        display: inline-block;
        height: 90px /$s;
        margin-top: 12px /$s;
        min-width: 86px /$s;
        background:url(resources/wood/images/f_top_mbg.png) left top repeat-x;
        background-size: auto 102%;
        border: 1px solid rgba(130,65,0,.45);
        border-radius: 8px /$s;        
        .fct_column{
            position: relative;
            padding: 0 18px /$s;
            display: inline-block;
            height: 100%;
            vertical-align: top;
            li{
                display: inline-block;
            }
            &:before{
                position: absolute;
                content: "";
                display: inline-block;
                left: 0;
                top: 12px /$s;
                bottom: 12px /$s;
                width: 1px;
                background: #9e5600;
                border-bottom: 1px solid #f5eadc;
            }
            &:first-child{
                max-width: 146px /$s;
                padding-top: 8px /$s;
                li{
                    padding-top: 4px /$s;
                }
                .fct_menu_btn{
                    height: 32px/$s;                    
                }
                &:before{
                    display: none;
                }
            }
            &.menu_column_2{
                padding-top: 12px /$s;                
                li{
                    display: block;
                    text-align: left;
                }
            }
            &.menu_column_3{
                padding: 12px /$s 10px /$s 0;
                width: 122px /$s;
                li{
                    width: 44px /$s;
                }
            }
            &.menu_column_4{
                padding: 6px /$s 4px /$s 0;
                .fct_menu_btn{
                    height: 73px /$s;
                    min-width: 76px /$s;
                    margin: 0 10px /$s;                    
                    text-align: center;
                    &.btn_has_submenu{
                        .fct_menu_btn_text{
                            margin-right: -24px /$s;
                            padding-right: 30px /$s;
                            &:after{
                                height:24px /$s;
                                vertical-align: top;
                                background-position: center -548px /$s;
                            }
                        }
                    }
                }
                .fct_menu_btn_ico {
                    height:46px /$s;
                    width: 68px /$s;
                    background-image: url(resources/wood/images/f_icons_t_src2.png);
                    background-size: 68px /$s auto;
                    background-position: 0 0;                    
                }
                .btn_icons_txt{
                    background-position: 0 0;
                }
                .btn_icons_pic{
                    background-position: 0 -60px /$s;
                }
                .btn_icons_shape{
                    background-position: 0 -120px /$s;
                }
                .btn_icons_video{
                    background-position: 0 -180px /$s;
                }
                .btn_icons_audio{
                    background-position: 0 -240px /$s;
                }
                .btn_icons_table{
                    background-position: 0 -300px /$s;
                }
                .fct_menu_btn_text{
                    display: block;
                    font-size: 16px /$s;
                    padding: 0 10px /$s;
                }
            }
        }
        .fct_menu_btn{
            display: inline-block;
            &.btn_has_submenu{
                .fct_menu_btn_text{
                    &:after{
                        content:"";
                        display: inline-block;
                        width: 22px /$s;
                        height: 32px /$s;
                        vertical-align: middle;
                        background-image: url(resources/wood/images/f_icons_t_src.png);
                        background-repeat: no-repeat;
                        background-size: 32px /$s auto;
                        background-position: center -504px /$s;
                    }
                }
            }
            &:hover,&.ui_btn_hover,&.ui_btn_open{
                background:url(resources/wood/images/f_top_mbg_hover.png) left top repeat-x;
                background-size: 100% 100%;
            }
            &:active,&.ui_btn_active{
                opacity: .7;
            }
            &.ui_btn_open{
                background:url(resources/wood/images/f_top_mbg_hover.png) left top repeat-x;
                background-size: 100% 100%;
                + .fct_top_submenu{
                    display: block;
                }
            }
            &.click_disabled,&.click_disabled:hover,&.click_disabled.ui_btn_hover,&.click_disabled.ui_btn_open{
                background: none;
                opacity: .4;
                cursor: default;
            }
        }
        .fct_menu_btn_text{
            vertical-align: middle;
            color: #703d00;
            font-size: 16px /$s;
        }
        /* 图标设置 */
        .fct_menu_btn_ico{
            display: inline-block;
            width: 32px /$s;
            height: 32px /$s;
            vertical-align: middle;
            background-image: url(resources/wood/images/f_icons_t_src.png);
            background-repeat: no-repeat;
            background-size: 32px /$s auto;
        }
        .btn_icons_b{
            background-position: 0 0;
        }
        .btn_icons_i{
            background-position: 0 -42px /$s;
        }
        .btn_icons_u{
            background-position: 0 -84px /$s;
        }
        .btn_icons_af{
            background-position: 0 -126px /$s;
        }
        .btn_icons_abg{
            background-position: 0 -168px /$s;
        }
        .btn_icons_e{
            background-position: 0 -210px /$s;
        }
        .btn_icons_tf{
            background-position: 0 -252px /$s;
        }
        .btn_icons_ol{
            background-position: 0 -294px /$s;
        }
        .btn_icons_sp1{
            background-position: 0 -336px /$s;
        }
        .btn_icons_sp2{
            background-position: 0 -378px /$s;
        }
        .btn_icons_sp3{
            background-position: 0 -420px /$s;
        }
        .btn_icons_sp4{
            background-position: 0 -462px /$s;
        }
        /* 图标设置end */
    }
    /* 标题按钮与附件资源模块 */
    .fct_title_resources_btn{
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        display: inline-block;
        min-width: 78px / $s;
        height: 32px / $s;
        line-height: 32px / $s;  
        padding:0 12px/$s ;      
        color: #432400;
        text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.35);
        background: linear-gradient(to bottom,  #d89d52 0%,#c38d4a 100%);
        box-shadow: 1px 3px 3px rgba(50, 27, 0, 0.35);
        border-radius: 0 0 6px / $s 6px / $s;        
        .fct_text_em{
            font-size: 16px / $s;
        }
        &:active,&.ui_btn_active{
            background: linear-gradient(to top,  #d89d52 0%,#c38d4a 100%);
        }
        .fct_text_icon{
            display: inline-block;
            vertical-align: top;
            width: 24px / $s;
            height: 32px / $s;
            margin-right: -4px/ $s;
            background:url(resources/wood/images/f_icons_c.png) left top no-repeat;
            background-size: 24px/$s auto;
        }        
        &.fct_btn_closed{
            border-radius: 6px / $s; 
            box-shadow: 0 1px 2px rgba(4, 0, 0, 0.4);  
            .fct_text_icon{
                background-position: left bottom;
            }
        }
    }
    .fct_resources_box {
        position: absolute;
        left:0;
        right:0;
        top: 60px / $s;   
        background: rgba(237,222,195,.88);
        border-radius: 6px / $s;
        box-shadow: 1px 2px/ $s 20px/ $s rgba(79, 44, 0, 0.4);
        min-height: 196px/$s;
        z-index: 6;
    }
    .fct_res_slidebox {
        position: relative;
        height: 155px/$s;
        padding: 0 48px/$s 5px/$s;
        /*插入的资源预览容器*/
        &.fct_res_preview_mode{
            //height:100%;
            //padding:202px/$s 314px/$s 8px/$s;
            height: 704px/$s;
            padding: 224px/$s 300px/$s 30px/$s;
            z-index: 3;
            .fct_res_preview_box{
                position: relative;
                height: 100%;
                width: 100%;
                background:#deceb3;
                border-radius: 6px/$s;
                box-shadow: 1px 2px/ $s 24px/ $s rgba(66, 38, 0, 0.8);
                padding: 22px/$s 84px/$s;
            }
            .fct_res_list_box{
                
            }
            .fct_res_slide_prev,.fct_res_slide_next{
                background-image: url(resources/wood/images/icon_slide2.png);
                margin-top: -54px/$s;
                width: 96px/$s;
                height: 108px/$s;                
                background-size: 60px/$s auto;                
            }
            .fct_res_slide_prev{
                left: 0;
            }
            .fct_res_slide_next{
                right: 0;
            }
            .fct_res_list_box ul{
                width: 100%;
                height: 100%;
                margin: 0;
            }
            .fct_res_list_box li{
                padding: 0 12px/$s 0;
                width: 100%;
            }
            .fct_slide_a{
                width: 100%;
                height: 100%;
                &:active,&.on{
                    border-color: #aa977e;
                    &:before{
                        display: none;
                    }
                }
            }            
            &:before{
                content:"";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: -200px;
                background: rgba(0,0,0,.5);
            }
        }
        .res_preview_delete{
            display: block;
            position: absolute;
            // top: 14px/$s;
            // right: 14px/$s;
            // width: 60px/$s;
            // height: 60px/$s;
            // padding-top: 16px/$s;
            top: 10px/$s;
            right: 12px/$s;
            width: 38px/$s;
            height: 38px/$s;
            padding-top: 10px/$s;
            background: rgba(0,0,0,.33);
            border-radius: 100%;
            &:before {
                content: '';
                display: block;
                // width: 28px/$s;
                // height: 28px/$s;
                width: 18px/$s;
                height: 18px/$s;
                margin: 0 auto;
                background: url(resources/wood/images/icon_delete.png) center center no-repeat;
                background-size: 100% 100% ;
            }
            &:active,&.ui_btn_active{
                background: rgba(0,0,0,.5);
            }
        }
        .res_preview_closed{
            position: absolute;
            right: -18px/$s;
            top: -18px/$s;
            width: 48px/$s;
            height: 48px/$s;
            border: 2px/$s solid #a88145;
            border-radius: 50%;
            box-shadow: 1px 3px 3px rgba(50, 27, 0, 0.35);
            background: #efe0c5 url(resources/wood/images/f_icons_close.png) center center no-repeat;
            background-size: 100% 100% ; 
            &:hover,&.ui_btn_hover{
                background-color: #fbedd5;
            }   
            &:active,&.ui_btn_active{
                background-color: #ebd4ab;
                border-color: #cc9a4e;
            }         
        }
    }
    .fct_res_shadow_l{
        display: block;
        position: absolute;
        left: 46px/$s;
        top: 50%;
        margin-top: -70px/$s;
        width: 8px/$s;
        height: 150px/$s;
        background: url(resources/wood/images/shadow_l.png) no-repeat;
        background-size: auto 100%;
        z-index: 2;
    }
    .fct_res_shadow_r{
        display: block;
        position: absolute;
        right: 46px/$s;
        top: 50%;
        margin-top: -70px/$s;
        width: 8px/$s;
        height: 150px/$s;
        background: url(resources/wood/images/shadow_r.png) no-repeat;
        background-size: auto 100%;
        z-index: 2;
    }
    .fct_res_slide_prev,.fct_res_slide_next{
        position: absolute;
        top: 50%;
        margin-top: -14px/$s;
        width: 32px/$s;
        height: 32px/$s;
        &:active,&.ui_btn_active{
            opacity: .7;
            filter: alpha(opacity=70);
        }
        &.click_disabled{
            opacity: .25;
            filter: alpha(opacity=25);
            cursor: no-drop;
        }
    }
    .fct_res_slide_prev{
        left: 8px/$s;
        background: url(resources/wood/images/icon_slide.png) center top no-repeat;
        background-size: 100% auto;
    }
    .fct_res_slide_next{
        right: 8px/$s;
        background: url(resources/wood/images/icon_slide.png) center bottom no-repeat;
        background-size: 100% auto;
    }
    .fct_res_list_box{
        height: 100%;
        width: 100%;
        overflow: hidden;
        ul {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 130px/$s;
            margin-top: 18px/$s;
            white-space: nowrap;
            transition: transform .3s;  
            text-align: left;          
        }
        li {
            display: inline-block;
            position: relative;
            height: 100%;
            //width: 188px/$s;
            width: 186px/$s;
            text-align: center;
            padding-top: 4px/$s;
            .fct_slide_a {
                position: relative;
                display: inline-block;
                width: 174px/$s;
                height: 124px/$s;
                border: 1px solid #aa977e;
                background: #fff;
                .play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -27px/$s 0 0 -27px/$s;;
                    display: inline-block;
                    width: 54px/$s;
                    height: 54px/$s;
                    background: url(resources/wood/images/icons_play.png) no-repeat;
                    background-size: 100%;
                }
                &:active,&.on{
                    border-color: #ffb400;
                    &:before{
                        content:"";
                        position: absolute;
                        left:-3px/$s;
                        right:-3px/$s;
                        top:-3px/$s;
                        bottom:-3px/$s;
                        border: 3px/$s solid #ffb400;
                    }
                }
            }
            .fct_slide_a .icon {
                position: absolute;
                top: 4px/$s;
                right: 4px/$s;
                display: inline-block;
                width: 38px/$s;
                height: 38px/$s;
                display: none;
            }
            .insert_table {
                .icon {
                    background-repeat: none;
                    background-position: center center;
                    background-size: 100% 100%;
                    background-image: url(resources/wood/images/icons_table.png);
                }
            }
            .insert_picture {
                .icon {
                    background-repeat: none;
                    background-position: center center;
                    background-size: 100% 100%;
                    background-image: url(resources/wood/images/icons_pic.png);
                    background-image: url(resources/wood/images/icons_pic.svg), none;
                }
            }
            .insert_video {
                background:#230022 url(resources/wood/images/bg_vdupic.png) center center repeat-x;
                background-size: auto 100%;
                .icon {
                    background-repeat: none;
                    background-position: center center;
                    background-size: 100% 100%;
                    background-image: url(resources/wood/images/icons_video.png);
                    background-image: url(resources/wood/images/icons_video.svg), none;
                }
            }
            .insert_audio {
                background:url(resources/wood/images/bg_adupic.png) center center repeat-x;
                background-size: auto 100%;
                .icon {
                    background-repeat: none;
                    background-position: center center;
                    background-size: 100% 100%;
                    background-image: url(resources/wood/images/icons_sound.png);
                    background-image: url(resources/wood/images/icons_sound.svg), none;
                }
            }
        }        
    }
    /*下拉控件下拉窗结构*/
    .ui_fcb_select_box{
        list-style: none;
        padding: 0;
        margin: 0;
        outline: none;
        border: 1px solid #ba986c;
        overflow-x: hidden;
        overflow-y: auto;
        max-height:280px/$s;
        background-color: #fff9ec;
        .ui_fcb_select_list {
            padding: 6px/$s 24px/$s !important;
            background-color: #fff9ec;
            border-bottom: 1px solid #eadec8;
            margin: 0;
            outline: none;
            cursor: pointer;
            color: #6c3b00;
            display: block !important;
            &:hover,&.ui_btn_hover{
                background-color: #fbedc3;
            }
        }
        .ui_fcb_select_text{
            font-size: 16px/$s;
        }
        &::-webkit-scrollbar {
            width: 10px/$s;
            height: 10px/$s;
        }
        &::-webkit-scrollbar-track {
            background: #e1e3e2;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 6px/$s;
            background: #d8cdb1;
        }        
    }
    .item_vertical_mc {
        display: block;
        height: 100%;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        table {
            position: absolute;
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
    /*形状控制*/
    .fct_module_wrapper{
        position: absolute;
    }
    .fct_module_scope{
        width: 100%;
        height: 100%;
    }
    .fct_module_shape{
        width: 100%;
        height: 100%;
        text-align: left;
    }
    .fct_shape_editor{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        cursor: text;
        text-align: left;
    }
    .fct_shape_controller{
        &.fct_controller_type2{
            .move_n{
                border-bottom: 2px dashed #6c3b00;
            }
            .move_s{
                border-top: 2px dashed #6c3b00;
            }
            .move_w{
                border-right: 2px dashed #6c3b00;  
            }
            .move_e{
                border-left: 2px dashed #6c3b00;
            }
        }
    }
    .fct_shapeMove{
        position: absolute;
        cursor: move;
        &.move_n{
        top: -8px;
        left: -2px;
        right: -2px;
        height: 8px;
        border-bottom: 2px solid #6c3b00;
        }
        &.move_s{
            bottom: -8px;
            left: -2px;
            right: -2px;
            height: 8px;
            border-top: 2px solid #6c3b00;
        }
        &.move_w{
            left: -8px;
            top: -2px;
            bottom: -2px;
            width: 8px;
            border-right: 2px solid #6c3b00;  
        }
        &.move_e{
            right: -8px;
            top: -2px;
            bottom: -2px;
            width: 8px;
            border-left: 2px solid #6c3b00;
        }
    }
    .fct_shapeResize{
            position: absolute;
            width: 12px;
            height: 12px;
            margin: -7px;
            background: linear-gradient(to bottom,  #fff 0%,#afadad 100%); 
            border: 2px solid #6c3b00; 
            border-radius: 3px;         
        &.resize_n{
            top: 0px;
            left: 50%;
            cursor: n-resize;
        }
        &.resize_s{
            bottom: 0px;
            left: 50%;
            cursor: s-resize;
        }
        &.resize_w{
            top: 50%;
            left: 0px;
            cursor: w-resize;
        }
        &.resize_e{
            top: 50%;
            right: 0px;
            cursor: e-resize;
        }
        &.resize_se{
            bottom: 0px;
            right: 0px;
            cursor: se-resize;
            border-radius: 50%;
        }
        &.resize_sw{
            bottom: 0px;
            left: 0px;
            cursor: sw-resize;
            border-radius: 50%;
        }
        &.resize_ne{
            top: 0px;
            right: 0px;
            cursor: ne-resize;
            border-radius: 50%;
        }
        &.resize_nw{
            top: 0px;
            left: 0px;
            cursor: nw-resize;
            border-radius: 50%;
        }
        &.resize_rotate{
            top: -30px;
            left: 50%;
            width: 36px;
            height: 36px;
            margin: -18px;
            cursor: url(resources/wood/images/rotate.png),move;
            background: url(resources/wood/images/icos_sp_oc.png) no-repeat center -96px;
            background-size: 36px auto;
            border: none;
            &:before{
                content:"";
                position: absolute;
                left: 17px;
                top: 22px;
                width: 1px;
                height: 20px;
                background: #6c3b00;
            }
            &:after{
                content:"";
                position: absolute;
                left: 50%;
                top: 50%;
                width: 12px;
                height: 12px;
                margin: -6px 0 0 -7px;
                background: linear-gradient(to bottom,  #fff 0%,#afadad 100%); 
                border: 2px solid #6c3b00;
                border-radius: 50%; 
                box-sizing: border-box;
            }
        }
    }
    .fct_shapeControl{
        position: absolute;
        top: -18px;
        width: 36px;
        height: 36px;
        background: linear-gradient(to bottom,  #fefefe 0%,#d6d5d5 100%); 
        border-radius: 50%;
        cursor: pointer;
        &:before{
            content:"";
            position: absolute;
            top: 0;
            left:0;
            width: 36px;
            height: 36px;
            background-image: url(resources/wood/images/icos_sp_oc.png);
            background-repeat: no-repeat;
            background-size: 36px auto;            
        }
        &.control_lock{
            left:-54px;
            &:before{
                background-position: center top;            
            }
        }
        &.control_unlock{
            left:-54px;
            &:before{
                background-position: center bottom;            
            }            
        }
        &.control_delete{
            right:-54px;
            &:before{
                background-position: center -48px;            
            }
        }
        &:hover,&.ui_btn_hover{
            background: #fff;
        }
        &:active,&.ui_btn_active{
            background: linear-gradient(to bottom,  #a6a5a4 0%,#e2e1e0 100%);
        }
    }
    .ss_cursor{
        cursor: url(resources/rotate.cur),move;
    }
    .fct_res_shape_point {
        position: absolute;
        width: 12px;
        height: 12px;
        background: linear-gradient(to bottom,  #fff 0%,#afadad 100%); 
        border: 2px solid #6c3b00; 
        border-radius: 3px;  
        &.resize_se{
            cursor: se-resize;
        }
        &.resize_sw{
            cursor: sw-resize;
        }
        &.resize_ne{
            cursor: ne-resize;
        }
        &.resize_nw{
            cursor: nw-resize;
        }      
    }
}
.com_layout_large_ui {
    // $s: 1; //1200*900以上// var: 不缩放
    @include mediaQuery(1);
}
.com_layout_large {
    // $s: 1.226; //1200*900// var: 缩放比例
    @include mediaQuery(1.226);
}
.com_layout_mid {
    // $s: 1.36; //1080*810
    @include mediaQuery(1.36);
}   
.com_layout_small {
    // $s: 1.63; //900*675
    @include mediaQuery(1.63);
} 