@mixin mediaQuery($s){
    /* 所有都用.freeCombination做前缀 */
    .freeCombination_wrapper {
        //height:200px/ $s;
        //background: url(resources/wood/images/f_icons_fill.png) repeat;
        .freeCombination_poptable {
            display: block;
            //min-width: 437px/ $s;
            //min-height: 649px/ $s;
            position: absolute;
            top:30px/ $s;
            padding: 0 10px/$s;
            background: url(resources/wood/images/poptable_bg.png) ;
            background-repeat:no-repeat;
            background-size: cover;
            border-radius: 6px/ $s;
            box-shadow: 1px 1px 5px #a98455,-1px -1px 5px #a98455;
            color:#582500;
            font-size:20px/ $s;
            z-index: 100;

        }

        .freeCombination_pt_title_wrapper{
            border-bottom: 1px solid #dab98b;
            position: relative;
            height:40px/ $s;
            padding-top: 4px/ $s;

        }

        .freeCombination_pt_title{
            font-size: 20px/$s;
        }

        .freeCombination_ptt_icon{
            position:absolute;
            right:0;
            top:8px/ $s;
            display: inline-block;
            width:22px/ $s;
            height:22px/ $s;
            background:url(resources/wood/images/poptable_btn_off.png) ;
            background-size: 100% auto;
            cursor: pointer;
            //border:1px solid red;
        }

        .freeCombination_pt_content_wrapper{
            position: relative;
            border-top: 1px solid #f8e0bd;
            z-index: 999;

            &.show_content1{
                .freeCombination_ptct_title1{
                    opacity:1 !important;
                }
                .content1{
                    display:block;
                }
            }

            &.show_content2{
                .freeCombination_ptct_title2{
                    opacity:1 !important;
                }
                .content2{
                    display:block;
                }
            }
        }

        .freeCombination_ptc_tab_title{
            position: relative;
            height:50px /$s;
            //border:1px solid red;
            text-align: left;
            padding-top:14px/ $s;
            cursor: pointer;
            z-index: 999;


        }

        .freeCombination_ptct_title1{
            display: inline-block;
            min-width:102px /$s;
            height:36px/ $s;
            background:rgba(242,235,228,0.8);
            text-align: center;
            border-radius: 3px/ $s 3px/$s 0 0;
            opacity: 0.6;

        }

        .freeCombination_ptct_title2{
            display: inline-block;
            min-width:72px /$s;
            height:36px/ $s;
            background:rgba(242,235,228,0.8);
            text-align: center;
            border-radius: 3px/ $s 3px/$s 0 0;
            opacity: 0.6;
        }

        .freeCombination_ptc_tab_content_wrapper{
            position: relative;
            //min-width:416px/ $s;
            //min-height: 476px/ $s;
            background:rgba(242,235,228,0.8);
            box-shadow: 1px 1px 5px #d9bf98,-1px -1px 5px #d9bf98;
            text-align: center;
            padding:12px/ $s 20px/ $s;

        }

        .freeCombination_ptc_tab_content{
            //position: relative;
            //min-width:416px/ $s;
            //min-height: 476px/ $s;
            //background:rgba(242,235,228,0.8);
            //box-shadow: 1px 1px 5px #d9bf98,-1px -1px 5px #d9bf98;
            //text-align: center;
            //padding:12px/ $s 20px/ $s;
            display: none;

        }


        .freeCombination_ptc_table{
            position: relative;
            z-index: 0;
            width:100%;
            //display: block;
            text-align: center;
            tr{
                height:56px/ $s;
            }

            td{
                padding:16px/$s 4px/ $s;
                position: relative;
            }

            td:nth-child(odd){
                text-align: left;
            }
            td:nth-child(even){
                text-align: right;
            }

            input{
                position: relative;
                background: #e4d5ba;
                border:0;
                height:30px/ $s;
                font-size:18px/ $s;
                color:#582500;
                z-index: 0;
                padding: 0 10px/$s;
                box-shadow: 1px 1px 2px #dfccae inset,-1px -1px 2px #dfccae inset;
               // width:100% !important;
                width:0;
            }

        }

        .freeCombination_ptc_table1{
            //top:15px/ $s;
            //left:10px/ $s;
            //right:10px/ $s;
            //position: relative;
            td:nth-child(odd){
                width:70px/$s;
                //padding-left: 24px/ $s;
            }
            td:nth-child(3){
                padding-left: 24px/ $s;
            }
            input{
                position:absolute;
                left:0;
                right:0;
                width:100%;
                display: inline-block;
                //width:66px/ $s;
            }


        }


        .freeCombination_ptc_table2{
            position: relative;
            z-index:999;
            td:nth-child(odd){
                width:120px/$s;
            }
            .freeCombination_ptct_select{
                position:absolute;
                left:0;
                right:0;
                width:100%;
                display: inline-block;
            }

        }

        .freeCombination_ptc_table3{
            position: relative;
            z-index:199;
            td:nth-child(odd){
                width:120px/$s;
            }
            .freeCombination_ptct_select{
                position:absolute;
                left:0;
                right:0;
                width:100%;
                display: inline-block;
            }


        }


        .freeCombination_ptc_table4{
            td:nth-child(odd){
                width:60px/$s;
                //padding-left: 14px/ $s;
            }
            td:nth-child(3),td:nth-child(5){
                //width:60px/$s;
                padding-left: 14px/ $s;
            }
            input{
                //display: inline-block;
                //width:66px/ $s;
                //width:50%;
                position:absolute;
                left:0;
                right:0;
                width:100%;
                display: inline-block;
            }
        }

        .freeCombination_ptc_table5{
            td:nth-child(odd){
                width:60px/$s;
            }
            input{
                //width:320px/ $s;
                position:absolute;
                left:0;
                right:0;
                width:100%;
            }
        }

        .freeCombination_ptct_select{
            display: inline-block;
            position: relative;
            width:260px/ $s;
            width:100%;
            background: #e4d5ba;
            border:0;
            height:30px/ $s;
            font-size:18px/ $s;
            color:#582500;
            z-index:999;
            cursor: pointer;
            text-align: left;
            padding: 0 10px/$s;
            box-shadow: 1px 1px 2px #dfccae inset,-1px -1px 2px #dfccae inset;

        }

        .freeCombination_ptct_icon{
            position: absolute;
            right:0;
            display:inlie-block;
            margin:10px;
            width:0;
            height:0;
            border: 6px solid;
            border-color:#894b00 transparent  transparent transparent;

        }

        .freeCombination_ptct_ul{
            position:absolute;
            //width:260px/ $s;
            width:100%;
            left:0;
            top:31px/ $s;
            display: none;
            &.show_dom{
                display: inline-block;
            }
        }

        //.freeCombination_ptct_li{
        //    position: relative;
        //    width:260px/ $s;
        //    background: #e4d5ba;
        //    border:0;
        //    height:30px/ $s;
        //    font-size:18px/ $s;
        //    color:#582500;
        //    border:1px solid #f2ebda;
        //    padding:0 10px/$s;
        //    z-index:999;
        //}



        .freeCombination_pt_bottom{
            min-width:412px/ $s;
            height: 72px/ $s;
            position:relative;
            user-select:none;
        }

        .freeCombination_ptb_btn{
            position: relative;
            display: inline-block;
            margin-top:16px/ $s;
            padding:7px/ $s 10px/ $s;
            min-width:124px/ $s;
            height:44px/ $s;
            border:1px solid #dbbb8f;
            background:url(resources/wood/images/poptable_btn_bg.png);
            background-size: cover;
            cursor: pointer;
            border-radius: 24px/ $s;
            box-shadow: 1px 2px #b99365;
            //border-bottom: 3px solid #b99365;
            color:#8d5000;
            &:before{
                content:"";
                display: inline-block;
                min-width:119px/ $s;
                height:23px/$s;
                background:url(resources/wood/images/poptable_highlight.png);
                background-size: cover;
                position: absolute;
                left:0;
                top:0;
                right:0;
                white-space: nowrap;
                z-index: 0;
            }

            &:active,&.ui_btn_active{
                &:after{
                    content:"";
                    position: absolute;
                    left: -2px/$s;
                    right: -2px/$s;
                    top: -2px/$s;
                    bottom: -3px/$s;
                    border: 3px/$s solid #ffb017;
                    border-radius: 24px/ $s;
                }
            }
        }

        .btn_yes{
            //color: #cc3e00;
            margin-right: 18px/$s;
        }
        .freeCombination_ptb_btn_text{
            position: relative;
            z-index: 999;
            font-size: 20px/$s;
        }

        .freeCombination_ptb_icon{
            display: inline-block;
            height:40px/ $s;
            width:40px/ $s;
            background:url(resources/wood/images/incon_strench.png);
            background-size: 100% auto;
            position:absolute;
            right:-12px/$s;
            bottom:-12px/$s;
            cursor: nw-resize;
        }

        .freeCombination_ptct_input_id{
            width:90% !important;
        }

        .freeCombination_ptct_input_style{
            width:90% !important;
        }

        .freeCombination_ptct_input_class{
            width:90% !important;
        }

        .freeCombination_content2_select{
            width:90% !important;
        }

    }
}
.com_layout_large_ui {
    // $s: 1; //1200*900以上// var: 不缩放
    @include mediaQuery(1);
}
.com_layout_large {
    // $s: 1.226; //1200*900// var: 缩放比例
    @include mediaQuery(1.226);
}
.com_layout_mid {
    // $s: 1.36; //1080*810
    @include mediaQuery(1.36);
}
.com_layout_small {
    // $s: 1.63; //900*675
    @include mediaQuery(1.63);
}