.com_u_btn1 {
    display: inline-block;
    width: 164px;
    height: 60.66667px;
    line-height: 56px;
    font-size: 24px;
    color: #5d390d;
    text-align: center;
    background: url(img/btn1_normal.png) no-repeat center center;
    background-size: 100% auto;
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.51);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.com_u_btn1:hover {
    opacity: 0.7; }
.com_u_btn1:active {
    opacity: 1;
    background: url(img/btn1_press.png) no-repeat center center;
    background-size: 100% auto; }
.com_u_btn1.com_s_disabled {
    opacity: 0.7;
    color: #ce9f58;
    text-shadow: 0 0 4px white; }
.com_u_btn1.com_s_disabled:hover {
    opacity: 0.7; }
.com_u_btn1.com_s_disabled:active {
    opacity: 0.7;
    background: url(img/btn1_normal.png) no-repeat center center;
    background-size: 100% auto; }