/** choiceStatistics style start**/
.choice_content.com_layout .com_wrapper {
    height: 5.54167em
}

.choice_container {
    position: relative;
    height:10.3em;
}

.chart_display_mini{
    font-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;
}
.chart_display_mini .choice_more .choice_option {
    margin-right: 2.70833em
}

.chart_display_mini .choice_more .choice_option:last-child {
    margin-right: 0
}

.chart_display_mini .choice_option_list {
    position: absolute;
    left: 3.54167em;
    right: 4.45833em;
    top: 1em;
    white-space: nowrap;
    overflow:hidden;
}
.chart_display_mini .choice_option_list .choice_option.unfinished{
    position:fixed;
    z-index:2;
    background-color:#f8efde;
    /*padding-right:4.45833em;*/
    /*padding:0 5em 0 1em;*/
}
.chart_display_mini .choice_option_list .choice_desc {
    display: inline-block;
    color: #f4b055;
    font-size: .83333em;
    margin-left:.25em;
}

.chart_display_mini .choice_option_list .choice_desc em {
    font-size: 1.56em;
    font-style:normal;
}

.chart_display_mini .choice_option_list .choice_order {
    font-size: 1.16667em;
    color: #887b66
}
.chart_display_mini .choice_hist_a, .chart_display_mini .choice_hist_a:hover{
    text-decoration: none;
}
.chart_display_mini .choice_hist_a:active {
    opacity: .7
}

.chart_display_mini .choice_option {
    display: inline-block;
    /*margin-right: 7.85em*/
}

.chart_display_mini .choice_option:last-child {
    margin-right: 0
}

.chart_display_mini .choice_option.choice_correct_answer .choice_order,.chart_display_mini .choice_option.choice_correct_answer .choice_desc {
    color: #a3ba35
}
.chart_display .choice_column_wrapper{
    display:inline-block;
}

.chart_display .choice_more .choice_column_wrapper {
    margin-right: 4.58333em
}

.chart_display .choice_more .choice_column_wrapper:last-child {
    margin-right: 0
}

.chart_display{
    height: 12.91667em;
    font-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;
    font-style:normal;
}

.chart_display .choice_barColumn_container {
    position: absolute;
    top: 2em;
    left: 4.375em;
    right: 4.45833em;
    padding-left: 2.5em;
    white-space: nowrap;
    overflow: hidden;
}
.chart_display .choice_barColumn_container .choice_column_wrapper.unfinished{
    position:fixed;
    z-index:2;
    background-color:#f8efde;
    padding:0 4em 0 2.5em;
    margin-left:-2.5em;
}
.chart_display .choice_barColumn_container .choice_column_header {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-size: .83333em;
    color: #887b66
}

.chart_display .choice_barColumn_container .choice_column_header em {
    font-size: 1.45em;
    color: #f4b055;
    font-style:normal;
}

.chart_display .choice_barColumn_container .choice_column_header .choice_num {
    display: inline-block
}

.chart_display .choice_barColumn_container .choice_column_option {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 1.16667em;
    color: #887b66;
}

.chart_display .choice_barColumn_container .choice_column_bar {
    display: block;
    position: relative;
    width: 100%;
    height: 4.16667em;
    margin: 1.66667em auto;
    background: #e9e0cf
}

.chart_display .choice_barColumn_container .choice_column_percent {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    border: 1px solid #e69c38;
    background: #f4b055;
    box-sizing: border-box;
    vertical-align: bottom
}

.chart_display .choice_column_wrapper {
    margin-right: 10em
}

.chart_display .choice_column_wrapper:last-child {
    margin-right: 0
}

.chart_display .choice_column_wrapper.choice_correct_answer .choice_column_header em,
.chart_display .choice_column_wrapper.choice_correct_answer .choice_column_option {
    color: #a3ba35
}

.chart_display .choice_column_wrapper.choice_correct_answer .choice_column_percent {
    background: #a3ba35;
    border: 1px solid #9bb132
}

.chart_display .choice_hist_a {
    position: relative;
    display: inline-block;
    width: 2.5em;
    text-align: center
}

.chart_display .choice_line {
    display: block;
    position: absolute;
    top: 7.79167em;
    left: 4.33333em;
    right: 4.45833em;
    height: 1px;
    background: #acae9c;
    z-index:3
}

.chart_display .choice_line .choice_round {
    position: absolute;
    top: -.41667em;
    left: -.83333em;
    display: inline-block;
    width: .83333em;
    height: .83333em;
    border-radius: 50%;
    background: #c8bca5;
    border: 1px solid #acae9c
}

.chart_display .choice_noanswerbox {
    height: 100%;
    text-align: center
}

.chart_display .choice_noanswerbox:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle
}

.chart_display .choice_noanswerbox .choice_img {
    display: inline-block;
    width: 7.375em;
    height: 7.54167em;
    margin-right: 1em;
    background: url(../img/noanswer.png) no-repeat;
    background-size: 100% 100%;
    vertical-align: middle
}

.chart_display .choice_noanswerbox .choice_text {
    font-size: 1.25em;
    color: #897864;
    vertical-align: middle
}

.chart_display .choice_icon_pull .choice_icon {
    background: url(../img/icon_pull.png) left top no-repeat;
    background-size: 100% auto
}

.analysis_wrapper .choice_detail_header{
    font-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;
    margin-top: -1.2em;
}

.analysis_wrapper .choice_detail_header .choice_pop_title{
    font-weight: 700;
    font-size: 1.08333em;
    color: #603300;
    margin:0.5em 0 0 0;
}
.analysis_wrapper .choice_detail_header .choice_pop_title .choice_num{
    padding: 0 .54167em;
    color: #a3ba35;
}
.analysis_wrapper .choice_detail_header .choice_pop_title .choice_option{
    padding: 0 .54167em;
    color: #ffa035;
}
.analysis_wrapper .choice_detail_header .choice_question_info{
    padding-top: 0.5em;
    color: #603300;
    font-size: 1.08333em;
}



.choice_content .choice_icon_pull {
    position: absolute;
    bottom: -1em;
    right: 1.41667em;
    display: block;
    width: 2.25em;
    height: 2.25em;
    background: url(../img/bg_pull.png) left top no-repeat;
    background-size: 100% auto
}

.choice_content .choice_icon_pull .icon {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/icon_pull.png) left bottom no-repeat;
    background-size: 100% auto
}

.choice_content .choice_icon_pull:active {
    background: url(../img/bg_pull.png) left bottom no-repeat;
    background-size: 100% auto
}
.footbar_showAnalysis_clicked{
    background-color:#ccc !important;
}
.analysis_wrapper .choice_detail_header .choice_question_info p{
    display:inline-block;
}
/**  choiceStatistics style end **/
