.addon_ObjectiveQuestionStatistics .chart_display .rp-ul {
  /*max-height: 4em;*/
  overflow: auto;
}
.addon_ObjectiveQuestionStatistics .chart_display .rp-ul .fill-detial-rp-li {
  /*cursor: pointer;*/
}
.addon_ObjectiveQuestionStatistics .chart_display .rp-ul .fill-detial-rp-li.select .letter{
  color: #83ad50;
  border: 1px solid #83ad50;
}
.addon_ObjectiveQuestionStatistics .chart_display .rp-ul .fill-detial-rp-li.select .text{
  color: #83ad50;
}
.addon_ObjectiveQuestionStatistics .chart_display_mini .fill-mini-ul .fill-mini-li.select .letter{
  color: #83ad50;
  border: 1px solid #83ad50;
}
.addon_ObjectiveQuestionStatistics .chart_display_mini .fill-mini-ul .fill-mini-li.select .text{
  color: #83ad50;
}
