.trueof_content.com_layout .com_wrapper {
    height: 5.54167em
}

.trueof_content .com_layout_main {
    position: relative;
    height: 100%
}

.trueof_content address, .trueof_content caption, .trueof_content cite, .trueof_content code, .trueof_content dfn, .trueof_content em, .trueof_content i, .trueof_content input, .trueof_content select, .trueof_content textarea, .trueof_content th {
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 1.33333em; }


.trueof_content .histogram {
    padding: 1em 0 1em 3.33333em
}

.trueof_content .histogram .hist_a {
    display: inline-block
}

.trueof_content .histogram .hist_a:active {
    opacity: .7
}

.trueof_content .histogram .hist_a div {
    display: inline-block;
    border-bottom: 1px solid #f4b055
}

.trueof_content .histogram .hist_a em {
    display: inline-block;
    line-height: 1.0833em;
    font-size: 1.33333em;
    color: #f4b055;
}

.trueof_content .histogram .hist_a .man {
    display: inline-block;
    line-height: 1.20833em;
    font-size: .83333em;
    color: #f4b055;
}

.trueof_content .histogram .hist_a .answer {
    display: inline-block;
    font-size: .83333em;
    color: #887b66
}

.trueof_content .histogram .hist_a .num {
    display: none
}

.trueof_content .hist_list {
    display: inline-block;
    margin-right: 3.16667em
}

.trueof_content .hist_list.on .man, .trueof_content .hist_list.on em {
    color: #a3ba35;
    border-bottom: 1px solid #a3ba35
}

.trueof_content.pull_down .com_wrapper {
    height: 12.91667em
}

.trueof_content.pull_down .histogram {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0
}

.trueof_content.pull_down .histogram .correct:before, .trueof_content.pull_down .histogram .error:before, .trueof_content.pull_down .histogram .no_answer:before {
    position: absolute;
    left: -.5em;
    top: 50%;
    width: .25em;
    height: .29167em;
    content: "";
    display: inline-block
}

.trueof_content.pull_down .histogram .error:before {
    background: url(../img/li_style01.png) no-repeat;
    background-size: 100% 100%
}

.trueof_content.pull_down .histogram .error .answer, .trueof_content.pull_down .histogram .error em {
    color: #e57b5c
}

.trueof_content.pull_down .histogram .correct:before {
    background: url(../img/li_style02.png) no-repeat;
    background-size: 100% 100%
}

.trueof_content.pull_down .histogram .correct .answer, .trueof_content.pull_down .histogram .correct em {
    color: #5bbb84
}

.trueof_content.pull_down .histogram .no_answer:before {
    background: url(../img/li_style03.png) no-repeat;
    background-size: 100% 100%
}

.trueof_content.pull_down .histogram .no_answer .answer, .trueof_content.pull_down .histogram .no_answer em {
    color: #949494
}

.trueof_content.pull_down .histogram .no_answer .hist_a {
    padding-left: 3.33333em
}

.trueof_content.pull_down .histogram .hist_a {
    position: relative;
    padding-left: 2.29167em
}

.trueof_content.pull_down .histogram .hist_a em {
    font-size: 1.5em;
    border-bottom: none
}

.trueof_content.pull_down .histogram .hist_a .man {
    font-size: .83333em;
    color: #897864;
    border-bottom: none
}

.trueof_content.pull_down .histogram .hist_a .answer {
    position: absolute;
    left: 0;
    top: .25em;
    font-size: 1.08333em;
    font-weight: 700
}

.trueof_content.pull_down .histogram .hist_a .num {
    display: inline-block;
    font-size: .83333em;
    color: #897864
}

.trueof_content.pull_down .hist_list {
    position: absolute;
    margin-right: 0
}

.trueof_content.pull_down .noanswerbox {
    height: 100%;
    text-align: center
}

.trueof_content.pull_down .noanswerbox:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle
}

.trueof_content.pull_down .noanswerbox .img {
    display: inline-block;
    width: 7.375em;
    height: 7.54167em;
    margin-right: 1em;
    background: url(../img/noanswer.png) no-repeat;
    background-size: 100% 100%;
    vertical-align: middle
}

.trueof_content.pull_down .noanswerbox .text {
    font-size: 1.25em;
    color: #897864;
    vertical-align: middle
}

.trueof_content.pull_down .icon_pull .icon {
    background: url(../img/icon_pull.png) left top no-repeat;
    background-size: 100% auto
}

.trueof_content .icon_pull {
    position: absolute;
    bottom: -1em;
    right: 1.41667em;
    display: block;
    width: 2.25em;
    height: 2.25em;
    background: url(../img/bg_pull.png) left top no-repeat;
    background-size: 100% auto
}

.trueof_content .icon_pull .icon {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/icon_pull.png) left bottom no-repeat;
    background-size: 100% auto
}

.trueof_content .icon_pull:active {
    background: url(../img/bg_pull.png) left bottom no-repeat;
    background-size: 100% auto
}

.trueof_content .content {
    padding: 2.25em
}

.trueof_content .content .pop_text, .trueof_content .content .pop_title {
    line-height: 1.91667em
}