@charset "UTF-8";
.ranking_content .com_layout_container {
    border-radius: 0 0 .83333em !important;
}

.ranking_content .com_rank_layout {
    width: 100%;
    height: 40.45em;
    box-sizing: border-box;
    background-color: #f8efde;
    text-align: center;
    border-radius: .83333em;
    padding: .41667em 3.33333em 2.33333em;
}

.ranking_content em{
	font-style:normal;
}
.ranking_content * {
	font-family: "Microsoft YaHei";
}

.ranking_content .com_answer_content.pos_top {
    height: 100%;
}

.ranking_content .com_rank_layout * {
    box-sizing: border-box
}

.ranking_content .tab_box {
    position: absolute;
    left: -1px;
    bottom: -2.70833em;
    height: 2.70833em;
    line-height: 2.70833em;
}

.ranking_content .tab_box .btn_tab {
    display: inline-block;
    min-width: 12.5em;
    text-align: center;
    border: 1px solid #c0a681;
    border-top-color: #b3afa7;
    font-size: 1em;
    border-radius: 0 0 .83333em .83333em;
    color: #b5ae9f;
    font-weight: 700;
    background: url(../img/tabs_bg.png) left top repeat-x #f5f3f0;
    margin-right: .33333em;
	text-decoration:none;
}

.ranking_content .tab_box .btn_tab.on {
    background-position: 0 -77px;
    border-top-color: #f8efde;
    color: #ffa62f;
}
.ranking_content .com_answer_title,.ranking_content .ranking_title {
	font-size:1.08333em;
	color:#887b66;
	text-align:left;
	padding-left:2.5em;
	font-weight:700;
}
.ranking_content .tabmain {
    display: none;
    height: 100%;
}

.ranking_content .tabmain.on {
    display: block;
}

.ranking_content .ranking_title {
	position:relative;
	height:3.5em;
	line-height:3.5em;
}

.ranking_content .ranking_title em {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -.95833em 0 0;
    background: url(../img/icon_ranking.png) center center no-repeat;
    background-size: 100% auto;
    width: 1.875em;
    height: 1.875em;
}
.ranking_content .com_answer_title {
	position:relative;
	height:2.41667em;
	line-height:2.41667em
}
.ranking_content .com_answer_title em {
	position:absolute;
	left:0;
	top:50%;
	margin:-1.16667em 0 0;
	background:url(../img/five_star_icon.png) center center no-repeat;
	background-size:100% auto;
	width:2.08333em;
	height:2.08333em;
}
.ranking_content .gradient_xbg {
    position: relative;
    background: url(../img/src_bg.png) left top repeat-y;
    border-radius: .58333em;
    background-size: 100% auto;
}

.ranking_content .overview {
    width: 49%;
    display: inline-block;
    height: 36.25em;
    padding: 1.33333em 1.33333em 0 2.5em;
}

.ranking_content .overview .podium {
    border-bottom: 1px solid #ded6c5;
}

.ranking_content .overview .podium ul {
    width: 26.16667em;
    margin: 0 auto;
    overflow: hidden;
    background: url(../img/bg_podium.png) center bottom no-repeat;
    background-size: 100% auto;
}

.ranking_content .overview .podium ul li {
    width: 33.33%;
    float: left;
    height: 20.83333em;
    position: relative;
}

.ranking_content .stu_rank {
    position: absolute;
    left: 0;
    width: 100%;
}

.ranking_content .stu_rank.first {
    top: 2.5em;
}

.ranking_content .stu_rank.second {
    top: 5.58333em;
}

.ranking_content .stu_rank.third {
    top: 7.75em;
}

.ranking_content .stu_rank .stu_pic {
    border-radius: 50%;
    background: #e2d8c2;
    padding: .20833em;
    overflow: hidden;
    display: inline-block;
    width: 4.75em;
    height: 4.75em;
}

.ranking_content .stu_rank .stu_pic img {
    width: 4.33333em;
    height: 4.33333em;
    border-radius: 50%;
}

.ranking_content .stu_rank .stu_info {
    margin-top: .58333em;
    font-size: 1em;
    text-align: center;
}

.ranking_content .stu_rank .stu_info .name {
    color: #a3ba35;
}

.ranking_content .stu_rank .stu_info .time {
    color: #887b66;
    margin: 0 .16667em;
}

.ranking_content .chart_title {
    font-size: 1em;
    text-align: left;
    color: #887b66;
    line-height: 2.66667em;
    margin: 1.25em auto .83333em;
}

.ranking_content .chart_title:before {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    background: url(../img/icon_survey.png) center center no-repeat;
    background-size: 100% auto;
    vertical-align: top;
    margin: .33333em .5em 0 0;
}

.ranking_content .chart_main {
    color: #887b66;
    font-size: 1em;
}

.ranking_content .chart_main li {
    position: relative;
    padding: 0 4.58333em 0 4.16667em;
    margin-top: 1.66667em;
}

.ranking_content .chart_main li + li .chart_body:before {
    top: -1.16667em;
}

.ranking_content .chart_main .chart_text {
    position: absolute;
    left: 0;
    top: .5em;
    font-size: 1em;
    color: #887b66;
}

.ranking_content .chart_main .chart_body {
    height: 2.08333em;
    background: #f5e6ce;
    position: relative;
}

.ranking_content .chart_main .chart_body:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.5em;
    bottom: -.5em;
    border-left: 1px solid #acae9c;
}

.ranking_content .chart_main .chart_body .progress {
    height: 100%;
    width: 20%;
    border: 1px solid #e69c38;
    border-left: none;
    background: #f4b055;
    display: block;
}

.ranking_content .chart_main .percentage {
    position: absolute;
    right: 0.58333em;
    top: .16667em;
    font-size: 1.25em;
    color: #887b66;
}

.ranking_content .chart_main .percentage .num {
    font-size: 1.25em;
    color: #a3ba35;
}
.ranking_content .chart_main .percentage .den,.ranking_content .charts_title li em {
	font-size:1em;
}

.ranking_content .rank_charts {
    width: 49%;
    float: right;
    display: inline-block;
    height: 36.25em;
    position: relative;
    padding: 1.25em 2.5em 2.5em 4.16667em;
}

.ranking_content .charts_title {
    position: absolute;
    top: 1.25em;
    left: 4.16667em;
    right: 2.5em;
    height: 2.91667em;
    line-height: 2.33333em;
    background: url(../img/bg_titm_rak.png) left bottom repeat-x;
    background-size: auto 100%;
    padding:0 .625em;
}

.ranking_content .charts_title:after, .ranking_content .charts_title:before {
    position: absolute;
    top: 0;
    width: 2em;
    height: 2.91667em;
    content: "";
    display: inline-block;
}

.ranking_content .charts_title:before {
    left: -1.91667em;
    background: url(../img/bg_titl_rak.png) center center no-repeat;
    background-size: auto 100%;
}

.ranking_content .charts_title:after {
    right: -1.91667em;
    background: url(../img/bg_titr_rak.png) center center no-repeat;
    background-size: auto 100%;
}

.ranking_content .charts_title li {
	width:7.25em;
	float:left;
	color:#f6f2e8;
	font-weight:700;
	text-align:center;
}

.ranking_content .charts_title li:last-child {
	width:9em;
}

.ranking_content .charts_main {
    height: 100%;
    background: #f6eddf;
    border: 1px solid #e1d2b1;
    border-radius: 0 0 .58333em .58333em;
    padding: 2.91667em .625em;
}

.ranking_content .charts_main ul {
    overflow: auto;
    height: 100%;
}

.ranking_content .charts_main li {
	height:2.91667em;
	line-height:2.91667em;
	position:relative;
	overflow:hidden;
}

.ranking_content .charts_main li:nth-child(1) .num, .ranking_content .charts_main li:nth-child(2) .num, .ranking_content .charts_main li:nth-child(3) .num {
    color: #a3ba35;
}

.ranking_content .charts_main li.overtime .fullname, .ranking_content .charts_main li.overtime .num, .ranking_content .charts_main li.overtime .taketime {
    color: #a9a9a9;
}
.ranking_content .charts_main .fullname,.ranking_content .charts_main .num,.ranking_content .charts_main .taketime {
	float:left;
	width:7.25em;
	color:#887b66;
}

.ranking_content .charts_main .taketime {
	width:9em;
	position:absolute;
	left:14.5em;
}
.ranking_content .charts_main .btn_flower {
    position:absolute;
    left:21.5em;
    width: 2em;
    height: 2em;
    top: .45em;
    background: url(../img/icon_rank_flower.png);
    background-size: 100% 100%;
}
.ranking_content .charts_main .btn_flower:active {
    opacity: .85;
}

.ranking_content .com_answer_main {
	position:relative;
	height:38em;
	border-radius:.58333em;
	text-align:center;
	border:1px solid rgba(189,180,163,.45);
	background-color:#efe4d0;
}
.ranking_content .com_answer_box {
	height:100%;
	padding:1em .83333em;
}

.ranking_content .com_answer_wp {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.ranking_content .com_answer_wp:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 0;
    height: 100%;
}

.ranking_content .com_answer_content {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:60em;
}
.ranking_content .com_answer_content.box_square .com_answer_l .com_answer_cosspan_r,.ranking_content .com_answer_content.box_square .com_answer_l .com_answer_cosspan_r li,.ranking_content .com_answer_content.box_square .com_answer_r .com_answer_cosspan_r,.ranking_content .com_answer_content.box_square .com_answer_r .com_answer_cosspan_r li {
	width:5em;
}
.ranking_content .com_answer_content.box_square .com_answer_l {
	margin-right:5em;
}
.ranking_content .com_answer_content.box_square .com_answer_r {
	margin-left:5em;
}

.ranking_content .com_answer_m {
	position:absolute;
	left:50%;
	margin-left:-1px;
	top:.5em;
	bottom:.5em;
	width:0;
	border-left:1px solid rgba(255,255,255,.74);
	border-right:1px solid rgba(187,162,124,.74);
}
.ranking_content .com_answer_l {
	margin-right:4.5em
}
.ranking_content .com_answer_r {
	margin-left:4.5em
}
.ranking_content .com_answer_l,.ranking_content .com_answer_r {
	display:inline-block;
	vertical-align:top;
}
.ranking_content .com_answer_l .com_answer_cosspan_l,.ranking_content .com_answer_r .com_answer_cosspan_l {
	float:left;
	display:inline-block;
	width:5em;
	position:relative;
}
.ranking_content .com_answer_l .com_answer_cosspan_l li,.ranking_content .com_answer_r .com_answer_cosspan_l li {
	width:5em;
	height:5em;
	margin-top:1em;
	border:.125em solid #fff;
	border-radius:.41667em;
	background:#f7f2e9;
	vertical-align:middle;
	cursor:pointer;
	text-align:center;
	overflow:hidden;
}
.ranking_content .com_answer_l .com_answer_cosspan_l li img,.ranking_content .com_answer_r .com_answer_cosspan_l li img {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	max-width:96%;
	max-height:100%;
}

.ranking_content .com_answer_l .com_answer_cosspan_r li img,.ranking_content .com_answer_r .com_answer_cosspan_r li img {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	max-width:96%;
	max-height:100%;
}

.ranking_content .com_answer_l .com_answer_cosspan_l li:after, .ranking_content .com_answer_r .com_answer_cosspan_l li:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 0;
    height: 100%;
}
.ranking_content .com_answer_l .com_answer_cosspan_l li span,.ranking_content .com_answer_r .com_answer_cosspan_l li span {
	font-size:0.8em;
	line-height:1.2;
	color:#b69972;
	vertical-align:middle;
	display:inline-block;
	width:93%;
	position:relative;
	left:3.5%;
	word-break:break-word;
}
.ranking_content .com_answer_l .com_answer_cosspan_l li span.font_small,.ranking_content .com_answer_r .com_answer_cosspan_l li span.font_small {
	font-size:.875em
}
.ranking_content .com_answer_l .com_answer_cosspan_l li span.font_mid,.ranking_content .com_answer_r .com_answer_cosspan_l li span.font_mid {
	font-size:1em
}
.ranking_content .com_answer_l .com_answer_cosspan_l li:first-child,.ranking_content .com_answer_r .com_answer_cosspan_l li:first-child {
	margin-top:0
}

.ranking_content .com_answer_l .com_answer_cosspan_r, .ranking_content .com_answer_r .com_answer_cosspan_r {
    float: left;
    display: inline-block;
    margin-left: 12.08333em;
    width: 8em;
}
.ranking_content .com_answer_l .com_answer_cosspan_r li,.ranking_content .com_answer_r .com_answer_cosspan_r li {
	width:8em;
	height:5em;
	margin-top:1em;
	border:.125em solid #fff;
	border-radius:.41667em;
	background-color:#faf4ea;
	cursor:pointer;
	text-align:center;
	overflow:hidden;
}

.ranking_content .com_answer_l .com_answer_cosspan_r li:after, .ranking_content .com_answer_r .com_answer_cosspan_r li:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 0;
    height: 100%;
}
.ranking_content .com_answer_l .com_answer_cosspan_r li span,.ranking_content .com_answer_r .com_answer_cosspan_r li span {
	font-size:0.8em;
	line-height:1.2;
	color:#b69972;
	vertical-align:middle;
	display:inline-block;
	width:93%;
	position:relative;
	left:3.5%;
	word-break:break-word;
}
.ranking_content .com_answer_l .com_answer_cosspan_r li span.font_small,.ranking_content .com_answer_r .com_answer_cosspan_r li span.font_small {
	font-size:.875em;
}
.ranking_content .com_answer_l .com_answer_cosspan_r li span.font_mid,.ranking_content .com_answer_r .com_answer_cosspan_r li span.font_mid {
	font-size:1em;
}
.ranking_content .com_answer_l .com_answer_cosspan_r li:first-child,.ranking_content .com_answer_r .com_answer_cosspan_r li:first-child {
	margin-top:0;
}

.ranking_content .com_answer_img_content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: .83333em;
    overflow: hidden;
    max-width: 99%;
    height: 100%;
    text-align: center;
}

.ranking_content .com_answer_img_content:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 0;
    height: 100%;
}

.ranking_content .com_answer_img_content img {
    max-width: 100%;
    max-height: 100%;
    border-radius: .83333em;
    border: 2px solid #d1bc94;
    vertical-align: middle;
}

.ranking_content .com_answer_img_content .points_contont {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ranking_content .com_answer_img_content .points_contont .point {
    display: inline-block;
    position: absolute;
    width: 3em;
    height: 3em;
    background: url(../img/point_bg.png) center center no-repeat;
    background-size: 100% auto;
    font-size: 1.41667em;
    line-height: 3em;
    color: #fff;
}

.ranking_content .com_answer_img_content .points_contont .point:nth-of-type(1) {
    left: 50.473%;
    top: 6.083%;
}

.ranking_content .com_answer_img_content .points_contont .point:nth-of-type(2) {
    left: 76.761%;
    top: 37.313%;
}

.ranking_content .com_answer_img_content .points_contont .point:nth-of-type(3) {
    left: 53.312%;
    top: 56.083%;
}

.ranking_content .com_answer_img_content .points_contont .point:nth-of-type(4) {
    left: 42.061%;
    top: 82.492%;
}
.link_up_line{
    border: 1px solid #C9B392;
    width: 11.5em;
    position:absolute;
    padding:0;
    margin:0;
    left:5.3em;
    top:2.5em;
}