<div class="exam-skin-wood">

    <div class="baseMod-com-layout">
        <!--
            pad类名baseMod-com-wrapper-pad
            白板类名baseMod-com-wrapper-board
            学生端答题框baseMod-com-wrapper-answer
            老师端等待学生答题baseMod-com-wrapper-waiting
        -->
        <div class="baseMod-com-wrapper-pad">
            <div class="baseMod-com-header-box">
                <!--计时器-->
                <div class="com_time _top_left_panel">

                </div>
            </div>
            <!-- 公共提交按钮 -->
            <div class="baseMod-com-submit _top_right_panel">
            </div>
            <!-- /公共提交按钮 -->
            <div class="baseMod-com-layout-container _center_panel">

                <!-- module-nqit容器 -->

            </div>
        </div>

    </div>

    <div class="notice_tip_box displaynone">
        <div class="notice_tip_con">
            <p class="notice_tip_text"></p>
        </div>
    </div>
    <div class="mix__messagebox _message_panel" style="display: none;"><!-- 全屏遮罩的弹出信息窗体 -->

    </div>
</div>
