
<div class="mix-layout--full"><!-- 全屏木纹 -->

    <div class="mix-layout__container env-pptshell statistic-view "><!-- 主体页面居中 其他状态有 start-answer  statistic-view mix-layout--classE mix-layout--classF -->
        <div class="mix-container__modules mix__scrollbar--style1"><!-- 主体页面上下滚动条容器 -->
            <div class="mix-container__statistic mix-statistic--halfscreen " ><!-- 半屏的统计区域 -->
                <div class="stat_wood _statistics_panel">
                    <!--<a class="uicom_icon_pull layout_handle"><span class="icon"></span></a>-->

                </div>

            </div>
            <div class="mix-container__presenter layout_presenter"><!-- 习题展示区域 -->

                <div class="exam-skin-wood">
                    <div class="baseMod-com-layout">
                        <!--
                            pad类名baseMod-com-wrapper-pad
                            白板类名baseMod-com-wrapper-board
                            学生端答题框baseMod-com-wrapper-answer
                            老师端等待学生答题baseMod-com-wrapper-waiting
                        -->
                        <div class="baseMod-com-wrapper-board">
                            <div class="baseMod-com-header-box">
                                <!--计时器-->
                                <div class="com_time _top_left_panel">

                                </div>
                                <p class="upload"><b class="upload_text">提交人数：</b><span class="num _num">00</span>/<span class="_count">00</span></p>
                            </div>
                            <!-- 公共提交按钮 -->
                            <div class="baseMod-com-submit _bottom_panel">
                            </div>
                            <!-- /公共提交按钮 -->
                            <div class="baseMod-com-layout-container _center_panel">

                                <!-- module-nqit容器 -->

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class=""><!-- 发送习题的按钮 -->
            <div class="exam_skin_wood _bottom_right_panel">

            </div>
        </div>
        <div class="mix__toolbar-wrap "><!-- 统计界面相关按钮 -->
            <div class="stat_wood">
                <div class="com_layout ">
                    <div class="layout_footbar layout_footer_bottom _foot_bar_panel">
                        <!--底部按钮控件-->
                    </div>
                </div>
            </div>
        </div>
        <div class="mix__toolbar-wrap--switch" style="display:none;"><!-- 统计里面复合题的底部按钮 -->

        </div>
    </div>
    <div class="mix__messagebox _message_panel" style="display: none;"><!-- 全屏遮罩的弹出信息窗体 -->

    </div>
</div>


<!--

<div class="layout_containter env-pptshell">
	<div class="exam_skin_wood">
        &lt;!&ndash;发送按钮&ndash;&gt;
        <div class="com_board_sdt_box _bottom_right_panel">
        </div>
        &lt;!&ndash;/发送按钮&ndash;&gt;
    </div>
    <div class="liudi_style bar_style1">&lt;!&ndash;统计和题型合为一个整体，刘迪需求start&ndash;&gt;
        &lt;!&ndash; 统计组件容器 &ndash;&gt;
        <div class="layout_statistic _statistics_panel">
            <a class="layout_handle">
                <span class="icon"></span>
            </a>
        </div>

        <div class="layout_presenter bar_style1 layout_padding_right">
            <div class="layout_presenter_main">






            </div>
        </div>
    </div>&lt;!&ndash;统计和题型合为一个整体，刘迪需求end&ndash;&gt;
    <div class="exam_skin_wood"><div class="layout_footbar _foot_bar_panel"></div></div>
</div>


&lt;!&ndash; 消息框组件容器 &ndash;&gt;
<div class="exam-skin-wood">
    <div class="messagebox baseMod-com-pop-content _message_panel" style="display: none;">
    </div>
</div>-->
