@charset "UTF-8";
@font-face{
    font-family: 'Times New Roman';
    src: url(font/TimesNewRoman.ttf) format('truetype');
}

@font-face{
    font-family: 'Times New Roman Italic';
    src: url(font/TimesNewRomanItalic.ttf) format('truetype');
}