@charset "UTF-8";

/*****************************************
* reset: html4
*****************************************/


/** {
  box-sizing: border-box;
  vertical-align: baseline; }*/


/*body, dl, dd, h1, h2, h3, h4, h5, h6, p, form {
    margin: 0;
}

html, body, fieldset, img, iframe, abbr {
    border: 0;
}*/

.exam_wood * {
  box-sizing: border-box;
  vertical-align: baseline;
  font: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.exam_wood table {
  border-collapse: collapse;
  border-spacing: 0;
}

.exam_wood ins {
  text-decoration: none;
}

.exam_wood del {
  text-decoration: line-through;
}

.exam_wood input,
.exam_wood select {
  vertical-align: middle;
}

.exam_wood input,
.exam_wood textarea,
.exam_wood select {
  font: 12px 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.exam_wood input:focus {
  outline: none;
}

.exam_wood textarea {
  resize: none;
}

.exam_wood fieldset,
.exam_wood img {
  border: 0;
}

.exam_wood img {
  border: none;
  vertical-align: top;
}

.exam_wood address,
.exam_wood code,
.exam_wood caption,
.exam_wood th,
.exam_wood cite,
.exam_wood dfn,
.exam_wood em,
.exam_wood i {
  font-style: normal;
}

.exam_wood ol,
.exam_wood ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.exam_wood h1,
.exam_wood h2,
.exam_wood h3,
.exam_wood h4,
.exam_wood h5,
.exam_wood h6 {
  font-size: 100%;
  font-weight: normal;
}

.exam_wood q:before,
.exam_wood q:after {
  content: "";
}

.exam_wood legend {
  display: none;
}

.exam_wood a {
  text-decoration: none;
  outline: none;
}

.exam_wood a:hover {
  text-decoration: none;
}

.exam_wood .clearfix:after {
  display: block;
  content: "";
  height: 0;
  visibility: hidden;
  clear: both;
}

.exam_wood .clearfix {
  zoom: 1;
}

.exam_wood .clear {
  clear: both;
}


/*html, body {
    height: 100%;
}*/


/*.ic_page_panel{
  height:96%;
}*/

.exam_wood {
  /*****************************************
  * layout
  *****************************************/
  /*****************************************
  * 组件: 面板
  *****************************************/
  /* 面板样式1：选词填空题型 */
  /*****************************************
  * 组件: 按钮
  *****************************************/
  /* 提交按钮 */
  /*****************************************
  * 组件: 时间
  *****************************************/
  /*****************************************
  * 组件: 消息框
  *****************************************/
  /* 纯文字消息框 */
}

.exam_wood .com_layout {
  position: relative;
  height: 100%;
  padding: 93.33333px 0 18px 0;
  background-position: left top, left top;
  background-size: 100% 100%, 296px auto;
  background-repeat: no-repeat, repeat;
  overflow: hidden;
}

.exam_wood .com_layout.homework {
  padding: 18px 55px !important;
}

.exam_wood .com_layout.layout_whiteboard {
  padding: 18px 18px 93.33333px 18px;
}

.exam_wood .com_layout.layout_whiteboard .com_lay_header {
  bottom: 0;
  top: auto;
}

.exam_wood .com_layout .com_lay_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 93.33333px;
  text-align: right;
}

.exam_wood .com_layout .com_lay_header .com_lay_toptool {
  display: inline-block;
}

.exam_wood .com_layout .com_lay_header .com_lay_toptool .com_u_btn1 {
  margin-top: 20px;
  margin-right: 20px;
}

.exam_wood .com_layout .com_lay_contain {
  height: 100%;
}

.exam_wood .com_layout .com_lay_contain .com_lay_mboard {
  position: relative;
  height: 100%;
  border: 6.66667px solid transparent;
  border-width: 8.66667px 6.66667px 9.33333px 6.66667px;
  padding: 0 9.33333px 0 8px;
  border-radius: 14px;
  overflow: hidden;
  background-image: url(img/bg_topleft.png), url(img/bg_topright.png), url(img/bg_botleft.png), url(img/bg_botright.png), url(img/bg_top.png), url(img/bg_left.png), url(img/bg_right.png), url(img/bg_bot.png), url(img/bg_mainboard_shadow.png), url(img/bg_mainboard.jpg);
  background-origin: border-box, border-box, border-box, border-box, border-box, border-box, border-box, border-box, padding-box, padding-box;
  background-position: left top, right top, left bottom, right bottom, left top, left bottom, right bottom, left bottom, left top, left top;
  background-size: 28px auto, 28px auto, 28px auto, 28px auto, 20px auto, 28px auto, 18px auto, 20px auto, 100% 100%, 200px auto;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-y, repeat-x, no-repeat, repeat;
}

.exam_wood .com_layout .com_lay_contain .com_lay_mboard:before {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 8.66667px;
  content: "";
  border-radius: 8.66667px;
  z-index: 1;
}

.exam_wood .com_layout .com_lay_contain .com_lay_boardtit {
  position: relative;
  height: 44px;
  margin-left: -6.66667px;
  margin-right: -8px;
  border-top-left-radius: 8.66667px;
  border-top-right-radius: 8.66667px;
  border: 1px solid rgba(84, 50, 0, 0.15);
  background: url(img/bg_boardtit.jpg) repeat-x left center;
  z-index: 2;
}

.exam_wood .com_layout .com_lay_contain .com_lay_boardtit:after {
  display: inline-block;
  width: 0;
  height: 100%;
  content: "";
  vertical-align: middle;
}

.exam_wood .com_layout .com_lay_contain .com_u_boardtit {
  display: inline-block;
  width: 99%;
  padding: 0 0 0 10px;
  line-height: 1;
  color: #333;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.exam_wood .com_layout .com_lay_contain .com_u_boardtit.s_tit {
  font-size: 13.33333px;
}

.exam_wood .com_layout .com_lay_contain .com_lay_fboard {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 191.33333px;
  overflow-y: auto;
}

.exam_wood .com_layout .com_lay_contain.com_s_foot {
  position: relative;
  padding-bottom: 204.66667px;
}

.exam_wood .com_layout .com_lay_contain.com_s_foot .com_lay_fboard {
  display: block;
}

.exam_wood .com_layout .com_lay_contain .com_lay_board {
  position: absolute;
  right: 9.33333px;
  left: 8px;
  top: 44px;
  bottom: 0;
  overflow-y: auto;
  border-bottom-left-radius: 8.66667px;
  border-bottom-right-radius: 8.66667px;
  z-index: 2;
}

.exam_wood .com_grid_0 {
  width: 0;
  display: none;
}

.exam_wood .com_grid_1 {
  width: 10%;
}

.exam_wood .com_grid_2 {
  width: 20%;
}

.exam_wood .com_grid_3 {
  width: 30%;
}

.exam_wood .com_grid_4 {
  width: 40%;
}

.exam_wood .com_grid_5 {
  width: 50%;
}

.exam_wood .com_grid_6 {
  width: 60%;
}

.exam_wood .com_grid_7 {
  width: 70%;
}

.exam_wood .com_grid_8 {
  width: 80%;
}

.exam_wood .com_grid_9 {
  width: 90%;
}

.exam_wood .com_grid_10 {
  width: 100%;
}

.exam_wood .com_m_sideboard_1 {
  position: relative;
  float: left;
  height: calc(100% - 30px);
  padding: 67.33333px 0 23.33333px;
  margin-left: 23.33333px;
  margin-right: 54px;
  box-sizing: border-box;
}

.exam_wood .com_m_sideboard_1 .com_m_sidehead {
  position: absolute;
  left: 0;
  top: 23.33333px;
  right: 0;
  height: 44px;
  background: url(img/bg_sidetit1.png) repeat-x;
  background-size: auto 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.exam_wood .com_m_sideboard_1 .com_m_sidecon {
  height: 100%;
  padding-top: 44px;
  border-bottom: 6px solid transparent;
  background-image: url(img/decl_sidecon.png), url(img/decr_sidecon.png), url(img/decm_sidecon.png), url(img/bg_sidecon1.png);
  background-repeat: no-repeat, no-repeat, repeat-x, repeat;
  background-position: left bottom, right bottom, center bottom, left top;
  background-size: 14px auto, 14px auto, 6px auto, 43.33333px auto;
  background-origin: border-box, border-box, border-box, content-box;
  border-radius: 12px;
  overflow: auto;
}

.exam_wood .com_m_mainboard_1 {
  height: 100%;
  overflow: hidden;
}

.exam_wood .com_u_btn1 {
  display: inline-block;
  width: 164px;
  height: 60.66667px;
  line-height: 56px;
  font-size: 24px;
  color: #5d390d;
  text-align: center;
  background: url(img/btn1_normal.png) no-repeat center center;
  background-size: 100% auto;
  text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.51);
}

.exam_wood .com_u_btn1:hover {
  opacity: 0.7;
}

.exam_wood .com_u_btn1:active {
  opacity: 1;
  background: url(img/btn1_press.png) no-repeat center center;
  background-size: 100% auto;
}

.exam_wood .com_u_btn1.com_s_disabled {
  opacity: 0.7;
  color: #ce9f58;
  text-shadow: 0 0 4px white;
}

.exam_wood .com_u_btn1.com_s_disabled:hover {
  opacity: 0.7;
}

.exam_wood .com_u_btn1.com_s_disabled:active {
  opacity: 0.7;
  background: url(img/btn1_normal.png) no-repeat center center;
  background-size: 100% auto;
}

.exam_wood .com_u_btn2 {
  display: inline-block;
  width: 88px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  font-size: 24.66667px;
  color: #9d7029;
  font-weight: bold;
  /*text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.75);*/
  /*border-radius: 4px;*/
  background: url(img/btn2_normal.jpg) repeat-x left center;
  background-size: auto 100%;
  /*box-shadow: inset 0 4px 13px #ffe2b5, 1px 2px 10px rgba(68, 49, 19, 0.34);*/
  border: 1px solid #c0811c;
  vertical-align: middle;
  overflow: hidden;
}

.exam_wood .com_u_btn2:hover {
  /*box-shadow: inset 0 4px 13px rgba(255, 226, 181, 0.4), 1px 1px 8px rgba(68, 49, 19, 0.34);*/
}

.exam_wood .com_u_btn2:active {
  /*box-shadow: 1px 1px 8px rgba(68, 49, 19, 0.2);*/
}

.exam_wood .com_u_btn2.com_s_fill {
  color: #fff;
  /*border: none;*/
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  box-shadow: 1px 2px 10px rgba(68, 49, 19, 0.34);
  background: url(img/btn2_on.jpg) repeat-x left center;
  background-size: auto 100%;
}

.exam_wood .com_u_btn2.com_s_on {
  line-height: 62px;
  color: #fff;
  /*text-shadow: 0.5px 0.866px 0px rgba(49, 85, 140, 0.75);*/
  border: 2px solid #0d64a3;
  /*box-shadow: 0 2px 10px #548394;*/
  background: url(img/btn2_on.jpg) repeat-x left center;
  background-size: auto 100%;
}

.exam_wood .com_u_btn2.com_u_btn2_s {
  width: 64px;
  height: 48px;
  border-radius: 3.33333px;
  line-height: 44px;
  font-size: 18px;
}

.exam_wood .com_u_btn2.com_u_btn2_s.com_s_on {
  /*line-height: 44px;*/
  /*border: 2px solid #0d64a3;*/
  border-color: #0d64a3;
}

.exam_wood .com_u_btn3 {
  display: inline-block;
  width: 88px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  font-size: 24.66667px;
  color: #c94f50;
  /*text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.75);*/
  /*border-radius: 4px;*/
  background: url(img/btn3_normal.jpg) repeat-x left center;
  background-size: auto 100%;
  /*box-shadow: inset 0 4px 13px #ffcece, 1px 2px 10px rgba(68, 49, 19, 0.34);*/
  border: 1px solid #f5bfbb;
  vertical-align: middle;
}

.exam_wood .com_u_timebox {
  float: left;
  padding-top: 3px;
  padding-left: 10px;
  text-align: center;
}

.exam_wood .com_u_timebox .time_1 {
  position: relative;
  display: inline-block;
  width: 104px;
  height: 98.66667px;
  line-height: 90px;
  margin-right: -20px;
  font-size: 46.66667px;
  color: #dfdfdf;
  text-align: center;
  background: url(img/bg_time.png) no-repeat center center;
  background-size: 100% auto;
}

.exam_wood .com_u_timebox .time_1:before {
  position: absolute;
  left: 16px;
  top: 52px;
  content: "";
  width: 68px;
  height: 1px;
  margin-top: -6px;
  border-top: 1px solid #000;
}

.exam_wood .com_u_timebox .time_2 {
  display: none;
}

.exam_wood .com_m_messbox {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 100;
}

.exam_wood .com_m_messbox:after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 0;
  height: 100%;
  overflow: hidden;
}

.exam_wood .com_m_messbox .com_u_messtxt {
  display: inline-block;
  min-width: 236px;
  max-width: 440px;
  line-height: 30px;
  padding: 16px 78px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.85);
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.com_u_boardtit#addon_title {
  line-height: 1;
  margin-top:0;
}

