<?xml version="1.0" encoding="UTF-8" ?>
<module id="Write">
    <properties>
        <property name="module" type="string"/>
        <property name="placeholder" type="html"/>
        <property name="text" type="html"/>
        <property name="textStyle" type="string"/>
        <property name="hideQuickArea" type="boolean"/>
    </properties>
</module>