<style>
    /* 思维导图以工具形式推送之后的学生端页面 */
    .tooldialog_skin_wood .com_tooldialog_student .exam_skin_wood .mindMap_box {
        position: absolute;
        left: 4em;
        right: 4em;
        width: auto;
    }
</style>
<div class="exam_skin_wood" id="layout"><!-- pc跟白板端exam_skin_wood上添加ppt-shell类名 -->
    <!-- 思维导图 -->
    <div class="mindMap_box">
        <!--用于canvas绘制区域-->
        <div class="_center_panel mindMap_content"></div>
        <div class="mindMap_tools">
            <!-- 计时组件 -->
            <div class="com_header_time">
                <div class="_bottom_left_panel com_time">
                </div>
            </div>
            <!-- 计时组件结束 -->

            <!-- 工具栏组件 -->
            <div class="_bottom_panel">
            </div>

            <!-- 提交按钮组件 -->
            <div class="_bottom_right_panel pad_button_modules">
            </div>
            <!-- 提交按钮组件结束 -->
        </div>
    </div>
    <div class="mix__messagebox _message_panel" style="display: none;"><!-- 全屏遮罩的弹出信息窗体 -->

    </div>
</div>