<div class="mix-layout--full mix-layout--fullscreen_view"><!-- 全屏木纹 -->
    <div class="mix-layout__container env-pptshell statistic-view "><!-- 主体页面居中 其他状态有 start-answer  statistic-view mix-layout--classE mix-layout--classF -->
        <div class="mix-container__modules mix__scrollbar--style1"><!-- 主体页面上下滚动条容器 -->
            <div class="mix-container__statistic mix-statistic--halfscreen " ><!-- 半屏的统计区域 -->
                <div class="stat_wood _statistics_panel">
                    <!--<a class="uicom_icon_pull layout_handle"><span class="icon"></span></a>-->

                </div>

            </div>
            <div class="mix-container__presenter layout_presenter"><!-- 习题展示区域 -->

                <div class="exam_skin_wood ppt-shell" id="layout">
                    <!-- 思维导图 -->
                    <div class="mindMap_box">
                        <!-- 发送习题 -->
                        <div class="com_board_sdt_box _bottom_right_panel">
                        </div>
                        <!-- /发送习题 -->
                        <!--发送习题之后的按钮-->
                        <div class="layout_footbar _foot_bar_panel light_green"></div>
                        <!-- /发送习题之后的按钮-->

                        <!-- 思维导图头部 -->
                        <div class="mindMap_header_box">
                            <div class="mindMap_left">
                                <div class="mindMap_time _top_left_panel"></div>
                            </div>
                            <div class="mindMap_middle"><p class="upload"><b class="upload_text">提交人数：</b><span class="num _num">00</span>/<span class="_count">00</span></p></div>
                        </div>
                        <!-- /思维导图头部 -->

                        <!--用于canvas绘制区域-->
                        <div class="_center_panel mindMap_content"></div>
                        <div class="_bottom_panel mindMap_tools">
                            <!-- 工具栏组件 -->
                        </div>
                    </div>
                    <!-- 思维导图结束 -->

                    <!--提示框弹窗-->
                    <!--提示框-->
                    <div class="_message_panel notice_tip_box" style="display: none;">
                        <div class="notice_tip_con">
                            <p class="_message_text_panel notice_tip_text">已保存，可打开“我的网盘”中的“思维导图库”查看</p>
                        </div>
                    </div>
                    <!--提示框-->
                    <!--提示框弹窗结束-->
                </div>

            </div>
        </div>
    </div>
</div>