<div class="exam_skin_wood ppt-shell" style="height: 100%;">
    <!-- 思维导图 -->
    <div class="mindMap_box wrap_mindMap_view">
        <!--用于canvas绘制区域-->
        <div class="_center_panel mindMap_content"></div>
        <div class="_bottom_panel mindMap_tools">
            <!-- 工具栏组件 -->
        </div>
    </div>

    <!-- 思维导图弹窗 -->
    <div class="_popup_panel" style="display: none;">
        <div class="mindMap_pop_bg">
            <div class="mindMap_close_pop_box _special_modified">
                <div class="close_pop_top">
                    <a class="mindMap_btn_close" href="javascript:void(0);" draggable="false">&#215;</a>
                </div>
                <div class="mindMap_preview_panel"></div>
            </div>
        </div>
        <!--遮罩层-->
        <div class="pop_zhezhao"></div>
        <!--遮罩层结束-->
    </div>
    <!-- 思维导图弹窗结束 -->
    <!-- 思维导图预览窗口结束 -->

    <!--提示框弹窗-->
    <!--提示框-->
    <div class="_message_panel notice_tip_box" style="display: none;">
        <div class="notice_tip_con">
            <p class="_message_text_panel notice_tip_text">已保存，可打开“我的网盘”中的“思维导图库”查看</p>
        </div>
    </div>
    <!--提示框-->
    <!--提示框弹窗结束-->
    <!-- 思维导图结束 -->
</div>