.exam_skin_wood {
  .rotatepoint_wrapper {
    background: #bfd3e2;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .rotatepoint_inner {
    padding: 2.9em;;//2.91667em;2.9em
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -16.3165em;
    margin-left: -17.65em;
  }
  .rotatepoint_pan_bg {
    width: 29.54167em;
    height: 29.54167em;
    overflow: hidden;
    background: url(resources/wood/images/rotating_pan_bg.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 14;//10
  }
  .rotatepoint_origin_bg {
    width: 5em;
    height: 5em;
    overflow: hidden;
    background: url(resources/wood/images/rotating_coordinate_bg.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    margin-left: -2.5em;
    margin-top: -2.5em;
  }
  .rotatepoint_point_bg {
    width: 3.20833em;
    height: 7.08333em;
    overflow: hidden;
    background: url(resources/wood/images/rotating_point_bg.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.60417em;
    margin-top: -7.08333em;
    z-index: 9;
    transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
  }
}