@charset "UTF-8";
.exam_skin_wood .refraction .refraction_left_btn.btn_ghq.active .refraction_lbtn_text, .exam_skin_wood .refraction .refraction_left_btn.btn_ghq.click_disabled .refraction_lbtn_text, .exam_skin_wood .refraction .refraction_left_btn.btn_ghq.hide_angle.active .refraction_lbtn_text, .exam_skin_wood .refraction .refraction_left_btn.btn_ghq.hide_angle.click_disabled .refraction_lbtn_text, .exam_skin_wood .refraction .refraction_left_btn.btn_ghq.hide_angle:active .refraction_lbtn_text, .exam_skin_wood .refraction .refraction_left_btn.btn_ghq:active .refraction_lbtn_text, .exam_skin_wood .refraction .refraction_left_btn.btn_rfsj.active .refraction_lbtn_text, .exam_skin_wood .refraction .refraction_left_btn.btn_rfsj.click_disabled .refraction_lbtn_text, .exam_skin_wood .refraction .refraction_left_btn.btn_rfsj.hide_angle.active .refraction_lbtn_text, .exam_skin_wood .refraction .refraction_left_btn.btn_rfsj.hide_angle.click_disabled .refraction_lbtn_text, .exam_skin_wood .refraction .refraction_left_btn.btn_rfsj.hide_angle:active .refraction_lbtn_text, .exam_skin_wood .refraction .refraction_left_btn.btn_rfsj:active .refraction_lbtn_text {
    color: #292525
}

.exam_skin_wood .refraction {
    position: relative;
    width: 100%;
    height: 100%;
    background: #bfd3e2;
    text-align: center;
    overflow: hidden
}

.exam_skin_wood .refraction .refraction_middle {
    position: absolute;
    width: 72.5em;
    height: 37.5em;
    left: 50%;
    top: 50%;
    margin-left: -36.25em;
    margin-top: -19.91667em
}

.exam_skin_wood .refraction .refraction_middle.refraction_bg_water {
    background: url(resources/wood/images/bg_sky.png) center center no-repeat;
    background-size: 100% auto
}

.exam_skin_wood .refraction .refraction_mid_container {
    width: 72.5em;
    height: 37.5em
}

.exam_skin_wood .refraction .refraction_aside, .exam_skin_wood .refraction .refraction_main {
    vertical-align: top
}

.exam_skin_wood .refraction .refraction_main {
    position: relative;
    float: left;
    width: 63.33333em;
    height: 100%;
    border-radius: .33333em
}

.exam_skin_wood .refraction .svg_container {
    position: relative;
    float: right;
    margin-right: 2.25em;
    width: 59.16667em;
    height: 100%
}

.exam_skin_wood .refraction .svg_container_l {
    position: relative;
    float: right;
    width: 100%;
    height: 100%
}

.exam_skin_wood .refraction .refraction_aside {
    position: relative;
    float: left;
    margin-top: 3.5em;
    width: 5.83333em;
    height: 31.25em;
    background: rgba(91, 146, 186, .15);
    border-radius: .33333em;
    overflow: hidden
}

.exam_skin_wood .refraction .refraction_foot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 4.16667em;
    height: 4.91667em;
    background: #cfdee9
}

.exam_skin_wood .refraction .refraction_btm_left {
    float: right;
    padding-right: 5.5em;
    height: 100%
}

.exam_skin_wood .refraction .refraction_left_btn_a {
    display: block;
    height: 100%
}

.exam_skin_wood .refraction .refraction_left_btn {
    position: relative;
    display: inline-block;
    float: left;
    min-width: 5.41667em;
    height: 100%;
    margin: 0 2.33333em;
    text-align: center
}

.exam_skin_wood .refraction .refraction_left_btn.btn_ghq .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_ghq_normal.png) center bottom no-repeat;
    background-size: 2.54167em auto
}

.exam_skin_wood .refraction .refraction_left_btn.btn_ghq.active .refraction_lbtn_icon, .exam_skin_wood .refraction .refraction_left_btn.btn_ghq:active .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_ghq_active.png) center bottom no-repeat;
    background-size: 2.54167em auto
}

.exam_skin_wood .refraction .refraction_left_btn.btn_ghq.click_disabled .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_ghq_dis.png) center bottom no-repeat;
    background-size: 2.54167em auto
}

.exam_skin_wood .refraction .refraction_left_btn.btn_ghq.hide_angle .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_ghqha_normal.png) center bottom no-repeat;
    background-size: 2.41667em auto
}

.exam_skin_wood .refraction .refraction_left_btn.btn_ghq.hide_angle.active .refraction_lbtn_icon, .exam_skin_wood .refraction .refraction_left_btn.btn_ghq.hide_angle:active .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_ghqha_active.png) center bottom no-repeat;
    background-size: 2.41667em auto
}

.exam_skin_wood .refraction .refraction_left_btn.btn_ghq.hide_angle.click_disabled .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_ghqha_dis.png) center bottom no-repeat;
    background-size: 2.41667em auto
}

.exam_skin_wood .refraction .refraction_left_btn.btn_rfsj .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_ghfx_normal.png) center bottom no-repeat;
    background-size: 2.20833em auto
}

.exam_skin_wood .refraction .refraction_left_btn.btn_rfsj.active .refraction_lbtn_icon, .exam_skin_wood .refraction .refraction_left_btn.btn_rfsj:active .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_ghfx_active.png) center bottom no-repeat;
    background-size: 2.20833em auto
}

.exam_skin_wood .refraction .refraction_left_btn.btn_rfsj.click_disabled .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_ghfx_dis.png) center bottom no-repeat;
    background-size: 2.20833em auto
}

.exam_skin_wood .refraction .refraction_left_btn.btn_rfsj.hide_angle .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_ghfxha_normal.png) center bottom no-repeat;
    background-size: 2.20833em auto
}

.exam_skin_wood .refraction .refraction_left_btn.btn_rfsj.hide_angle.active .refraction_lbtn_icon, .exam_skin_wood .refraction .refraction_left_btn.btn_rfsj.hide_angle:active .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_ghfxha_active.png) center bottom no-repeat;
    background-size: 2.20833em auto
}

.exam_skin_wood .refraction .refraction_left_btn.btn_rfsj.hide_angle.click_disabled .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_ghfxha_dis.png) center bottom no-repeat;
    background-size: 2.20833em auto
}

.exam_skin_wood .refraction .refraction_left_btn.btn_reset .refraction_lbtn_icon {
    background: url(resources/wood/images/icon_reset.png) left bottom;
    background-size: auto 100%
}

.exam_skin_wood .refraction .refraction_left_btn.btn_reset:active .refraction_lbtn_icon {
    background-position: center bottom
}

.exam_skin_wood .refraction .refraction_left_btn.btn_reset.click_disabled .refraction_lbtn_icon {
    background-position: right bottom
}

.exam_skin_wood .refraction .refraction_lbtn_icon {
    display: block;
    width: 4.16667em;
    margin: 0 auto;
    height: 2.91667em
}

.exam_skin_wood .refraction .refraction_lbtn_text {
    display: block;
    font-size: 1.16667em;
    line-height: 1;
    margin-top: .41667em;
    color: #292525
}

.exam_skin_wood .refraction .btn_switch {
    display: block;
    width: 100%;
    height: 2.91667em;
    padding-top: .5em
}

.exam_skin_wood .refraction .applicationset-switch {
    background: #e8edf0;
    border-radius: 1.04167em;
    display: inline-block;
    width: 4.16667em;
    height: 2.08333em;
    border: 1px solid #989fa5;
    line-height: normal;
    position: relative;
    cursor: pointer
}

.exam_skin_wood .refraction .applicationset-switch:before {
    content: "";
    width: 2.08333em;
    height: 2.08333em;
    border: 1px solid #a3a9ae;
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 100%;
    background: #f2f2f2
}

.exam_skin_wood .refraction .applicationset-switch.checked {
    background: #6a9ea1
}

.exam_skin_wood .refraction .applicationset-switch.checked:before {
    top: -2px;
    left: 2.08333em;
    background: #f5f5f5
}

.exam_skin_wood .refraction .applicationset-switch input[type=checkbox] {
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    opacity: 0;
    width: 4.16667em;
    height: 2.08333em;
    filter: alpha(opacity=0)
}

.exam_skin_wood .refraction .refraction_btm_right {
    position: relative;
    float: right;
    height: 100%;
    min-width: 27.5em;
    padding: 1.04167em 0 0 1.875em
}

.exam_skin_wood .refraction .refraction_btm_right:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    float: left;
    width: 0;
    height: 100%;
    border-left: 1px solid #e7f3fc;
    border-right: 1px solid #b3c1cb
}

.exam_skin_wood .refraction .refraction_brbtn_lay {
    float: left;
    margin: 0 1.04167em
}

.exam_skin_wood .refraction .refraction_brbtn_lay.click_disabled .refraction_brbtn {
    border-color: #93989a;
    background: -webkit-linear-gradient(top, #c8d1d7 0, #c1c8cc 100%);
    background: linear-gradient(to bottom, #c8d1d7 0, #c1c8cc 100%)
}

.exam_skin_wood .refraction .refraction_brbtn_lay.click_disabled .refraction_brbtn .text {
    color: #97a0a6
}

.exam_skin_wood .refraction .refraction_brbtn {
    display: block;
    padding: 0 .75em;
    min-width: 6.25em;
    height: 2.83333em;
    line-height: 2.75em;
    background: -webkit-linear-gradient(top, #fff 0, #e9e9e9 100%);
    background: linear-gradient(to bottom, #fff 0, #e9e9e9 100%);
    border: 1px solid #397274;
    border-radius: .58333em;
    color: #333;
    text-align: center
}

.exam_skin_wood .refraction .refraction_brbtn .text {
    font-size: 1.16667em
}

.exam_skin_wood .refraction .refraction_brbtn:active {
    background: -webkit-linear-gradient(top, #89c5c7 0, #77b8ba 100%);
    background: linear-gradient(to bottom, #89c5c7 0, #77b8ba 100%);
    color: #fff
}

.exam_skin_wood .refraction .refraction_mode_list {
    position: relative;
    height: 100%
}

.exam_skin_wood .refraction .refraction_mode {
    position: relative;
    float: left;
    width: 100%;
    height: 6.25em;
    cursor: pointer;
    background: url(resources/wood/images/icon_preset.png) no-repeat;
    background-size: 3.91667em auto
}

.exam_skin_wood .refraction .refraction_mode.kqys {
    background-position: center 0
}

.exam_skin_wood .refraction .refraction_mode.kqybl {
    background-position: center -6.25em
}

.exam_skin_wood .refraction .refraction_mode.kqyslj {
    background-position: center -12.5em
}

.exam_skin_wood .refraction .refraction_mode.asksl {
    background-position: center -18.75em
}

.exam_skin_wood .refraction .refraction_mode.slkas {
    background-position: center -25em
}

.exam_skin_wood .refraction .refraction_mode.on:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(91, 146, 186, .3)
}

.exam_skin_wood .refraction .tab_container {
    position: absolute;
    left: 48.54167em;
    top: 15.16667em;
    width: 14.45833em
}

.exam_skin_wood .refraction .tab_container:after, .exam_skin_wood .refraction .tab_container:before {
    content: "";
    margin-top: 1.54167em;
    width: 0;
    height: 0;
    border-top: .5625em solid transparent;
    border-bottom: .5625em solid transparent;
    display: block;
    float: left
}

.exam_skin_wood .refraction .tab_container.under_water .tab_content {
    background: rgba(0, 12, 21, .4)
}

.exam_skin_wood .refraction .tab_container.under_water:before {
    border-right: .70833em solid rgba(0, 12, 21, .4)
}

.exam_skin_wood .refraction .tab_container.under_water:after {
    border-left: .70833em solid rgba(0, 12, 21, .4)
}

.exam_skin_wood .refraction .tab_container:before {
    border-right: .70833em solid rgba(0, 12, 21, .72)
}

.exam_skin_wood .refraction .tab_container:after {
    border-left: .70833em solid rgba(0, 12, 21, .72)
}

.exam_skin_wood .refraction .tab_container.arrow_left:before {
    display: block
}

.exam_skin_wood .refraction .tab_container.arrow_left:after, .exam_skin_wood .refraction .tab_container.arrow_right:before {
    display: none
}

.exam_skin_wood .refraction .tab_container.arrow_right:after {
    display: block
}

.exam_skin_wood .refraction .tab_content {
    float: left;
    max-width: 13.66667em;
    white-space: nowrap;
    padding: 0 .625em;
    background: rgba(0, 12, 21, .72);
    border-radius: .41667em
}

.exam_skin_wood .refraction .tab_list {
    float: left;
    width: 4.08333em;
    height: 4.25em;
    cursor: pointer;
    background: url(resources/wood/images/things.png) no-repeat;
    background-size: 37.5em 33.33333em
}

.exam_skin_wood .refraction .tab_list.icon_tree {
    background-position: 0 0;
    opacity: .46
}

.exam_skin_wood .refraction .tab_list.icon_human {
    background-position: -8.33333em 0;
    opacity: .41
}

.exam_skin_wood .refraction .tab_list.icon_lighthouse {
    background-position: -4.16667em 0;
    opacity: .36
}

.exam_skin_wood .refraction .tab_list.icon_fish {
    background-position: -12.5em 0;
    opacity: .25
}

.exam_skin_wood .refraction .tab_list.icon_coin {
    background-position: -16.66667em 0;
    opacity: .31
}

.exam_skin_wood .refraction .tab_list.icon_chopsticks {
    background-position: -20.83333em 0;
    opacity: .5
}

.exam_skin_wood .refraction .tab_list.on {
    opacity: 1 !important
}

.exam_skin_wood .refraction .refraction_tip {
    position: absolute;
    top: .5em;
    left: 2em;
    padding: .5em 1em .5em .95833em;
    background: rgba(106, 159, 201, .37);
    border-radius: .33333em;
    white-space: nowrap
}

.exam_skin_wood .refraction .refraction_tip_word {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-weight: 700
}

.exam_skin_wood .refraction .refraction_tip_word .faxian, .exam_skin_wood .refraction .refraction_tip_word .rushedian, .exam_skin_wood .refraction .refraction_tip_word .rusheguangxian, .exam_skin_wood .refraction .refraction_tip_word .rushejiao, .exam_skin_wood .refraction .refraction_tip_word .zheshejiao, .exam_skin_wood .refraction .refraction_tip_word .zheshiguangxian {
    height: 2.75em;
    line-height: 2.75em
}

.exam_skin_wood .refraction .refraction_tip_word .faxian .text, .exam_skin_wood .refraction .refraction_tip_word .rushedian .text, .exam_skin_wood .refraction .refraction_tip_word .rusheguangxian .text, .exam_skin_wood .refraction .refraction_tip_word .rushejiao .text, .exam_skin_wood .refraction .refraction_tip_word .zheshejiao .text, .exam_skin_wood .refraction .refraction_tip_word .zheshiguangxian .text {
    font-size: 2em
}

.exam_skin_wood .refraction .refraction_tip_word .faxian .text {
    color: #4d4d4d
}

.exam_skin_wood .refraction .refraction_tip_word .rushedian .text {
    color: #ffe434
}

.exam_skin_wood .refraction .refraction_tip_word .zheshejiao .text {
    color: #04740b
}

.exam_skin_wood .refraction .refraction_tip_word .rushejiao .text {
    color: #8300de
}

.exam_skin_wood .refraction .refraction_tip_word .rusheguangxian .text {
    color: #005798
}

.exam_skin_wood .refraction .refraction_tip_word .zheshiguangxian .text {
    color: #cb1f1f
}

.exam_skin_wood .refraction .refraction_tip_pic {
    display: inline-block;
    margin-left: 1.41667em;
    width: 3.04167em;
    text-align: center;
    vertical-align: top
}

.exam_skin_wood .refraction .refraction_tip_pic li {
    width: 100%;
    height: 2.75em;
    background: url(resources/wood/images/tips.png) no-repeat;
    background-size: 100% auto
}

.exam_skin_wood .refraction .refraction_tip_pic .faxian {
    background-position: 0 0
}

.exam_skin_wood .refraction .refraction_tip_pic .rushedian {
    background-position: 0 -2.66667em
}

.exam_skin_wood .refraction .refraction_tip_pic .zheshejiao {
    background-position: 0 -5.5em
}

.exam_skin_wood .refraction .refraction_tip_pic .rushejiao {
    background-position: 0 -8.25em
}

.exam_skin_wood .refraction .refraction_tip_pic .rusheguangxian {
    background-position: 0 -11.16667em
}

.exam_skin_wood .refraction .refraction_tip_pic .zheshiguangxian {
    background-position: 0 -14em
}

.lightMovement div {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

.lightMovement .arrow_blue, .lightMovement .arrow_purple, .lightMovement .arrow_red, .lightMovement .btn_openlist, .lightMovement .btn_rotate, .lightMovement .btn_translate {
    background: url(resources/wood/images/icon_movelight.png) no-repeat;
    background-size: 600px 150px
}

.lightMovement .icon_eye, .lightMovement .real_chopsticks, .lightMovement .real_coin, .lightMovement .real_fish, .lightMovement .real_human, .lightMovement .real_lighthouse, .lightMovement .real_tree {
    background: url(resources/wood/images/things.png) no-repeat;
    background-size: 900px 800px
}

.lightMovement .point_circle {
    fill: #ffe013
}

.lightMovement .arrow_blue {
    width: 34px;
    height: 45px;
    background-position: 0 0
}

.lightMovement .arrow_blue.on {
    background-position: -50px 0
}

.lightMovement .arrow_red {
    width: 34px;
    height: 45px;
    background-position: -200px 0
}

.lightMovement .arrow_red.on {
    background-position: -250px 0
}

.lightMovement .arrow_purple {
    width: 34px;
    height: 45px;
    background-position: -100px 0
}

.lightMovement .arrow_purple.on {
    background-position: -150px 0
}

.lightMovement .btn_rotate {
    width: 64px;
    height: 64px;
    background-position: 0 -70px;
    cursor: pointer
}

.lightMovement .btn_rotate.on {
    background-position: -100px -70px
}

.lightMovement .btn_translate {
    width: 64px;
    height: 64px;
    background-position: -200px -70px;
    cursor: pointer
}

.lightMovement .btn_translate.on {
    background-position: -300px -70px
}

.lightMovement .btn_openlist {
    width: 64px;
    height: 64px;
    background-position: -400px -70px;
    cursor: pointer
}

.lightMovement .btn_openlist.on {
    background-position: -500px -70px
}

.lightMovement .svg_text {
    /* font-size: 48px;
    font-weight: 700 */
    font-size: 70px;
    font-weight: 700;
}

.lightMovement .svg_text.color_orange {
    fill: #d58b22
}

.lightMovement .svg_text.color_blue {
    fill: #2383cc
}

.lightMovement .svg_text.color_green {
    fill: #04740b
}

.lightMovement .svg_text.color_red {
    fill: #cb1f1f
}

.lightMovement .svg_text.color_black, .lightMovement .svg_text_l.color_black {
    fill: #4d4d4d
}

.lightMovement .svg_text_l {
    font-size: 85px;
    font-weight: 700
}

.lightMovement .svg_text_l.color_white {
    fill: #dffbff
}

.lightMovement .svg_text_l.color_glass {
    fill: #6a9ea1
}

.lightMovement .line_normal {
    stroke: #4d4d4d;
    stroke-width: 4;
    stroke-dasharray: 14
}

.lightMovement .line_dashred {
    stroke: #cb1f1f;
    stroke-width: 4;
    stroke-dasharray: 14
}

.lightMovement .bg_water {
    width: 1420px;
    height: 396px;
    background: url(resources/wood/images/bg_water.png) center center no-repeat;
    background-size: 100% 100%
}

.lightMovement .bg_waterground {
    width: 1520px;
    height: 474px;
    background: url(resources/wood/images/bg_waterground.png) right bottom no-repeat;
    background-size: 100% 100%
}

.lightMovement .bg_glassrect {
    width: 905px;
    height: 453px;
    background: url(resources/wood/images/glass_rect.png) right bottom no-repeat;
    background-size: 100% 100%
}

.lightMovement .bg_glasstria {
    width: 771px;
    height: 635px;
    background: url(resources/wood/images/glass_tria.png) right bottom no-repeat;
    background-size: 100% 100%
}

.lightMovement .icon_eye {
    width: 64px;
    height: 44px;
    background-position: -596px 4px
}

.lightMovement .real_fish {
    width: 90px;
    height: 78px;
    background-position: -696px 4px
}

.lightMovement .real_coin {
    width: 85px;
    height: 82px;
    background-position: -796px 4px
}

.lightMovement .real_chopsticks {
    width: 558px;
    height: 27px;
    background-position: 0 -120px
}

.lightMovement .fake_chopsticks, .lightMovement .fake_coin, .lightMovement .fake_fish {
    opacity: .6
}

.lightMovement .real_tree {
    width: 383px;
    height: 252px;
    background-position: 0 -200px
}

.lightMovement .real_lighthouse {
    width: 383px;
    height: 252px;
    background-position: -400px -200px
}

.lightMovement .real_human {
    width: 383px;
    height: 252px;
    background-position: 0 -500px
}

.lightMovement .fake_tree {
    opacity: .42
}

.lightMovement .fake_lighthouse {
    opacity: .37
}

.lightMovement .fake_human {
    opacity: .32
}

/**
*新增
*/
.lightMovement .bg_blue {
    fill: #005798
}

.lightMovement .bg_red {
    fill: #cb1f1f
}

.lightMovement .bg_purple {
    fill: #775176
}

.hide_dom {
    display: none;
}

.lightMovement .svg_text.color_purple {
    fill: #8300de;
}
