<div class="_stage" coursewareobject-page-stage slides-drag="onDragSelectModule($event)" tableindex="0">
    <div ng-repeat="module in modules.all" class="fct_module_wrapper _module-wrap" ng-class="{'_selected':isSelectedModule(module)}"
         data-keep-rate="{{module.template.keep_rate}}" data-shape-group-id="{{module.shapeGroupId}}"
         ng-mousedown="mousedownModule(module,$event)"
        bind-context-menu="module"
         style="{{calculateModuleStyle(module,$index)}}" ng-hide="module.hide" tabindex="0">
        <div style="{{rotateStyle(module)}}">
            <div coursewareobject-page-module="module"  modules="modules" class="fct_module_shape" ng-style="{'z-index':($index+1000)}" ng-if="module.type!='group'"></div>
            <div class="fct_module_shape" ng-style="{'z-index':($index+100)}" ng-if="module.type=='group'">

            </div>
            <div coursewareobject-page-module-box="module"  modules="modules" on-delete="deleteModule(module)" ng-style="{'z-index':($index+500)}"></div>
        </div>

    </div>

    <div ng-repeat="module in modules.all"  context-menu module="module" modules="modules"  ng-if="module.type!='group'" style="z-index:10000;"></div>

    <div class="_drawing-canvas" slides-drag="onDrawing($event)"  ng-show="drawing">

    </div>
    <div class="_drawing-line-canvas" style="width:100%;height:100%;z-index:10000;"  slides-drag="onLineDrawing($event)" ng-show="drawingline">
        <div class="lineWrapper" ng-style="lineWrapperStyle()">
            <div></div>
        </div>
    </div>
    <div copy-handler modules="modules" style="width:0;height:0;z-index:-1;position:absolute;left:-200px;top:-300px;"></div>
    <div check-clipboardstatus style="width:0;height:0;z-index:-1;position:absolute;left:-200px;top:-300px;"></div>

    <div context-menu type="container" style="z-index:10000;"></div>

    <div class="selectBox" ng-style="getSelectBoxStyle()" ng-if="selectBox.draging"></div>
</div>
