<?xml version='1.0' encoding='UTF-8' ?>
<module id='FillColor'>
    <properties>
        <property name="QuestionId" type="string"/>
        <property name="TimerType" type="string"/>
        <property name="TimeLimit" type="number"/>
        <property name="QuestionContent" type="json"/>
    </properties>
</module>
