<li class="chart_list_td clearfix" :class="[data.style,{move_list:isShow},{hide_dom: !currentTab}]" :type="data.type">
    <!--控制每列旋转动画，在li上增加类名 move_list-->
    <span class="stu_name_avatar_box">
         <img alt="" class="stu_name_user_avatar" :src="data.headIcon || defaultImgUrl">
    </span>
    <span class="chart_list_cols cols_01"><em class="text">{{data.studentName}}</em></span>
    <span class="chart_list_cols cols_02"><em class="text">{{data.accuracy}}</em></span>
    <span class="chart_list_cols cols_03"><em class="text">{{data.time}}</em></span>
    <span class="chart_list_cols cols_04">
         <a href="#" class="chart_btn" @click="seeDetail()"><em class="text">{{lang.seeDetail}}</em></a>
    </span>
</li>