<!--统计列表-->
<div class="whole-level__content scroll-enread-light">
    <!--评测等级区域-->
    <base-list :data="listData.answerList" class="whole-level__list answer">
        <template scope="props">
            <grade-item :grade-data="props.data" @user-detail=""></grade-item>
        </template>
    </base-list>
    <!--未提交区域-->
    <base-list :data="listData.noAnswerList" class="whole-level__list no-answer">
        <template scope="props">
            <grade-item :grade-data="props.data"></grade-item>
        </template>
    </base-list>
</div>
<!--统计列表-->