/* 框架 */
.game_container{ width: 1280px; height: 800px; margin: 0 auto; background: url(resources/theme_wood/theme_wood.jpg) no-repeat; background-size: 100% 100%; }
/* 头部 */
.game_container .header{ width: 100%; height: 135px; margin-bottom: 10px; }
.game_container .header .time{ float: left; margin: 25px 0 0 64px; line-height: 60px; }
.game_container .header .time01,.header .time03{ position: relative; display: inline-block; width: 96px; height: 92px; line-height: 87px; margin: 0 -10px; text-align: center; font-size: 46px; color: #fff; background: url(resources/theme_wood/wood_time.png) no-repeat; background-size: 100% auto; text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.078); }
.game_container .header .time02{ display: none; }
.game_container .header .last_time .time03{ color: #ff0000; }
.game_container .header .time01:after,.header .time03:after{ content:""; position: absolute; top: 43%; left: 13px; width: 70px; height: 1px; background: #000; }
.game_container .header .title_s{ word-break: break-all; float: right; margin-right:180px; width: 830px; line-height: 35px; margin-top: 24px; padding: 27px 16px 0; font-size: 30px; font-weight: normal; text-align: center; text-shadow: 1px 1.732px 0px rgba(255, 255, 255, 0.341); }
.game_container .header .title_m{ word-break: break-all; float: right; margin-right:180px; width: 830px; line-height: 27px; margin-top: 24px; padding: 19px 16px 0; font-size: 21px; font-weight: normal; text-align: left; text-shadow: 1px 1.732px 0px rgba(255, 255, 255, 0.341); }

.game_container .header .title_s_teacher{ word-break: break-all; float: right; width: 987px; line-height: 28px; margin-top: 70px; padding: 27px 16px 0; font-size: 25px; font-weight: normal; text-align: center; text-shadow: 1px 1.732px 0px rgba(255, 255, 255, 0.341); }
.game_container .header .title_m_teacher{ word-break: break-all; float: right; width: 987px; line-height: 24px; margin-top: 70px; padding: 19px 16px 0; font-size: 18px; font-weight: normal; text-align: left; text-shadow: 1px 1.732px 0px rgba(255, 255, 255, 0.341); }

.game_container .btn_box {
    position: absolute;
    right:10px;
    top:15px;
    line-height: 55px;
}

.game_container .btn_box .btn {
    display: inline-block;
    width: 142px;
    height: 62px;
    margin: 25px 26px 0 20px;
    color: #585858;
    font-size: 20px;
    text-align: center;
    letter-spacing: 8px;
    background: url(resources/theme_wood/btn.png) no-repeat;
    background-size: 100% auto;
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.2);
}

.game_container .btn_box .btn:active {
    background: url(resources/theme_wood/btn_active.png) no-repeat;
    background-size: 100% auto;
}

/* 主体 */
.game_container .wrapper{
  width:auto;
}
/* 左边栏-列表 */
.game_container .side{ position: relative; float: left; width: 217px; height: 624px; margin: 0 0 0 29px; }
.game_container .side_head{ z-index: 3; width: 100%; height: 43px; text-align: center; }
.game_container .side_head .title{ width: 100%; line-height: 43px; font-size: 22px;letter-spacing:4px; color: #fff; }
.game_container .side_head .title .num{ font-size: 30px; display:inline-block;}

.game_container .side_body{ height: 576px; margin-top: 5px; overflow-y: auto; }
.game_container .side_body .list{ height: 70px; margin: 16px 0 0 3px; }
.game_container .side_body .icon{ display: inline-block; vertical-align: middle; width: 27px; height: 30px; }
.game_container .side_body .list_yes .icon{ background: url(resources/theme_wood/wood_right.png) no-repeat; background-size: 100% 100%; }
.game_container .side_body .list_no .icon{ background: url(resources/theme_wood/wood_wrong.png) no-repeat; background-size: 100% 100%; }
.game_container .side_body .game_box{ width: 70px; height: 70px; box-shadow: 1.5px 2.598px 5px 0px rgba(4, 0, 0, 0.196); border: 2px solid #885e17; border-radius: 10px; background: #fff; }
.game_container .side_body .box_first{ display: inline-block; vertical-align: middle; overflow: hidden; }
.game_container .side_body .box_first img{ width: 100%; height: 100%; }
.game_container .side_body .box_second{ display: inline-block; vertical-align: middle; text-align: center; overflow: hidden; }
.game_container .side_body .text_s{ -webkit-transform: translateY(-50%); transform: translateY(-50%); margin-top: 50%; display:inline-block; font-size: 20px; color: #333; word-break: break-all;word-wrap: break-word;}
.game_container .side_body .text_m{ -webkit-transform: translateY(-50%); transform: translateY(-50%); margin-top: 50%; display:inline-block; font-size: 15px; line-height: 16px; color: #333; word-break: break-all;word-wrap: break-word;}
.game_container .side_body .text_l{ -webkit-transform: translateY(-50%); transform: translateY(-50%); margin-top: 50%; display:inline-block; font-size: 12px; line-height: 16px; color: #333; word-break: break-all;word-wrap: break-word;}
.game_container .side_body .line{ display: inline-block; vertical-align: middle; width: 20px; height: 1px; margin: 0 -5px; background: url(resources/theme_wood/wood_line.png) no-repeat; background-size: 100% 100%;}
.game_container .side_body .unfinished{ padding-bottom: 16px; border-bottom: 2px solid #b9b0b0; }


/* 右边栏-游戏操作区 */
.game_container .main{ float: left; width: 987px; height: 630px; margin: 0 0 0 26px; padding: 8px 8px 8px 8px; }
.game_container .game_canvas{ width: 971px; height: 608px; }

/* 弹窗 */
.game_container .pop{ position: absolute; top: 302px; left: 50%; width: 372px; height: 240px; text-align: center; margin-left: -40px;}
.game_container .pop_fail{ background: url(resources/theme_wood/wood_pop_fail.png) no-repeat; background-size: 100% auto; }
.game_container .pop_succeed{ background: url(resources/theme_wood/wood_pop_succeed.png) no-repeat; background-size: 100% auto; }
.game_container .pop_hard{ background: url(resources/theme_wood/wood_pop_succeed.png) no-repeat; background-size: 100% auto; }
.game_container .pop .title{ padding-top: 22px; font-size: 24px; font-weight: normal; color: #fff; }
.game_container .pop .time{ padding: 60px 0 28px; font-size: 32px; color: #ff9000; }
.game_container .pop .text{ font-size: 16px; color: #605b5b; }


/* 答题统计样式 */
.skin_linkup{
    margin-top: 5px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: baseline;
    box-sizing: border-box;
    width: 217px;
}

.skin_linkup .list{ height: 75px; margin: 16px 0 0 3px; list-style: none;}
.skin_linkup .icon{ display: inline-block; vertical-align: middle; width: 27px; height: 30px; }
.skin_linkup .game_box{ width: 70px; height: 70px; box-shadow: 1.5px 2.598px 5px 0px rgba(4, 0, 0, 0.196); border: 2px solid #885e17; border-radius: 10px; background: #fff; }
.skin_linkup .box_first{ display: inline-block; vertical-align: middle; overflow: hidden; }
.skin_linkup .box_first img{ width: 100%; height: 100%; }
.skin_linkup .box_second{ display: inline-block; vertical-align: middle; text-align: center; overflow: hidden; }
.skin_linkup .text_s{ -webkit-transform: translateY(-50%); transform: translateY(-50%); margin-top: 50%; display:inline-block; font-size: 20px; color: #333; word-break: break-all;word-wrap: break-word;}
.skin_linkup .text_m{ -webkit-transform: translateY(-50%); transform: translateY(-50%); margin-top: 50%; display:inline-block; font-size: 15px; line-height: 16px; color: #333; word-break: break-all;word-wrap: break-word;}
.skin_linkup .text_l{ -webkit-transform: translateY(-50%); transform: translateY(-50%); margin-top: 50%; display:inline-block; font-size: 12px; line-height: 16px; color: #333; word-break: break-all;word-wrap: break-word;}
.skin_linkup .line{ display: inline-block; vertical-align: middle; width: 20px; height: 1px; margin: 0 -5px; background: url(resources/theme_wood/wood_line.png) no-repeat; background-size: 100% 100%;}
.skin_linkup .unfinished{ padding-bottom: 16px; border-bottom: 2px solid #b9b0b0; }
/* /答题统计样式 */