.ed_composition_mindx .ed_composition_mindx_btn .mindMap_tools .button_modules .com_part_toolbar ul li.mindMap_pro_bar:before {
    width: 8em;
}

.ed_composition_mindx .ed_composition_mindx_btn .mindMap_tools .button_modules .com_part_toolbar ul li.mindMap_progress_num {
    width: 2.8em;
}

.ed_composition .ed_composition_view_wrap {
    word-break: break-word;
}

.ed_composition .ed_composition_asset_wrapper .tabcell {
    min-width: 220px;
}

.mindMap_body.mindMap_guardian {
    transform: initial !important;
}

._title_invalid {
    border: 1px solid #e1e1e1!important;
    background-color: #FFE5E0;
}

._requirement_invalid_border {
    border: 1px solid #e1e1e1!important;
}

