	<div class="com_lay_foottool">
		<ul class="clearfix">
            <li class="skin">
                <a href="#"><ins></ins><span>换肤</span></a>
                <div class="toolpop">
                    <span class="skin_bg_left"></span>
                    <div class="skinwrap">
                        <ul class="skinlist clearfix">
                            <li><a href="###"><img src="wood/images/demo_skinlist.png" alt=""></a></li>
                            <li class="on"><a href="###"><img src="wood/images/demo_skinlist2.png" alt=""></a></li>
                            <li><a href="###"><img src="wood/images/demo_skinlist.png" alt=""></a></li>
                            <li><a href="###"><img src="wood/images/demo_skinlist2.png" alt=""></a></li>
                            <li><a href="###"><img src="wood/images/demo_skinlist.png" alt=""></a></li>
                            <li><a href="###"><img src="wood/images/demo_skinlist2.png" alt=""></a></li>
                            <li><a href="###"><img src="wood/images/demo_skinlist.png" alt=""></a></li>
                            <li><a href="###"><img src="wood/images/demo_skinlist2.png" alt=""></a></li>
                            <li><a href="###"><img src="wood/images/demo_skinlist.png" alt=""></a></li>
                            <li><a href="###"><img src="wood/images/demo_skinlist2.png" alt=""></a></li>
                            <li><a href="###"><img src="wood/images/demo_skinlist.png" alt=""></a></li>
                            <li><a href="###"><img src="wood/images/demo_skinlist2.png" alt=""></a></li>
                        </ul>
                    </div>    
                    <span class="skin_bg_right"></span>
                </div>
            </li>
            <li class="disprtion on">
                <a href="#"><ins></ins><span>题型描述</span></a>
                <div class="toolpop" style="display:none;">
                    <div class="popbody">
                        <div class="popbody_pics_box">
                            <!-- 编辑引导 -->
                            <div class="title_left icon_bjyd">编辑引导</div>
                            <!-- /编辑引导 -->
                            <!-- 题型预览 -->
                            <div class="title_left icon_txyl" style="display:none;">题型预览</div>
                            <!-- /题型预览 -->
                            <!-- 切换的引导图片 -->
                            <div class="box_guide_pic">
                                <ul>
                                    <li class="on"><img src="http://localhost:8080/common/layout/wood/images/pics_yd_fl.png" alt=""></li>
                                    <li><img src="../pics/pencils.jpg" alt=""></li>
                                    <li><img src="../pics/pencils.jpg" alt=""></li>
                                    <li><img src="../pics/pencils.jpg" alt=""></li>
                                </ul>
                            </div>
                            <!-- 左右按钮失效的时候添加类名btn_hide -->
                            <a class="btn_operation go_left btn_hide" href="###">左</a>
                            <a class="btn_operation go_right" href="###">右</a>
                        </div>
                        <div class="introtxt">1.  适用于需要对内容进行多维度分类的题型。
（如，将自然数进行分类，横向维度为整数、小数，纵向维度为正负数，同学
们可将设置好的数字拖动至表格中进行答题。)<br/>
2.  表格行列数可通过增减行按钮进行设置，最多支持5行5列。<br/>
3.  如编辑题目时未插入多媒体，则默认显示系统内置图片。<br/>
4.  可通过【设置时间】按钮设置学生做题的计时模式。</div>
                    </div>
                    <div class="popfoot">
                        <a href="###" class="btn btn_submit">我知道了</a>
                    </div>
                </div>
            </li>  
            <li class="timeset">
                <a href="#"><ins></ins><span>时间设置</span></a>
                <div class="toolpop" style="display:none">
                    <div class="popheader"><h3 class="tit">计时方式选择</h3></div>
                    <div class="popbody">
                        <div class="formrow">
                            <a href="###" class="radio">顺时针</a>
                        </div>
                        <div class="formrow on">
                            <a href="###" class="radio">倒计时</a>
                            <p class="inpcon">
                                <input type="text" class="inp">
                                <em>分</em>
                            </p>
                            <p class="inpcon">
                                <input type="text" class="inp">
                                <em>秒</em>
                            </p>
                        </div>
                    </div>
                    <div class="popfoot">
                        <a href="###" class="btn btn_submit">确定</a>
                        <a href="###" class="btn btn_cancel">取消</a>
                    </div>
                </div>
            </li> 
            <li class="view">
                <a href="#"><ins></ins><span>预览</span></a>
            </li>
            <li class="save">
                <a href="#"><ins></ins><span>保存</span></a>
            </li>
            <li class="insert">
                <a href="#"><ins></ins><span>插入</span></a>
            </li>
        </ul>
	</div>