<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../common_wood.scss">
</head>
<body class="exam_wood">

<div class="com_layout com_layout_large">
	<div class="com_lay_main">
		<div class="com_lay_header">
			<div class="com_u_timebox">
				<span class="time_1">05</span>
				<span class="time_2">:</span>
				<span class="time_1">21</span>
			</div>
			<div class="com_lay_toptool">
				<a href="###" class="com_u_btn1">提交</a>
			</div>
		</div>
		<div class="com_lay_contain">
			<div class="com_lay_mboard">
				<div class="com_lay_boardtit">
					<h2 class="com_u_boardtit">
						<p class="tit" contenteditable="true"></p><!--此处建议使用p标签配合contenteditable属性的形式，也可换成input-->
					</h2>
				</div>
				<div class="com_lay_board">
					<div class="com_m_sideboard_1 com_grid_4">
						<!--左面板宽度对应类名：com_grid_0、com_grid_1、com_grid_2 ~ com_grid_10 分别表示：无左侧面板、宽度为10%、20% ~ 100% -->
						<div class="com_m_sidehead">
							<!--if 有标题的话写在这儿-->
						</div>
						<div class="com_m_sidecon">
							<!--左栏正文-->
						</div>
					</div>
					<div class="com_m_mainboard_1">
						<!--正文-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<link rel="import" href="/common/layout/foottool.html?__inline">
</div>


<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="/common/js/ue.js"></script>
</body>
</html>