<div class="exam-skin-wood exam_skin_wood">
    <div class="baseMod-com-layout" id="layout">
        <!--
            pad类名baseMod-com-wrapper-pad
            白板类名baseMod-com-wrapper-board
            学生端答题框baseMod-com-wrapper-answer
            老师端等待学生答题baseMod-com-wrapper-waiting
        -->
        <div class="baseMod-com-wrapper-board nqti-base-composition">
            <div class="baseMod-com-header-box">
                <!--计时器-->
                <div class="com_time com_lay_timer">
                </div>
                <p class="upload">提交人数：<span class="num">0</span>/0</p>
            </div>
            <!-- 公共提交按钮 -->
            <div class="baseMod-com-submit" style="height:4.375em;">
            </div>
            <!-- /公共提交按钮 -->
            <div class="baseMod-com-layout-container js-container">
                <div class="baseMod-com-layout-body baseMod-scrollbar-style-gray">
                    <!-- module-nqit容器 -->
                    <div class="com_lay_panel"></div>
                    <!-- 头部导航 -->
                    <!--<div class="nqti-base-composition-tit">
                        <span class="txt" style="float:left;">作文题</span>
                        <ul class="nqti-base-composition-btn-item">
                            <li class="current"><span class="txt">查看题目</span></li>
                            <li><span class="txt">查看素材</span></li>
                            <li><span class="txt">进入书写</span></li>
                        </ul>
                    </div>-->
                    <!-- /头部导航 -->

                    <!-- 内容区域 -->
                    <!--<div class="nqti-base-composition-bd baseMod-scrollbar-style-gray com_lay_panel">
                    </div>-->
                    <!-- /内容区域 -->
                    <!-- 手写板 -->
                    <div class="com_lay_write">
                    </div>
                    <!-- /手写板 -->
                </div>
            </div>
            <div class="layout_footbar">
                <!--答题进度-->
            </div>
            <div class="com_board_sdt_box com_lay_send base_mod_send">
                <!--发送按钮-->
            </div>
        </div>
    </div>
</div>