<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div class="app">

        <data-over-view :overviewdata='overviewdata'>
        </data-over-view>


    </div>

    <script src="../../../node_modules/vue/dist/vue.min.js"></script>
    <script src="../../../../dist/components.js"></script>

    <script>
        var app = new Vue({
            el: ' .app ',
            data: {
                overviewdata: {
                    accuracy: 80,
                    correctNum: 2,
                    errorNum: 1,
                    undoNum: 0
                }
            },
            components: {
                'DataOverView': window.__ModuleComponent.DataOverView
            }
        });
    </script>
</body>

</html>