
<div class="exam_skin_wood">
    <div class="com_layout">
        <div class="com_wrapper_pad">
            <!-- pad端加.com_wrapper_pad，白板端加.com_wrapper_board  白板端发送之后 .freeCombination_wrapper 添加类名 .freeCombination_send 让头部显示不同的样式 -->
            <!--头部-->
            <div class="com_layout_header">
                <!--计时器-->
                <div class="com_header_time">
                    <div class="com_time _top_left_panel">

                    </div>
                    <p class="upload"><b class="upload_text">提交人数：</b><span class="num _num">00</span>/<span class="_count">00</span></p>
                </div>
                <!--/计时器-->
                <!--提交按钮-->
                <div class="com_header_tool _top_right_panel">

                </div>
                <!--/提交按钮-->
            </div>
            <!--/头部-->
            <!--主体内容-->
            <div class="com_layout_container">
                <div class="com_layout_exam_content _center_panel">
                    <!-- 角色朗读内容 -->
                </div>
                <div class="pptshell_mask _mask_Panel"></div>
            </div>
            <!--/主体内容-->
            <!--预览提交结果弹窗-->
            <div class="bg_pop pop_result">
                <p class="text"></p>
            </div>
            <!--预览提交结果弹窗-->
        </div>
    </div>
    <div class="mix__messagebox _message_panel" style="display: none;"><!-- 全屏遮罩的弹出信息窗体 -->

    </div>
</div>

