.timeNum {
    position: relative;
    display: inline-block;
    width: 104px;
    height: 98.66667px;
    line-height: 90px;
    margin-right: -20px;
    font-size: 46.66667px;
    color: #dfdfdf;
    text-align: center;
    background: url(img/bg_time.png) no-repeat center center;
    background-size: 100% auto;
    overflow: hidden;
}

.timeNum:before {
    position: absolute;
    left: 16px;
    top: 52px;
    content: "";
    width: 68px;
    height: 1px;
    margin-top: -6px;
    border-top: 1px solid #000; }
.timeNum_ {
    display: none;
}