<!-- 
<div class="toolline toolline2">
            <a class="btn_reduce" ng-show="verticalItems.length<=2"></a>
			<a href="javascript:void(0)"  ng-show="verticalItems.length>2" class="btn_reduce" ng-click="delItem(verticalItems)">-</a>
			<span class="line" translate="table.line"></span>
            <a class="btn_add" ng-show="verticalItems.length>=5"></a>
			<a href="javascript:void(0)"  class="btn_add" ng-click="addItem(verticalItems)" ng-show="verticalItems.length<5">+</a>
			<input type="text" class="text" value="{{'0'+verticalItems.length}}" readonly="true"/>
            <a class="btn_reduce col_reduce" ng-show="horizontalItems.length<=1"></a>
			<a href="javascript:void(0)" ng-show="horizontalItems.length>1" class="btn_reduce col_reduce" ng-click="delItem(horizontalItems)">-</a>
			<span class="line" translate="table.col"></span>
            <a class="btn_add" ng-show="horizontalItems.length>=5"></a>
			<a href="javascript:void(0)" ng-show="horizontalItems.length<5" class="btn_add" ng-click="addItem(horizontalItems)">+</a>
			<input type="text" class="text col_text" value="{{'0'+horizontalItems.length}}" readonly="true"/>
</div>
--><div class="toolline toolline2"><div><p translate="table.line"></p><a class="btn_reduce" ng-show="verticalItems.length<=2"></a> <a href="javascript:void(0)" ng-show="verticalItems.length>2" class="btn_reduce" ng-click="delItem(verticalItems)">-</a> <a href="javascript:void(0)" class="btn_add"><span ng-click="addItem(verticalItems)" ng-show="verticalItems.length<5">+</span></a> <input type="text" class="text" value="{{'0'+verticalItems.length}}" readonly="true"></div><div><p translate="table.col"></p><a class="btn_reduce col_reduce" ng-show="horizontalItems.length<=1"></a> <a href="javascript:void(0)" ng-show="horizontalItems.length>1" class="btn_reduce col_reduce" ng-click="delItem(horizontalItems)">-</a> <a href="javascript:void(0)" class="btn_add"><span ng-click="addItem(horizontalItems)" ng-show="horizontalItems.length<5">+</span></a> <input type="text" class="text col_text" value="{{'0'+horizontalItems.length}}" readonly="true"></div></div>